[2013-10-15 12:49] dhowe opened #1 "Misaligned checkboxes in menu bar"
Happens occasionally -- need to add an image showing the problem

[2013-10-15 12:51] dhowe opened #2 "Adview needs much work..."
Currently just JSON (should also probably be moved to a browser page, rather than a panel)

[2013-10-15 12:51] dhowe opened #3 "Remove cookies and other identifying headers from ADN requests"

[2013-10-15 12:52] dhowe opened #4 "Timeout old captured images (add a TimeoutCache and delete as items time-out)"

[2013-10-15 12:53] dhowe opened #5 "Add localization labels (replace hardcoded strings)"

[2013-10-15 12:53] dhowe opened #6 "Download icon flashes when image captures are taken ..."
Can we disable this?

[2013-10-15 12:55] dhowe opened #7 "Log recreated on each load of addon..."
this is a preference ('extensions.adnauseam.saveLogs') but thus far I cant get it to not recreate the log each time...

file: adnlogger.js

[2013-10-15 12:56] dhowe opened #8 "Duplicate capture images being created..."

[2013-10-15 12:58] dhowe opened #9 "Snaps should never be taken from a domain that user (manually) visited"
Problem is how to determining which URLs have been visited manually...

[2013-10-15 12:58] dhowe opened #10 "Addon activities showing up in browser-history"

[2013-11-02 13:15] dhowe opened #11 "Update to current version of Adblock Plus..."
Integrate with current version of Adblock Plus...

[2013-11-02 13:32] dhowe opened #12 "Block Audio/Video from playing in pages clicked by the plugin"
Its annoying when ADN clicks a link in its hidden window, which then auto-starts video or audio. As the tab is not visible, the user can only mute the whole system, or restart Firefox.

[2014-01-03 06:01] #1 closed, assigned to nobody

[2014-01-03 06:01] #3 closed, assigned to nobody

[2014-01-03 06:01] #4 closed, assigned to nobody

[2014-01-03 06:01] #6 closed, assigned to nobody

[2014-01-03 06:01] #8 closed, assigned to nobody

[2014-01-03 06:01] #9 closed, assigned to nobody

[2014-01-03 06:01] #10 closed, assigned to nobody

[2014-01-03 06:01] #11 closed, assigned to nobody

[2014-01-03 13:04] mushon opened #13 "Design landing page for the project"

[2014-01-03 13:05] mushon opened #14 "Add @Mushon to project so he can be assigned to tasks"

[2014-01-03 13:24] mushon opened #15 "Design ad-view page"
I like @dhowe's suggestion to make the log page a grid of ads as a full-frame collage. I think using [Masonry](http://masonry.desandro.com/) could make sense though we will need to check it with different ad sizes. Designer's Toolbox has [a good documentation of what to expect](http://designerstoolbox.com/designresources/banners/).
Wikipedia also has a nice SVG for that:
![web ad sizes](http://upl

[2014-01-03 13:34] mushon opened #16 "dramatic sound appear out of no where every minute or so"
It's as if there's a sound loop running in the background and it plays for about 15 seconds every 3 minutes or so. It's actually quite subtle and pretty, but it shouldn't happen.

I thought it has something to do with #12 but it happens even after I close all tabs and open a new one with no blockable ads.

Yet again it's so mysterious and spooky that it could be only in my head… (will report if th

[2014-01-05 02:12] #14 closed, assigned to nobody

[2014-01-05 02:13] #2 closed, assigned to nobody

[2014-01-08 07:50] dhowe opened #17 "ADN's dedicated tab not closely correctly"
Not sure this should be a pinned tab to begin with, but I notice that sometimes after restarting, there are multiple of these dedicated tabs, which means that it isn't closing correctly on shutdown.

Also not sure it isn't happening because of my dev-setup, so if someone could verify this, that would be great.

![screen shot 2014-01-08 at 6 36 00 pm](https://f.cloud.github.com/assets/737638/186751

[2014-01-08 08:22] mushon opened #18 "Pop-ups from hidden ad screen"
At some point I saw loads of pop ups hidden behind my main browser window. I do not recall visiting a link that generated them directly, so this might be related. Do we block popups from the ad pages?

I will post here again if and when I see this again.

[2014-01-08 10:41] #16 closed, assigned to nobody

[2014-01-08 11:56] dhowe opened #19 "Log should update periodically when open"

[2014-01-08 11:57] dhowe opened #20 "Log should either be in reverse order, or open scrolled to bottom"
Currently you see the old log messages first.

Perhaps  we should write the log as JSON, then use a content-script to render it in reverse order with some nicer css?

[2014-01-09 04:54] dhowe opened #21 "WWW: Missing pages on website (How it Works, Contact, Help/FAQ)"

[2014-01-09 05:33] dhowe opened #22 "WWW: 'INSTALLATION' anchor link not working"
To recreate: click 'INSTALLATION' link at very top of page.
Should jump to 'installation' section at bottom of page.

[2014-01-09 05:34] #7 closed, assigned to dhowe

[2014-01-09 05:36] #17 closed, assigned to nobody

[2014-01-09 09:15] dhowe opened #23 "AdParser should better handle ads in IFrames"
These are often (but not always) Flash ads...

Sites exhibiting this problem:

http://www.engadget.com/
http://techcrunch.com/
http://www.tomshardware.com/
https://hk.news.yahoo.com/

Details on above sites:
-----------
[code]

[2014-01-12 06:44] dhowe opened #24 "Modify Adview to use ADN-Tab rather than panel"

[2014-01-17 08:55] dhowe opened #25 "ADN is disabled, yet menu option shows 'disable' button (seems to happen on browser startup)"

[2014-01-17 08:58] dhowe opened #26 "Add verbose/notification mode, for real-time viewing of ADN behavior in notification UI"

[2014-01-17 09:01] dhowe opened #27 "Add screen-capture functionality for non-image ads"

[2014-01-17 15:01] dhowe opened #29 "Install problems with OSX Mavericks..."

[2014-01-18 14:04] #24 closed, assigned to dhowe

[2014-01-18 14:05] #26 closed, assigned to dhowe

[2014-01-22 09:50] dhowe opened #30 "Restart required after update (possible install as well?)"
This should not be the case...

[2014-02-03 08:36] mushon opened #31 "All extensions crash silently"
This has started happening since I started using AdNauseum. As you can see in the screenshot the icons are not there even though the extensions are active.

![screen shot 2014-02-03 at 10 30 01 am](https://f.cloud.github.com/assets/27123/2063061/b5e58930-8cac-11e3-9766-9980ec877da7.png)

Hopefully this error can shed some light on the subject:

![screen shot 2014-02-03 at 10 39 44 am](https://f.cl

[2014-02-03 14:58] mushon opened #32 "Place the ADN icon on the top right bar"

[2014-02-05 14:38] mushon opened #33 "Finish ADN webpage"
I was thinking to make the web page for the extension just full of banners and either have some of what we want to say or *ALL* of what we want to say in these banners. This could even be something that continues to grow as we get media coverage or ceased and deceased letters and post links to them in the form of banners.

We could use the Packery plugin to dynamically (maybe even incrementally) p

[2014-02-06 05:46] #32 closed, assigned to dhowe

[2014-02-06 05:48] dhowe opened #34 "Menu entries break strangely when browser window at right edge of viewport"
To recreate:

a) make sure ADN icon is at far right of browser toolbar
b) position browser window aligned to right edge of screen

![screen shot 2014-02-06 at 1 33 04 pm](https://f.cloud.github.com/assets/737638/2095845/3239d5e4-8ef2-11e3-9380-6c7d7f1bebcd.png)

[2014-02-06 05:54] dhowe opened #35 "Needs to clean-up preferences and log-file on uninstall"

[2014-02-06 05:55] dhowe opened #36 "Addon dies after disable, re-enable, in Addon-Manager"
![screen shot 2014-02-06 at 1 56 47 pm](https://f.cloud.github.com/assets/737638/2095878/a11faca8-8ef3-11e3-8d81-9affa91e8e07.png)

[2014-02-06 07:16] mushon opened #37 "ADN button is does not appear in its location automatically"
The latest version (0.4.20) removed the button from the add-on bar but in my case when reinstalling or restarting the browser it disappears. The extension is active, but the button isn't there. I could only add it via the 'customize' menu.

[2014-02-06 11:26] #37 closed, assigned to dhowe

[2014-02-06 11:28] #29 closed, assigned to nobody

[2014-02-06 11:47] dhowe opened #38 "Profile: check bandwidth as compared to default-ff, and ff+abp"
Use about:memory?verbose

[2014-02-06 16:18] dhowe opened #39 "Need to do proper cleanup on 'uninstall'"
Remove logfile, preferences, etc.

Apparently we can't (at present) do anything here... See this bug:
See: https://bugzilla.mozilla.org/show_bug.cgi?id=627432#c12

[2014-02-06 17:15] #25 closed, assigned to dhowe

[2014-02-14 09:55] #36 closed, assigned to mushon

[2014-02-14 10:05] #31 closed, assigned to mushon

[2014-02-14 10:06] mushon opened #40 "implement new icons"

[2014-02-14 10:10] #15 closed, assigned to mushon

[2014-02-14 10:23] mushon opened #41 "AdView: hook json to ad-view"
There are a couple of things that needs to happen for ad-view to be ready for the presentation tomorrow:
- [x] hook the feed of ads and their metadata into the .item structure and data attributes
- [x] populate the session dates and stats (bottom left corner) with live data
- [x] fix the zooming ratio variable bug that resets the zoom after the zoom animation
- [ ] fix or temporarily disable the a

[2014-02-14 10:24] mushon opened #42 "package a new public-beta XPI before the conference"
make sure to include all the changes required in the Public Beta milestone

[2014-02-14 18:49] dhowe opened #43 "Better/matching icons for ADN menu"
![screen shot 2014-02-14 at 1 49 22 pm](https://f.cloud.github.com/assets/737638/2173918/bfcc053c-95a8-11e3-88dd-03614069c893.png)

[2014-02-14 18:54] dhowe opened #44 "Adview: vertical resize bar doesnt work"
Should allow the user to change the relative width of adview and adview-detail

![screen shot 2014-02-14 at 1 52 18 pm](https://f.cloud.github.com/assets/737638/2173977/7cfe81de-95a9-11e3-99f8-bf0cfdab39a6.png)

[2014-02-14 19:03] dhowe opened #45 "Bottom of Adview detail cutoff"
![screen shot 2014-02-14 at 2 02 52 pm](https://f.cloud.github.com/assets/737638/2174063/ba9dbcf2-95aa-11e3-803b-5439da801d10.png)

[2014-02-14 19:23] dhowe opened #46 "Adview-detail: flips between versions even on non-duplicate ad"
![screen shot 2014-02-14 at 2 22 05 pm](https://f.cloud.github.com/assets/737638/2174236/675203a2-95ad-11e3-8e38-abac68b5f7d8.png)

[2014-02-14 23:31] #46 closed, assigned to mushon

[2014-02-14 23:56] dhowe opened #47 "Need new icon for addon-manager"
![adnprefs](https://f.cloud.github.com/assets/737638/2176449/8daa0344-95d3-11e3-9fc8-5770f20b9416.png)

[2014-02-15 00:05] dhowe opened #48 "Question: Recursive loading of ads"
Do we want to process ads we find on visited ad-pages (recursively). Note: these are ads the user never sees as the pages are loaded only on the (hidden) adn-tab.

[2014-02-15 19:55] #42 closed, assigned to dhowe

[2014-02-15 22:51] dhowe opened #49 "AdVault: add estimated prices for (individual and aggregate) ads clicked"

[2014-02-15 22:52] dhowe opened #50 "Allow people to upload their collages (AdVault)"
This is basically an 'export-to-server' function (rather than the current 'export-to-file') where AdVault data could be uploaded, either as a screencap, or as JSON data to a server (probably the latter, though this raises some privacy/security concerns)...

[2014-02-15 22:54] dhowe opened #51 "Allow people to configure the amount of bandwidth they are willing to let ADN use (requires measurement of bandwidth used)"

[2014-02-15 23:01] dhowe opened #52 "Add bandwidth-conservation mode (ADN does visits only when not browsing)"

[2014-02-19 22:55] dhowe opened #53 "Instructional/educational/documentary video ***"
Need director / creative lead for this ***

[2014-03-03 05:04] dhowe opened #54 "ADN icon is always in 'Enabled' state in new browser window."
ADN icon is always in 'Enabled' state in new browser window (even when disabled previously in another window)

![screen shot 2014-03-03 at 1 03 34 pm](https://f.cloud.github.com/assets/737638/2306693/3e2991c0-a291-11e3-8975-872bff87ff5c.png)

[2014-03-03 05:09] dhowe opened #55 "Re-add zooming interface to AdView"

[2014-03-03 06:04] dhowe opened #56 "AdView: Fix AdDetail panel for duplicate ads"

[2014-03-08 08:50] #55 closed, assigned to nobody

[2014-03-08 08:52] dhowe opened #57 "AdView: need to scale purple dots as images zoom in/out"
![screen shot 2014-03-08 at 4 51 33 pm](https://f.cloud.github.com/assets/737638/2364984/e7d1986a-a69e-11e3-95e0-bbcd2a0d5150.png)

[2014-03-08 08:55] dhowe opened #58 "AdView: Hover URL covers 'detected' field in ad-inspector (when URL is long)"
![screen shot 2014-03-08 at 4 53 41 pm](https://f.cloud.github.com/assets/737638/2364994/5b7cea8a-a69f-11e3-8243-f0bdae5d42b0.png)

[2014-03-08 08:57] #41 closed, assigned to dhowe

[2014-03-08 08:58] dhowe opened #59 "AdView: dynamically set zoom to fit all current ads (centered) on initial open"
When Adview opens, more than 60% of each ad needs to be visible. Scale the images until this true.

File: data/vault.js
Function: positionAds();

[2014-03-08 09:10] #47 closed, assigned to dhowe

[2014-03-08 09:30] dhowe opened #60 "AdView: Purple-dots show in front of inspector on resize (z-index?)"
![screen shot 2014-03-08 at 5 29 22 pm](https://f.cloud.github.com/assets/737638/2365070/5b0a9bec-a6a4-11e3-85c6-60a828c39e55.png)

[2014-03-08 10:08] #44 closed, assigned to dhowe

[2014-03-16 13:37] dhowe opened #61 "Occasional Error on Shutdown (ctrl-Q)"
Appears not to cause any problem.

---
- Call to xpconnect wrapped JSObject produced this error:  *
  [Exception... "'[JavaScript Error: "Policy is null" {file: "resource://gre/modules/XPIProvider.jsm -> jar:file:///Users/dhowe/code/testprof/extensions/%7Bd10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d%7D.xpi!/bootstrap.js -> jar:file:///Users/dhowe/code/testprof/extensions/%7Bd10d0bf8-f5b5-c8b4-a8b2-2b9879e

[2014-03-16 13:39] #56 closed, assigned to nobody

[2014-03-16 13:46] #45 closed, assigned to dhowe

[2014-03-16 13:47] #43 closed, assigned to dhowe

[2014-03-16 13:56] dhowe opened #62 "Should immediately delete log when 'Persistent-Logs' is unclicked..."

[2014-03-28 06:49] mushon opened #63 "Add zoom level class to .container"
and optionally move resizing functionality to CSS. We can decide on standardized levels of zoom:

[code]

I'm not sure the zoom should go beyond 100% really. It's only there to see the bigger picture, I don't think there's a need to size banners beyond their original sizes.

[2014-03-28 06:57] #40 closed, assigned to mushon

[2014-03-28 09:22] #60 closed, assigned to mushon

[2014-03-30 07:55] #63 closed, assigned to dhowe

[2014-03-30 07:57] dhowe opened #64 "Fix cursors for different panels in adview"
I think these should be 'move' for collage (unless over an item), 'col-resize' for vertical divider, and 'default' for inspector window (unless over an image or link)

[2014-03-30 08:23] dhowe opened #65 "Need to make adview container mouse-draggable"

[2014-03-30 08:55] dhowe opened #66 "Verify that images in AdVault (& Menu) don't generate additional hits to server"

[2014-04-03 02:52] #22 closed, assigned to mushon

[2014-04-03 06:48] mushon opened #67 "The container in adview should move while dragging"
Rather than only on mouse-up

[2014-04-03 06:49] dhowe opened #68 "Zoom button in adview skips steps"

[2014-04-03 06:49] mushon opened #69 "Undim the banners on default"
Find other ways to distinguish highlighted banner

[2014-04-03 06:57] mushon opened #70 "Implement the extension popup menu"
The popup should include an interface for all of the immediate actions a user might want to make and the data they might want to know:
- [ ]  toggle adNausium on/off
- [ ] toggle alerts on/off
- [ ] check for updates
- [ ] enter adView
- [ ] visit adNausium site

[2014-04-03 08:50] mushon opened #71 "Add css slider animation to inspected banner"
Since the slider switches between two images we should always place the image entering the inspection into a hidden ellement and allow the previous image (either previously inspected or previous copy of same image) to transition off. This means we should have placeholders for two images in the inspector: `.slidein` & `.slideoff`. Whenever we want to switch images we should:
1. place the upcoming i

[2014-04-08 12:10] #65 closed, assigned to mushon

[2014-04-14 06:21] dhowe opened #72 "Menu: use CustomizableUI for ADN menu (instead of addon-sdk 'panel')"
Also add key-accelerators

[2014-04-14 09:03] dhowe opened #73 "adview dragging: #container height not sized to full-window"
Problem:  user cannot drag ads in adview if they begin dragging from below the lowest positioned ad.

Reason: the #container div in adview.html appears to get a dynamic height (from packery?) based on the height of the ads.

@mushon: seems the container needs to be 100% of the window (without affecting the packery layout). Can you add a css fix for this?

[2014-04-14 13:33] #67 closed, assigned to mushon

[2014-04-14 13:50] #54 closed, assigned to mushon

[2014-04-15 06:34] dhowe opened #74 "Need css to place ADN-logo in lower-right corner of adview"
see #logo in style.css (its now aligned left)

[2014-04-15 08:52] #74 closed, assigned to mushon

[2014-04-15 08:53] #68 closed, assigned to mushon

[2014-04-15 08:57] #64 closed, assigned to dhowe

[2014-04-29 14:12] dhowe opened #75 "Adview: Cannot move mouse to ad-inspector"
In adview, we offer 2 links to click in the inspector (Leads-to and Viewed-on), however if you are interested in an ad that is in the center of the packery layout, there is no way to move the mouse to the inspector without activating a different ad (so it is impossible to click those links).

I'm marking this as a bug, though its actually more of an interaction-design issue

[2014-05-05 08:29] #48 closed, assigned to mushon

[2014-05-05 10:47] #69 closed, assigned to mushon

[2014-05-05 10:48] #34 closed, assigned to mushon

[2014-05-05 10:49] #21 closed, assigned to mushon

[2014-05-05 11:11] #13 closed, assigned to mushon

[2014-05-07 12:44] mushon opened #76 "Allow adview to continue accumulating banners & sessions across restarts"
(rather than showing a blank slate every time)

[2014-05-08 07:30] dhowe opened #77 "Pointer disappears in bottom half of adview"

[2014-05-08 08:48] dhowe opened #78 "Port to Firefox Mobile/Android"

[2014-05-09 07:43] #77 closed, assigned to mushon

[2014-05-09 08:39] mushon opened #79 "Make homepage responsive and smartphone friendly"

[2014-05-09 09:20] #79 closed, assigned to mushon

[2014-05-09 11:01] #73 closed, assigned to dhowe

[2014-05-13 21:23] mushon opened #80 "Firefox 29: view ads link in popup are unclickable"

[2014-05-14 14:00] dhowe opened #81 "ADN has pixelated icon in FireFox 'customize' window"
FF29, OSX
![screen shot 2014-05-14 at 9 59 16 pm](https://cloud.githubusercontent.com/assets/737638/2971957/15c56b60-db70-11e3-9c7e-9a08aad0b811.png)

[2014-05-26 14:59] dhowe opened #82 "Clean out unused images from data/img"
these significantly increase the file size and download time of the addon

[2014-06-04 10:52] #75 closed, assigned to dhowe

[2014-06-04 10:53] #72 closed, assigned to dhowe

[2014-06-04 10:55] #57 closed, assigned to dhowe

[2014-06-04 10:56] dhowe opened #83 "Need (new) help page URL for ADN-menu"
either a url or url-plus-anchor-tag for user-click on help in the adn-menu

[2014-06-04 11:14] #80 closed, assigned to mushon

[2014-06-04 11:17] dhowe opened #84 "Localization for addon"
I've added a locale directory and an en-us properties file,
but we need to:
a) add additional languages (use file names [here](https://msdn.microsoft.com/en-us/library/ee825488(v=cs.20).aspx))
b) support for locale in content-scripts (specifically enable/disable in menu.js) -- this is currently not supported by the addon-sdk

[2014-06-04 11:18] #5 closed, assigned to nobody

[2014-06-05 09:16] dhowe opened #85 "History slider for adview (d3)"
Add a time range slider that would allow to extend or contract the time table (it would also be cool to scrub back in time through the ads as they pack) I’m thinking something like this:

![slider](http://jquery-plugins.net/image/plugin/jqrangeslider-jquery-range-slider-plugin.jpg)

http://jquery-plugins.net/tag/range-slider

or something like this: http://jsfiddle.net/vM844/1019/
with styling

[2014-06-05 09:25] #58 closed, assigned to mushon

[2014-06-18 09:16] #76 closed, assigned to mushon

[2014-06-26 16:35] CyrusSUEN opened #86 "Wrong homepage URL in the README.md session"
![wrong](https://cloud.githubusercontent.com/assets/2461812/3401360/63e300d6-fd4f-11e3-9f31-fbdccb99a156.PNG)

The current URL "http://dhowe.github.io/adnauseam" leads to
![404](https://cloud.githubusercontent.com/assets/2461812/3401372/93aba0b6-fd4f-11e3-924e-46e8eca0d013.PNG)

The real URL is "http://dhowe.github.io/AdNauseam/" that the URL is actually case-sensitive.

[2014-06-27 12:19] #86 closed, assigned to nobody

[2014-06-27 12:24] mushon opened #87 "Site is borked on iPad"
Shows nothing except the background. Could be a media query bug.

[2014-07-11 07:05] mushon opened #88 "ADN v0.8.1 doesn't present ads"
Even though I do get alerts for ads being collected, the are not presented in the ad view that only shows the placeholder static ads instead. Please fix this soon, as I want to address other issues there.
Cheers,
M.

[2014-07-14 14:57] #88 closed, assigned to dhowe

[2014-07-14 14:59] dhowe opened #89 "AdVault: button to clear existing ads"
If you can add a dummy button, I'll hook it up.

[2014-07-24 15:08] dhowe opened #90 "Check compability with new version of ABP (2.6.4)"

[2014-07-25 17:36] dhowe opened #91 "Adview (inspector): detected (time) is hidden by URL"

[2014-07-25 17:37] dhowe opened #92 "Need to check/fix cursors in AdView"

[2014-07-27 19:11] #87 closed, assigned to mushon

[2014-08-03 21:46] dhowe opened #93 "Adview: scrollbar(?) visible in upper left corner"
![screen shot 2014-08-03 at 5 45 05 pm](https://cloud.githubusercontent.com/assets/737638/3791872/8bb439c4-1b57-11e4-8cf7-94ded380b42c.png)

[2014-08-03 21:48] dhowe opened #94 "Adview: add labels to history-slider"
its perhaps unclear what the marks along the timeline indicate...

[2014-08-03 21:50] dhowe opened #95 "AdVault: add dynamic time-scale (hours, days, weeks, etc) with appropriate tick-marks/labels"
So if all of a users ads are from the same day (for example, when they start) it should switch to hours.
We will need to discuss the logic of exactly how this should work...

[2014-08-04 21:20] mushon opened #96 "Icon: finger in the icon/logo doesn't look like a finger"
It should be more identified, maybe more realistic, maybe animation…

[2014-08-04 21:42] mushon opened #97 "Log the title of the ad target url"

[2014-08-04 21:49] mushon opened #98 "Drop the 75% zoom level"

[2014-08-04 21:52] mushon opened #99 "Look into caching banners locally"

[2014-08-05 22:16] #98 closed, assigned to dhowe

[2014-08-05 22:24] dhowe opened #100 "Adview: click on history-slider dissapears all ads"

[2014-08-06 21:28] #92 closed, assigned to mushon

[2014-08-06 21:55] #100 closed, assigned to dhowe

[2014-08-06 21:57] #93 closed, assigned to mushon

[2014-08-17 12:27] #94 closed, assigned to dhowe

[2014-08-17 12:29] #85 closed, assigned to mushon

[2014-08-17 14:07] #83 closed, assigned to dhowe

[2014-08-20 01:57] dhowe opened #101 "Ad-clicks timing out (visits failing)"
This appears to be the case for _ALL_ ad-visits in current (dev) version

[2014-08-20 02:09] dhowe opened #102 "AdVault: history slider needs to resize when window or panel are resized"
There are only 2 cases (I think) where this needs to happen:

1) when #handle is dragged, changing the relative sizes of the adview & inspector
2) when the browser - window width (not height) is changed

In both cases, resizing should happen dynamically (as the handle is dragged, not only on release)
This should trigger a reset of only the x-axis/scale, not the recreation of the entire slider comp

[2014-08-20 02:18] dhowe opened #103 "Deprecated warning for 'widget' module (switch to 'sdk/ui')"
"The widget API is deprecated from Firefox 29 onwards. Please see the ui module for replacements. In particular, for a simple button, try the action button or toggle button APIs, and for a more complex widget try the toolbar or sidebar APIs."

See: https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/panel#Attaching_panels_to_buttons

**\* Deferred until we have new menu design...

[2014-08-20 03:17] dhowe opened #104 "Error on relative ad-url (target)"
console.log: adnauseam: FOUND-AD: http://www.huffingtonpost.com/images/v/etp_advert.png
console.log: adnauseam: TRYING: /news/eat-the-press/
console.error: adnauseam:
  Message: RequirementError: The `contentURL` option must be a valid URL.

[2014-08-22 11:10] #101 closed, assigned to dhowe

[2014-08-22 11:17] dhowe opened #105 "Adview: Need to update ad-data (visited) as each ad is visited"
@mushon perhaps some kind of animation here? We'd need one for a successful visit, and one for a failure

[2014-08-23 10:35] dhowe opened #106 "Remove duplicate adview code (functions in adview.js & adview-shim.js)"
Strange error:  "Permission denied to access property 'length'"
when I place these only in adview-shim and then expose them
in the unsafeWindow

Need to reconsider

[2014-08-25 13:08] dhowe opened #107 "AdVault needs to correctly handle a single ad"
Should do the following:
1) Center the Ad
2) Check that stats show only 1 Ad (currently it is 2, thus the 'bug' label)

[2014-08-25 16:19] dhowe opened #108 "Adview: add tick-marks to history-slider"
Create an x-axis in D3 and use it show tick-marks in the history slider.

Something like: http://bl.ocks.org/mbostock/3306147

Note: just use whatever are the D3 date-scale defaults, as this in preparation for issue #95

[2014-08-25 16:25] dhowe opened #109 "AdVault: Should new ads be dynamically added to adview (causing a repack)?"
Currently adview is updated when new ads are visited (or fail to be visited), but not when new ads are found, as this would require a repack of the adview layout.
Do we agree that this is the correct behavior?

[2014-08-25 20:53] dhowe opened #110 "Need test-cases for iFrame-handling problem"
As a test-case we need to create one or more html pages with exactly one iframe ad inside (and no other ads).

With no Adblocking enabled, the iFrame Ad should appear normally in the browser.
With ADN enabled, the Ad should NOT appear on the page, but also NOT appear in the Adview (the bug)

Note: this goes toward closing #23

[2014-09-01 14:39] #108 closed, assigned to dhowe

[2014-09-02 07:33] #71 closed, assigned to mushon

[2014-09-02 07:36] #104 closed, assigned to dhowe

[2014-09-02 07:37] #110 closed, assigned to CyrusSUEN

[2014-09-02 09:22] mushon opened #112 "Visit, log and display text ads"
Text ads should get some ADN love too.
And we should display them in the adviewer as well.
For now they should appear as items in the adviewer and get a special class "textad" which I will style to work nicely with the composition.

[2014-09-02 09:54] dhowe opened #113 "Need a minimal test for text-only ads (like on Google)"
Like for the iFrame issue, we need a minimal test case here for "text-only" ads. This should be an HTML page with only one element (the text ad), and no external folders / resources. The text ad SHOULD appear on the page when ADN/AdBlock is disabled, but NOT appear when ADN/AdBlock is enabled, however NOT show up in the adview.

An example is here (at top and on right side): https://www.google.com

[2014-09-12 12:02] dhowe opened #114 "Error on update of Adblock Plus"
Can anyone verify this (by running ADN with ABP 2.6.1, then upgrading to 2.6.4)?

Appears to kill ADN with the following error in the log:

---
- Call to xpconnect wrapped JSObject produced this error:  *
  [Exception... "[JavaScript Error: "Policy is null" {file: "resource://gre/modules/addons/XPIProvider.jsm -> jar:file:///Users/dhowe/code/ADNUSER/extensions/%7Bd10d0bf8-f5b5-c8b4-a8b2-2b9879e08c

[2014-09-15 06:11] #113 closed, assigned to CyrusSUEN

[2014-09-21 13:02] mushon opened #115 "vis isn't packed on first load"
needs to repack as soon as user opens tab / page loads

[2014-09-21 13:10] #90 closed, assigned to dhowe

[2014-09-21 14:24] dhowe opened #116 "Need animation for when ad is visited (or has error) with vault or menu open"
Fields that change when this happens are:
-- title
-- url (resolved)
-- visited-time

Note that we should add 'title' to the ad-inspector

[2014-09-21 14:25] #105 closed, assigned to mushon

[2014-09-21 17:01] dhowe opened #117 "AdVault->Export: to export your ads for safe-keeping (and possibly even upload)"

[2014-09-22 05:57] #115 closed, assigned to mushon

[2014-09-23 09:36] mushon opened #118 "Standardize bar heights using D3.scale"
We should also use D3.tip to communicate the date (or dates) and the number of ads represented by each bar. Some code reference for this can be found here: http://bl.ocks.org/Caged/6476579

[2014-10-14 03:19] dhowe opened #119 "Add 'Blocked Counter' to ADN toolbar icon"
Shows the number of 'detected' ads on the current page, a la ghostery.

![screen shot 2014-10-14 at 11 18 25 am](https://cloud.githubusercontent.com/assets/737638/4623527/ca60f8a2-5350-11e4-9f17-c678ac6e0ae1.png)

[2014-10-25 06:24] dhowe opened #120 "hook up html for page that shows on successful install (first-run only)"

[2014-10-26 15:19] dhowe opened #121 "Items needing design prior to public beta"
Several of these cases need thinking/design pre-launch (collecting here for lack of better place):
- [x] AdVault without network [DH]
- [x] AdVault with no ads found
- [x] Popup-menu without network  [DH]
- [x] Popup-menu when there are no ads on current page
- [x] Installed without Adblock-Plus [DH]
- [x] Installed with olds version of FF (specifically <29) [DH]
- [x] Design for page that shows o

[2014-10-27 09:44] mushon opened #122 "Use a placeholder image for (broken/non-loading) ad-images in advault/menu"
@dhowe will implement, then @mushon will design

[2014-10-27 12:03] 1977er opened #123 "Make AdNauseam compatible to ABP forks"
I'm neither aware of the complexity of this request, nor the feasability, but I wish there was a version of AdNauseam which was compatible to forks of AdBlockPlus like AdBlockEdge or the like. :)

[2014-10-27 15:57] SpiritQuaddicted opened #124 "Please use a local jquery instead of Google's to reduce tracking"
Your website loads http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js which tells Google about my visit to your website. Please use a local jquery instead, I see you already have it in your repository. Thanks!

[2014-10-27 17:19] #124 closed, assigned to nobody

[2014-10-27 18:05] mushon opened #125 "Bring AdNauseam to Chrome"
We would love to get help in making this happen.

[2014-10-28 01:02] alecdtatum opened #126 "Instead of clicking every ad, click only some of the ads at random"
This would be much more effective in creating anarchy. The more it looks like a real user, the higher chance that it would pollute advertiser databases. As it is now, advertisers could easily filter out consumers that click every single ad.

[2014-10-28 05:13] dhowe opened #127 "FAQ questions [website]"
- Does AdNauseam's automatic ad clicking creates billable events for advertisers?
- How does what the AdNauseam's clicking differ from click fraud?
- Do you oppose all advertising or only advertising you believe is abusive (e.g., tracking)?
- What must advertisers do to win the trust of Internet users?
- Are you concerned that ad-blocking technology is part of the reason companies like Facebook ar

[2014-10-28 13:18] Miladiir opened #128 "Indicate if it's actually doing anything at all"
At the moment a regular user has no way of telling if this extension does anything at all besides adding an entry to the extension page.

Here are a couple of ways to fix this:
- Show a popup/toast notification or icon on the screen with the total amount of clicked ads
- Add a graph on the extension property page with some data like clicked ads per day/month/year/human life span

Adding a page sho

[2014-10-28 18:16] #128 closed, assigned to nobody

[2014-10-29 10:50] EvanBurchard opened #130 "Dumb/quick question: Use with AdBlock Enabled or Disabled?"
When I tail my adnauseam.log, it seems like it is appended to whether or not I have either ABP or ADN disabled/enabled.  Is having AdBlock AND ADN both enabled the only scenario that produces clicks?

What's the difference in what is logged/clicked in the background for ABP and ADN in either state?

[2014-10-30 03:51] #130 closed, assigned to nobody

[2014-10-30 04:08] EvanBurchard opened #132 "AdVault in ADN 0.8.4 is stuck on test ads"
I click the finger in the toolbar...
![screen shot 2014-10-29 at 8 54 38 pm](https://cloud.githubusercontent.com/assets/34450/4838409/842a8cf0-5fe8-11e4-86ef-06ee74c48e40.png)
And then click "View-Ads"

On the view ads tab, this url is in the toolbar:
resource://adnauseam-at-rednoise-dot-org/adnauseam/data/adview.html

And a set of ads that I've seen pasted elsewhere (for example [issue 102](https

[2014-10-30 18:30] mushon opened #133 "Fix the slider bar's y-scale"
currently ads are piling way beyond the 0 y-axis of the SVG. This should be solved by using `d3.scale` on the bars to make sure they always show relative size.

[2014-10-30 18:35] mushon opened #134 "Add (non-tracking) share buttons to the site"

[2014-10-30 18:38] mushon opened #135 "Add OpenGraph and Twitter Card meta tags to site"

[2014-10-30 18:39] mushon opened #136 "Things to finish for before video screencasts"
@dhowe these are the things we still need to fix before I can make the screencasts:
- [x] release a fix to the borked #132
- [x] implement popup #70
- [ ] display text ads #112
- [ ] add (non-tracking) share buttons to the site #134
- [ ] use a placeholder image for banners #122
- [ ] show the ad visiting animation #116
- [x] implement new logo #96
- [x] finish ADN site #33 (almost)

[2014-11-01 11:29] dhowe opened #138 "Settings: add option to hide referer on outgoing clicks (question)"
Tradeoff seems clear: referer header leaks page-trail to adnetwork (which they would have anyway without ABP), but its absence is a signal that the click is not human-generated.

Question is whether this (disable-referrer-header-on-clicks) should be a user-option (default would be off=referer-sent)

[2014-11-03 04:59] dhowe opened #139 "AdVault: links in inspector should be clickable"

[2014-11-03 05:15] #106 closed, assigned to dhowe

[2014-11-03 05:16] #70 closed, assigned to dhowe

[2014-11-03 05:21] #61 closed, assigned to dhowe

[2014-11-03 05:37] #62 closed, assigned to dhowe

[2014-11-07 05:15] #95 closed, assigned to mushon

[2014-11-07 05:17] dhowe opened #140 "Menu: clarify meaning of numbers?"
We show three numbers at the top of the menu. Is it clear (to the user) what these each refer to, and why the 2 smaller don't add up to the larger? I'm not sure... perhaps we need to make some ref to the fact that the first two only refer to 'the current page'

![screen shot 2014-11-07 at 1 14 07 pm](https://cloud.githubusercontent.com/assets/737638/4948739/587aca36-6680-11e4-8456-bc959dd5b2af.png

[2014-11-08 11:53] dhowe opened #141 "Menu: when menu is open, next-ad attempted should be from current page"

[2014-11-10 18:44] #140 closed, assigned to mushon

[2014-11-10 18:51] dhowe opened #142 "Toolbar icon should perhaps get flat bottom like ABP"
Still doesn't look right to me (as if chopped off at bottom).
I think this would only apply to 16x16 icon

![screen shot 2014-11-11 at 2 50 18 am](https://cloud.githubusercontent.com/assets/737638/4981585/740ed558-690a-11e4-9d4c-f31de4f7dde9.png)

[2014-11-10 19:35] dhowe opened #143 "List of pages with ads for testing (image-ads, text-ads, flash-ads)"
We need a list of >= 20 html pages, each of which has >= 3 ads (none of which use flash) Lets also make a list of pages with text-ads. Later,  for version 1.2, we will need a list of flash-ads as well.

[2014-11-10 19:37] dhowe opened #144 "Code to detect when browser loses/finds network access"
Can you research the listener needed to detect when the browser loses (and regains) its network connection...

[2014-11-11 08:11] dhowe opened #145 "Vault: History slider blocked by URL on mouse-over"
![screen shot 2014-11-11 at 4 10 45 pm](https://cloud.githubusercontent.com/assets/737638/4990056/56bdaa16-69bd-11e4-8e07-9f49087a9249.png)

[2014-11-11 10:05] dhowe opened #146 "Menu: problem with vertical alignment of longer titles"
![screen shot 2014-11-11 at 6 04 31 pm](https://cloud.githubusercontent.com/assets/737638/4991350/5eac2bde-69cd-11e4-8caf-e1a95b8de811.png)

2 issues: a) text should probably be aligned with top of image, b) text should never continue across divider and down into next ad

[2014-11-11 10:39] dhowe opened #147 "Menu: 'view-log' button not visible (below scroll) when no ads listed on current page"
![screen shot 2014-11-11 at 6 37 58 pm](https://cloud.githubusercontent.com/assets/737638/4991725/1b66e79c-69d2-11e4-830f-47f3afae7032.png)

[2014-11-11 12:24] dhowe opened #148 "Vault: Items not being updated correctly on visit when visible in Inspector"
No state after re-attaching worker in UIMan.updateVault().emit('update-ads')
Appears we need to pass 'inspectorData' (and possibly 'inspectorIdx') back and forth from vault.js to addon core

[2014-11-12 04:21] mushon opened #149 "Make the banner links from vault JS links and not hrefs"
@dhowe drop the href from the banners and use a data-href instead. The link would function as an on-click event instead of the way it is now and we'll stop suffering from the tooltip errors.

[2014-11-14 21:45] dhowe opened #150 "Website: Add 'contact' form on homepage"

[2014-11-15 11:55] dhowe opened #151 "Vault: Bug in '.attempting' animation"
Perhaps something like the spinning wheel animation, or a progress bar... User is on a page, looks in the menu, and thinks 'nothing is happening', while actually attempts are being made to visit an ad -- this ad's state should change to show this.

[2014-11-15 12:05] dhowe opened #152 "Vault: additional Filters for viewing partial sets of ads"
Potential Filters:
- By-State: pending, visited, failed
- By-Network:
- By-Size:
- By-Color:

First seems most important so that one can easily see ads remaining to be visited, or ads already visited, etc.

[2014-11-15 12:08] dhowe opened #153 "Interface: a way to force menu to stay open while you browse"
Might force to stay open, and/or be detachable, so that the user could move it around...

[2014-11-15 13:23] dhowe opened #154 "Settings not sticky after browser restart"

[2014-11-15 14:55] #154 closed, assigned to dhowe

[2014-11-15 17:15] mushon opened #155 "help button opens in the popup menu frame"
![screen shot 2014-11-15 at 12 13 59 pm](https://cloud.githubusercontent.com/assets/27123/5058504/2eab54a4-6cc1-11e4-942a-c92004afd17b.png)

[2014-11-15 19:26] dhowe opened #156 "Icon missing in Addon-Manager"
Firefox-menu: Tools->Addons

![screen shot 2014-11-15 at 2 23 29 pm](https://cloud.githubusercontent.com/assets/737638/5058878/65227fdc-6cd3-11e4-9f21-2ce423af32f0.png)

[2014-11-16 15:06] dhowe opened #157 "Menu: alternate view when no ads on current page..."
Seems to me its not the best user experience for people to see this large, empty menu space when there are no ads on the current page (and this seems to happen fairly frequently, especially when one has the vault open, or is on a blank tab).

So the idea is to show the most recently found ads here. So first, a note (or alert) along the lines of "no ads found on this page", and then a divider, then

[2014-11-16 16:33] #89 closed, assigned to mushon

[2014-11-16 16:33] dhowe opened #158 "Implement the buttons for import/export in settings"

[2014-11-16 16:35] #127 closed, assigned to hfn1

[2014-11-16 16:35] #141 closed, assigned to dhowe

[2014-11-16 16:36] #134 closed, assigned to dhowe

[2014-11-16 16:37] #132 closed, assigned to dhowe

[2014-11-16 16:43] #149 closed, assigned to dhowe

[2014-11-16 16:43] dhowe opened #159 "Vault: Lightbox mode"
This includes removal of inspector window

[2014-11-16 16:45] #121 closed, assigned to dhowe

[2014-11-16 16:50] dhowe opened #160 "Large icon in menu and vault should link to website (opening in a new tab)"
Thoughts on this?

[2014-11-17 05:36] sprinklecakes opened #161 "Ads begin appearing in divs"
Excited about ADN, but this seemed rather odd. So far, it's only been for searches on large sites; Duckduckgo, Google, Amazon, and eBay. When ADN is disabled, the ads go away.

For what it's worth, here's a link to a Duckduckgo search where ads show up;
https://duckduckgo.com/?q=ducks&t=ffsb

[2014-11-18 18:15] dhowe opened #162 "Menu: count of ads incorrect (or at least different from the intuitive understanding)"
Problem being that previous ads (from a page-refresh of the same page, as one example) are included in the count for the current page. Best way to see this is to refresh a page multiple times.

![screen shot 2014-11-18 at 1 07 31 pm](https://cloud.githubusercontent.com/assets/737638/5093256/768b05ca-6f24-11e4-9615-cdaa9d88c21b.png)

This needs to be reworked so that only the ads from the *current*

[2014-11-18 19:26] dhowe opened #163 "Incompatibility with No-Script plugin"
Seems there is a serious incompatibility with the No-Script plugin which causes the browser to hang and issue a "Firefox Not Responding" message (at least on Windows 8). Original bug report follows below.

"When I opened about half a dozen web pages and clicked on various links rapidly.  I got the FF Not Responding message at least six times in a few minutes, each one lasting about ten seconds and

[2014-11-21 21:06] MonoS opened #164 "Compatibility with PaleMoon"
Is it possible to make this extension compatible with PaleMoon??

[2014-11-23 01:17] #160 closed, assigned to mushon

[2014-11-23 01:19] #145 closed, assigned to dhowe

[2014-11-23 01:25] #120 closed, assigned to dhowe

[2014-11-23 01:26] #116 closed, assigned to dhowe

[2014-11-23 01:27] #109 closed, assigned to dhowe

[2014-11-23 01:27] #91 closed, assigned to dhowe

[2014-11-23 01:29] #97 closed, assigned to dhowe

[2014-11-23 01:30] #117 closed, assigned to dhowe

[2014-11-23 14:37] dhowe opened #165 "Vault: repack should transition smoothly rather than clearing, then re-appearing"
This issue can be seen when adjusting the history slider. Rather than items fading out and a smooth re-arrangement occurring, all items disappear and then re-appear all at once.

Not a big deal, but to address this we need 2 things: first, some sort of css transition (a simple fade perhaps) for when a .item element is removed from the packing.

Then in the js, we need to not remove all .item eleme

[2014-12-05 11:15] dhowe opened #166 "Inspector: Text doubles in inspector"
Title text doubles occasionally in inspector -- not a priority if we are replacing this interface

![screen shot 2014-12-05 at 7 12 29 pm](https://cloud.githubusercontent.com/assets/737638/5314964/ea5249f0-7cb2-11e4-8d98-c68672025863.png)

[2014-12-05 11:19] #18 closed, assigned to nobody

[2014-12-05 16:16] dhowe opened #167 "Menu: unrelated page gets ads for NY-times"
Quite strange, this (cannot recreate, but listing anyway). The url is: http://hkvta.com.hk/index.php?route=product/product&product_id=180

[2014-12-08 12:48] #161 closed, assigned to CyrusSUEN

[2014-12-08 12:50] dhowe opened #168 "Website: add pages (press/media, talks, privacy)"

[2014-12-08 12:50] #156 closed, assigned to mushon

[2014-12-08 12:51] dhowe opened #169 "Settings: add version number somewhere on this tab"
I've added it, but could use some design help...

[2014-12-08 12:55] #146 closed, assigned to mushon

[2014-12-08 13:38] dhowe opened #170 "Vault: user-selected ads (in lightbox) should be next to be visited"

[2014-12-09 05:22] dhowe opened #171 "Vault: num-visited not correctly including duplicate ads in count"

[2014-12-09 05:56] #171 closed, assigned to dhowe

[2014-12-10 20:11] Russtopia opened #172 "Appears not to function (0 ads detected) Firefox 34.0.5 Windows 7 64 bit"
Just installed with AdBlock Plus and plugin doesn't appear to do anything.. 0 ads detected even visiting sites like cnn.com.

Looked at AdNauseum logs, it is definitely enabled and no errors reported.
Latest version of AdBlock Plus on Firefox 34.0.5, Windows 7 64-bit.
Plugins installed: AdBlock Plus 2.6.6, AdNauseam 1.0.03, NoScript 2.6.9.6, RequestPolicy 0.5.28, AdBlock Edge 2.1.7 (disabled)

[2014-12-11 01:22] yomismo22 opened #173 "icon dont show up"
for some reason the icon does not show up in firefox and there is no way to acces the options

[2014-12-11 09:52] dhowe opened #174 "Vault: design for text-ads"
Including all 3 states: pending/visited/failed
and animations for when visited and when visit fails
   (and, eventually, for the ad currently being attempted, which may last up to 30 seconds)

See #112 for more info on text-ad fields (title,text,site), and screenshot

[2014-12-12 12:15] Albirew opened #175 "ADN 1.0.03 does not hide user-added element hiding rules"
Everything is in the title.
Let's take an example: on mega website, I used ABP to hide the two self-ad panels (mega.co.nz##.ads-left-block and mega.co.nz##.ads-right-block)

With ADN deactivated, they does not show.
With ADN activated, they become visible again.

[2014-12-17 09:43] liamdennehy opened #176 "Private windows tracked"
Hi Developers!

I've noticed ads are kept in AdNauseam's archive from visits made in a Private Window. This may not be advisable since it is expected that all tracks of a Private session on the local system are removed once the Private session terminates, so while the click-throughs may occur keeping an archive of them is probably a violation of this principle.

Thanks

[2014-12-20 15:57] dhowe opened #177 "Website: remove excess vertical space on homepage"
so as to show more of the actual content which gets hidden below the scroll:

![screen shot 2014-12-20 at 11 54 08 pm](https://cloud.githubusercontent.com/assets/737638/5515405/eb9ae73e-88a3-11e4-9b25-dd485738783f.png)

[2014-12-24 01:51] #173 closed, assigned to nobody

[2014-12-31 15:16] mushon opened #178 "Clicking [Esc] should exit lightbox mode"

[2014-12-31 15:16] mushon opened #179 "Update lots-of-ads.json to work with current code"

[2015-01-03 14:20] dhowe commented on #178
Not sure I understand this

[2015-01-03 14:26] dhowe commented on #59
This is still not working right, so re-opening. The offending function is vault.js::positionsAds(). We need to either a) correctly calculate image positions at various scales without actually scaling, or b) do each scale, then checking each image, or c) a totally different approach.

[2015-01-03 14:46] dhowe opened #180 "Vault: inspector data may be outside viewport for wide ads"
Perhaps we should instead center on the meta info box?

![screen shot 2015-01-03 at 10 45 15 pm](https://cloud.githubusercontent.com/assets/737638/5602691/4430663e-939a-11e4-9def-7896980d1a93.png)

[2015-01-03 14:48] dhowe opened #181 "Vault: just-visited animation is too large for ad when not being inspected"
This is the purple (or red) flash after a visit. Apparently it takes into account the full-size of the div, including hidden elements (specifically the inspector meta-data).

[2015-01-03 14:49] #176 closed

[2015-01-03 14:50] #175 closed

[2015-01-03 14:50] #174 closed

[2015-01-03 14:52] dhowe commented on #112
closing this issue and opening another with the comment above: "support more ad-networks"

[2015-01-03 14:52] #112 closed

[2015-01-03 14:59] dhowe opened #182 "Text-ads: support more ad-networks"
in current impl (which is not ideal) each text-ad network requires a set of selectors, currently located at the top of data/elemhide.js.

[2015-01-03 15:00] dhowe commented on #170
pushing this back to 1.2

[2015-01-03 15:00] dhowe commented on #122
done, closing.

[2015-01-03 15:00] #122 closed

[2015-01-03 15:01] dhowe commented on #123
done in v1.0.1

[2015-01-03 15:01] #123 closed

[2015-01-03 15:02] dhowe commented on #159
done

[2015-01-03 15:02] #159 closed

[2015-01-03 15:07] dhowe commented on #133
Please verify and close

[2015-01-03 15:17] dhowe commented on #169
![screen shot 2015-01-03 at 10 45 15 pm](https://cloud.githubusercontent.com/assets/737638/5602760/b2c99f3a-939e-11e4-8d36-581305033142.png)

[2015-01-03 15:18] dhowe commented on #169
![screen shot 2015-01-03 at 11 17 21 pm](https://cloud.githubusercontent.com/assets/737638/5602765/df8a825a-939e-11e4-9d1d-a29a18a987a2.png)

[2015-01-03 15:21] dhowe opened #183 "Vault: re-add icon and close-button"

[2015-01-03 18:15] mushon commented on #169
Simply add the version number in the title:

ADNAUSEAM v1.0.1
SETTINGS

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2015-01-04 05:25] dhowe commented on #180
![screen shot 2015-01-04 at 1 23 44 pm](https://cloud.githubusercontent.com/assets/737638/5604874/12925cce-9415-11e4-8e76-995798b5d6b8.png)

[2015-01-04 10:10] mushon commented on #180
Dragging still works. Can we make sure the data is always in the viewport by limiting the position of the inspection data's bottom left corner to the bottom left of the stage?

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2015-01-04 13:05] #169 closed

[2015-01-05 13:10] dhowe commented on #158
moving this into v1.1 so that we can use it for debugging

[2015-01-05 13:26] dhowe commented on #180
Seems like there should be a way to directly get the position of an item in relation to the viewport. Neither jquery's  position() or offset() appear to do this as they both give positive values (in the example below), though the top-left corner of the ad is offscreen:

![Uploading Screen Shot 2015-01-05 at 9.21.29 PM.png . . .]()

[2015-01-05 16:03] dhowe commented on #180
done, please verify

[2015-01-07 08:48] dhowe opened #184 "Menu: stat-count not updating on visited ad"

[2015-01-07 10:41] bobmorane888 commented on #125
+1 Would be awesome

[2015-01-07 11:11] dhowe opened #185 "Text-ads: Google #bottomads not being handled in elemhide.js"

[2015-01-08 13:59] dhowe opened #187 "Menu not properly handling page reloads"

[2015-01-08 14:30] #184 closed

[2015-01-08 14:36] dhowe opened #188 "Some text-ads failing"
console.warn: adnauseam: googleText.fail:  {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"div.ads-creative"} {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"div.ads-visurl cite"}

duckDuckText.fail:  {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"div.result__snippet a"} {"length":0,"prevObjec

[2015-01-08 14:42] dhowe opened #189 "Vault: allow scroll-wheel to set arbitrary zoom"
See: http://doctype.com/javascript-image-zoom-css3-transforms-calculate-origin-example

[2015-01-08 14:50] #183 closed

[2015-01-09 07:31] mushon commented on #158
Ready for implementation

[2015-01-09 07:33] mushon commented on #180
yeap, it works.
I would prefer however if it was moved another 10px from the edges of the viewport to not look so crammed there.

[2015-01-09 08:14] #181 closed

[2015-01-09 08:33] dhowe opened #190 "Vault: Image ads with same contentData.src URL should stack"

[2015-01-09 08:44] #135 closed

[2015-01-09 08:45] mushon opened #191 "inspected ads still zoom to their previous relative location (before the pack changed)"
this happens after new ads are added or after playing with the slider

[2015-01-09 08:49] #118 closed

[2015-01-09 08:49] #33 closed

[2015-01-09 08:50] #96 closed

[2015-01-09 08:50] #53 closed

[2015-01-09 08:54] #82 closed

[2015-01-09 08:56] #136 closed

[2015-01-09 08:57] dhowe commented on #138
done for v1.1

[2015-01-09 08:57] #138 closed

[2015-01-09 09:04] #139 closed, assigned to mushon

[2015-01-09 09:07] #103 closed, assigned to mushon

[2015-01-09 09:09] #35 closed, assigned to dhowe

[2015-01-09 09:09] #157 closed, assigned to mushon

[2015-01-09 09:12] mushon opened #192 "compare similar ads to check whether to stack them"
some ads like these two:
`http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDj2__aTRABGAEyCG3qbJztYSV0`
`https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKDj2__aTRABGAEyCG3qbJztYSV0`
are actually the same image served from different sources (unidentical urls). We want them stacked to prevent cases like this:
![screen shot 2015-01-09 at 10 17 45 am](https://cloud.githubusercontent.co

[2015-01-09 09:13] #102 closed, assigned to mushon

[2015-01-09 09:14] #107 closed, assigned to mushon

[2015-01-09 09:14] #81 closed, assigned to dhowe

[2015-01-09 09:14] #133 closed, assigned to mushon

[2015-01-09 09:49] #166 closed, assigned to mushon

[2015-01-09 09:55] #147 closed, assigned to CyrusSUEN

[2015-01-09 10:05] dhowe commented on #165
Just for the record, I think that re-implementing our packing in D3 is the right way to go...

[2015-01-09 14:41] mushon commented on #165
Likewise.

[2015-01-11 05:06] dhowe commented on #180
please verify

[2015-01-11 06:09] dhowe commented on #180
still not quite right

[2015-01-11 11:09] dhowe commented on #180
verify please

[2015-01-11 11:13] dhowe opened #193 "Vault: problem with lightbox centering after drag then date filter (via slider)"
To recreate, drag->filter->inspect, then notice that item is not centered correctly

[2015-01-11 11:17] dhowe opened #194 "Vault: not packing ads error-images correctly after date-filter"
![screen shot 2015-01-11 at 7 15 45 pm](https://cloud.githubusercontent.com/assets/737638/5695040/70e6d8de-99c6-11e4-9a7e-d0bec15bad5e.png)

[2015-01-11 11:44] dhowe commented on #191
please verify

[2015-01-11 11:51] dhowe opened #195 "Vault: Ads are not fully updated (on visit) when filtered to be invisible, then unfiltered"

[2015-01-12 05:40] dhowe opened #196 "Vault: Ads are not fully updated (on visit) when filtered to be invisible, then unfiltered"

[2015-01-12 05:41] #196 closed

[2015-01-12 05:41] dhowe commented on #196
duplicate of #195

[2015-01-12 05:59] dhowe commented on #144
closing for now, can re-visit later on

[2015-01-12 05:59] #144 closed

[2015-01-12 10:35] CyrusSUEN commented on #188
created a pull request
https://github.com/dhowe/AdNauseam/pull/197

[2015-01-12 10:36] CyrusSUEN commented on #185
Should we close this? I think I'm working on that on https://github.com/dhowe/AdNauseam/issues/188

[2015-01-12 10:50] dhowe commented on #185
Agreed

[2015-01-12 10:50] #185 closed

[2015-01-13 09:44] dhowe commented on #158
done, please verify

[2015-01-14 09:13] CyrusSUEN commented on #188
I think this is done and can be closed.

[2015-01-14 09:14] CyrusSUEN opened #199 "Text-ads: Sogou text Ads' targetUrl unable to visit from popup menu"
Sogou text ad page:
http://www.sogou.com/web?query=prada&_asf=www.sogou.com&_ast=&w=01019900&p=40040100&ie=utf8&sut=1350&sst0=1421224955599&lkt=5%2C1421224954895%2C1421224955464

![screen shot 2015-01-14 at 2 29 10 am](https://cloud.githubusercontent.com/assets/2461812/5726608/b8d3bdce-9b97-11e4-9c6d-1026427c073c.png)

[2015-01-14 09:16] CyrusSUEN opened #200 "Detect ads within iframes (and nested iframes)"
Ask.com text Ads inside iframe
http://www.ask.com/web?qsrc=1&o=0&l=dir&q=stock&qo=serpSearchTopBox

[2015-01-15 05:32] dhowe opened #201 "Vault: show max number of ads (using slider)"
Perhaps 300 or 500 ads -- otherwise it is too slow to load. Then the user can use the slider to see the rest...

[2015-01-15 05:34] dhowe opened #202 "Vault: enable pause on one ad in inspector"
It is now impossible to really inspect a single ad in the inspector when there are dups, as the animation continues on to the next ad (even on click). Perhaps if you click one of the little circles, the animation should stop until the AdSet is closed and re-opened in the inspector?

[2015-01-15 05:51] mushon commented on #202
We can also use hover for this. Pause on hover, animate on mouse out.

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2015-01-15 12:56] #190 closed

[2015-01-15 12:57] dhowe commented on #162
closing -- menu now shows all ads for a single page-load (even if 0)

[2015-01-15 12:57] #162 closed

[2015-01-15 13:13] dhowe commented on #12
Here's another case:
http://bellroy.com/wallets/travel-wallet?utm_source=Google&utm_medium=display&utm_campaign=Display%20|%20AU&gclid=CJaUoZSJlsMCFYcsvQod2jUAVA

[2015-01-15 15:28] dhowe opened #203 "Vault: when ads are filtered, they still show up in the meta-bullets (but without data)"
![screen shot 2015-01-15 at 11 27 24 pm](https://cloud.githubusercontent.com/assets/737638/5760247/27895f18-9d0e-11e4-824c-167b9914c420.png)

[2015-01-15 17:24] dhowe commented on #203
fixed

[2015-01-15 17:24] #203 closed

[2015-01-15 17:25] dhowe commented on #201
fixed, currently at 400

[2015-01-15 17:25] #201 closed

[2015-01-15 17:25] dhowe commented on #187
done

[2015-01-15 17:25] #187 closed

[2015-01-15 17:25] dhowe commented on #179
done

[2015-01-15 17:25] #179 closed

[2015-01-15 18:30] jthieling opened #204 "Please Add Support For AdblockEdge (ABE)"
It's like Adblock Plus, but without the whitelisted ads. So much better!

Here's the addon's page: https://addons.mozilla.org/en-US/firefox/addon/adblock-edge/

And the project homepage: https://bitbucket.org/adstomper/adblockedge

Thanks in advance!

[2015-01-15 19:05] dhowe commented on #204
Will be in the next release.

[2015-01-15 19:13] shirgall commented on #125
+1

[2015-01-16 08:11] dhowe commented on #59
should be fixed now

[2015-01-16 08:11] #59 closed

[2015-01-16 13:07] MarkoDen commented on #125
+1

[2015-01-16 19:46] edwinhere commented on #125
+1

[2015-01-17 14:42] paullindquist commented on #125
+1

[2015-01-17 18:13] dhowe commented on #194
fixed

[2015-01-17 18:13] #194 closed

[2015-01-18 05:25] CyrusSUEN commented on #163
Sorry for the late reply!

When on <a>www.spiegel.de</a>
with the latest ADN 1.0.8 and Firefox 34.0.5, AdBlock Plus without noScript
ADN behaves normally
![screen shot 2015-01-18 at 1 16 23 pm](https://cloud.githubusercontent.com/assets/2461812/5791500/c4a21954-9f14-11e4-8a04-814e385fa7f0.png)

with noScript and "temporarily allow all this page", the Ads from ADN menu cannot be visited
![screen sh

[2015-01-18 08:49] CyrusSUEN opened #205 "Firefox prompts for file download when certain Ads are visited"
To reproduce:

  1) Clear your ads (export first if you want to save them)
  2) import ad-file:  lib/test/exePopUp.JSON
  3) Wait until ADN attempts to visit the single-ad loaded, view popup

-------------------------
Environment: AdBlock Plus 2.6.6, ADN 1.0.8, Firefox 35

Steps to reproduce:
1. add EasyList China in Adblock Plus Filter Preferences
2. visit http://www.mydrivers.com

When one of th

[2015-01-19 15:06] mushon commented on #178
What I mean is that it is accustomed to exit the lightbox mode by clicking the [ESC] button and we should support that too

[2015-01-19 15:07] mushon opened #206 "v1.0.8 grabs focus to tab whenever an ad is detected"
@dhowe this is possibly something you did for testing, but we need to make sure we don't ship with it

[2015-01-19 17:24] dhowe commented on #202
this in conjunction with click to jump to a specific circle/ad..

[2015-01-20 15:47] Tomnibus commented on #125
+1 yes please!

[2015-01-20 17:44] pedrojvaz commented on #125
**+1**

[2015-01-21 05:50] ProGamerGov commented on #125
Will this along with the Firefox version be ported to mobile devices for Android users?

[2015-01-21 13:58] dhowe commented on #206
fixed in v1.0.9. please verify

[2015-01-21 14:02] dhowe commented on #188
console.log: adnauseam: HIT: .ads li
console.warn: adnauseam: yahooText.fail:  {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"div.abs a"} {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"em a"}
console.warn: adnauseam: yahooText.fail:  {"length":0,"prevObject":{"0":{},"context":{},"length":1},"context":{},"selector":"div.abs a"}

[2015-01-21 16:42] CyrusSUEN commented on #188
How can we make a test case for elemhide.js?
I've tried serval keywords until I can finally reproduce this error.

[2015-01-22 04:46] dhowe commented on #188
You can or cannot reproduce?

[2015-01-22 09:43] dhowe opened #207 "Ads marked as unable to be visited can be visited with click"
Need to figure out the difference in the request sent via ADN and via the browser. Check headers (including 'referer'), incoming and outgoing cookies.

Example: http://www.cartier.hk/en-gb/collections/bridal?mckv=s4RCPLyia_dc

Browser Request:

Request URL: 	http://www.cartier.hk/en-gb/collections/bridal?mckv=s4RCPLyia_dc
Request Method: 	GET
Status Code: 	HTTP/1.1 200 OK

Request Headers 17:41:43

[2015-01-22 09:48] dhowe commented on #205
Reproduced:

![screen shot 2015-01-22 at 5 47 54 pm](https://cloud.githubusercontent.com/assets/737638/5853463/e1ae84ea-a25e-11e4-850c-d5817add417d.png)

[2015-01-22 10:36] dhowe commented on #205
Please figure out what in the response (body) is triggering this popup...

[2015-01-23 02:49] dhowe opened #209 "Menu: failed ads now showing red outline"
Outline should be red, not dotted blue (please confirm @mushon)
Class in question is .failed in menu.css

Also I think .just-visited animation should be red (as in vault) not purple.

![screen shot 2015-01-23 at 10 47 06 am](https://cloud.githubusercontent.com/assets/737638/5869039/7499f120-a2ed-11e4-8679-9de2ca09b1e1.png)

[2015-01-23 09:37] mushon commented on #191
@dhowe this still happens

[2015-01-23 09:38] mushon commented on #180
verified, thanks!

[2015-01-23 09:38] #180 closed

[2015-01-23 09:39] mushon commented on #158
very cool, done.

[2015-01-23 09:39] #158 closed

[2015-01-23 09:56] mushon commented on #206
confirmed

[2015-01-23 09:56] #206 closed

[2015-01-23 10:16] dhowe commented on #209
verified

[2015-01-23 10:21] dhowe commented on #209
Actually I notice two problems here:
1) for text-ads, the just-visited animation for a failed ad is still blue (image ads are ok)
2) all failed ads flash red on open of menu, not just when they have .just-visited class

[2015-01-23 15:31] dhowe commented on #151
Issue (vault): seems that all text-ads will begin animating as soon as '.attempting' is assigned to any ad

[2015-01-23 15:35] dhowe commented on #209
verified

[2015-01-23 15:35] #209 closed

[2015-01-23 15:50] dhowe commented on #205
Fixed and closed.

[2015-01-23 15:50] #205 closed

[2015-01-23 16:01] dhowe commented on #12
As is the one above (html5-video):
https://www.mynotanglebrush.com/?MID=6159551

<div id="video">
           <div id="video-video1199" class="video-js vjs-default-skin vjs-playing" width="290" height="215" style="width: 290px; height: 215px;"><video class="vjs-tech" id="video-video1199_html5_api" autoplay="" loop="" preload="metadata" data-setup="{}" src="https://a.govid1.com/Emson/ultimatedetangl

[2015-01-23 19:17] mdfreeman commented on #125
+1

[2015-01-24 05:30] dhowe commented on #12
This can now be easily reproduced by loading/importing: lib/test/single-audio-test.json

[2015-01-24 05:31] dhowe opened #210 "Vault: Single ad doesn't center correctly when lightboxed"
(when there is only one ad in the vault)

[2015-01-24 09:24] dhowe commented on #12
Fixed via a regular expression hack, should revisit this, but closing for now...

[2015-01-24 09:24] #12 closed

[2015-01-24 21:02] mmmxii commented on #125
+1

[2015-01-25 06:56] dhowe commented on #210
fixed

[2015-01-25 06:56] #210 closed

[2015-01-25 10:47] dhowe commented on #202
fixed, pls verify

[2015-01-25 16:01] dhowe commented on #195
fixed

[2015-01-25 16:01] #195 closed

[2015-01-25 16:03] dhowe commented on #191
Is this different than #193? If so, please document steps to reproduce (for example: zoom-out, then drag, then filter, then lightbox)

[2015-01-25 16:10] dhowe commented on #182
how to generate a good list of common ad-networks using text-ads ?

[2015-01-26 06:49] mushon commented on #155
Right after installing 1.0.94 and clicking the (empty) vault, the vault itself loaded into the menu:
![in-menu](https://cloud.githubusercontent.com/assets/27123/5896115/1adc3e3e-a538-11e4-8b98-c2e07def357d.png)

[2015-01-26 08:09] mushon commented on #191
This is a duplicate of #193 Closing.

[2015-01-26 08:09] #191 closed

[2015-01-26 08:11] mushon commented on #202
Pausing works on the bullet list (which is good). @dhowe please add pausing when the image is hovered too (this is an expected action).

[2015-01-26 08:17] mushon commented on #151
I am running 1.0.95 and can't recreate it. @dhowe did you fix it?

[2015-01-27 12:47] dhowe opened #211 "Menu: Alert showing even when ads found"
![screen shot 2015-01-27 at 7 36 04 pm](https://cloud.githubusercontent.com/assets/737638/5918621/b4121b72-a665-11e4-9a38-49ef8ecd7d9f.png)

[2015-01-27 13:12] dhowe commented on #151
No. I just reproduced it in 1.0.95. You need to view the vault while both image and text-ads are present. Lightbox an unvisited image-ad so that it will be attempted... When it is, you will see the animation for that ad as well as ALL text-ads pulsing... (cannot screenshot this)

[2015-01-27 13:15] dhowe opened #212 "Vault: failed ads should show 'last attempted date' for target date field"
![screen shot 2015-01-27 at 9 14 54 pm](https://cloud.githubusercontent.com/assets/737638/5918959/a00c6fca-a669-11e4-962a-dc5ac87af609.png)

[2015-01-27 13:17] dhowe commented on #182
moving this to be continued in v1.2

[2015-01-27 13:32] mushon commented on #151
I’m sorry I really tried but I’m not able to recreate this

[2015-01-27 13:35] dhowe commented on #151
Very strange -- Cyrus noticed it immediately as well (without my prompt).

[2015-01-27 14:23] CyrusSUEN commented on #188
Thanks for the URL. I can reproduce this now.

[2015-01-27 14:40] dhowe commented on #151
Have you tried with just a few ads? (export, then clear, then load some text / image ads)
It is not subtle -- the vault itself appears to pulse...

[2015-01-27 14:54] CyrusSUEN commented on #188
Prepared a fix. Please verify
https://github.com/dhowe/AdNauseam/pull/213

[2015-01-28 07:25] dhowe commented on #211
I"m having trouble replicating this -- has anyone else seen it?

[2015-01-28 18:35] agilob commented on #204
µBlock is about to be released on Fx, will it be supported too?

[2015-01-29 11:19] dhowe opened #214 "Menu: .attempting animation continues after ad is visited"

[2015-01-29 14:01] dhowe commented on #214
fixed in v1.1 rc2

[2015-01-29 14:01] #214 closed

[2015-01-29 20:45] dhowe commented on #211
Replicated: by doing a Google search (for text-ads) after visiting new york times home page

[2015-01-30 10:02] CyrusSUEN opened #215 "Import/Export: Character encoding problem"
Character encoding problem when exporting Ads

Environment: OS X 10.10.2, Firefox 35, ADP 2.6.7, ADN 1.11

To reproduce this on any Chinese website with EasyList China:
1. export Ads
2. clear Ads
3. import Ads
4. open AD vault and messed up Chinese characters will be seen

![screen shot 2015-01-30 at 5 39 13 pm](https://cloud.githubusercontent.com/assets/2461812/5973769/337def92-a8a7-11e4-9536-a47

[2015-01-30 10:32] CyrusSUEN opened #216 "Unable to display and detect Ads from AdChoices"
It looks like Ads from AdChoicee cannot be displayed nor detected even if they are not flash ads.

Environment: OS X 10.10.2, Firefox 35, ADP 2.6.7, ADN 1.11

Some of the affected websites:
http://www.tomshardware.com
http://anandtech.com/
http://www.theverge.com/

[2015-01-30 10:45] CyrusSUEN opened #217 "Should popup menu always show main page instead of sometimes settings page when clicked"
Right now if we click the icon and access the settings button, the menu will remember this option and next time it is opened it still shows the settings page unless we click the close button to exit from the settings page.

This doesn't feel natural to me personally. Because the settings from the popup page have immediate effect that we do not need a close and apply process. (2 toggle buttons, 1 c

[2015-01-30 10:51] CyrusSUEN opened #218 "text-ads: duckduckgo text ad detection not working"
duckduckgo text ad detection not working
Environment: OS X 10.10.2, Firefox 35, ADP 2.6.7, ADN 1.11

affected URL: https://duckduckgo.com/?q=promote&t=ffsb&ia=meanings

[2015-01-31 15:37] daveorian commented on #125
+1

[2015-02-01 07:50] olliezhu commented on #125
+1

[2015-02-03 20:37] dhowe commented on #218
How/why did this stop working? Please document...

[2015-02-03 20:38] dhowe commented on #216
Please document and fix.

[2015-02-03 20:40] dhowe commented on #217
I agree. Please fix so that after closing the menu, the first view is always the first page.

[2015-02-03 20:41] dhowe commented on #215
Good bug -- please fix.

[2015-02-07 10:07] dhowe commented on #163
Closing.

[2015-02-07 10:07] #163 closed

[2015-02-07 10:09] dhowe commented on #188
Closing

[2015-02-07 10:09] #188 closed

[2015-02-07 10:14] dhowe opened #219 "Vault(slider): stacked bars should scale (on height) based on count"
Currently they just show a max of 16 for any date, always the same size

[2015-02-07 10:46] dhowe opened #220 "Vault(slider): stacked bars should scale based on count"
Currently they just show a max of 16 for any date, always the same size

[2015-02-07 10:47] dhowe commented on #220
DUP

[2015-02-07 10:47] #220 closed

[2015-02-07 10:48] dhowe commented on #217
Fixed (need to work faster)

[2015-02-07 10:48] #217 closed

[2015-02-07 11:08] dhowe commented on #207
on hold for now

[2015-02-07 11:08] #207 closed

[2015-02-07 11:10] dhowe commented on #143
Lets clean this up into a new ticket, with 10 of each type, clearly labelled...

[2015-02-07 11:17] dhowe commented on #204
Adblock-Edge is now supported (version >=1.1)... Please document any issues.

[2015-02-07 11:55] dhowe commented on #172
Issues fixed in v1.1

[2015-02-07 11:55] #172 closed

[2015-02-07 11:56] dhowe commented on #151
Disabled in v1.1. Can you take another pass at implementing this?

[2015-02-07 11:58] dhowe commented on #211
fixed

[2015-02-07 11:58] #211 closed

[2015-02-07 12:02] dhowe commented on #151
Actually, there are still problems with pulsing of text-ads in the vault, even without the .attempting animation. Opening a new issue for this:

[2015-02-07 12:22] dhowe opened #221 "Vault: Text-ads pulsing"
Text-ads get brighter and dimmer on mouse-over/mouse-off (as a set)

To recreate:
  -- export then clear ads
  -- do a google search to generate text-ads
  -- mouse-over text-ads in vault

[2015-02-07 13:14] dhowe commented on #202
Fixed -- please verify

[2015-02-08 21:17] #204 closed

[2015-02-08 21:23] dhowe commented on #164
Should be feasible, via the adblock-latitude extension, depending on what UI elements are enabled in PaleMoon.

[2015-02-08 21:30] dhowe commented on #164
Can someone document what happens now (with AdNauseam version >= 1.1) when adblock-latitude is installed, followed by AdNauseam?

[2015-02-09 12:34] dhowe opened #222 "Website: add advault upload/sharing section"
Creating a site (and an 'upload' button) that allows users to easily upload (and name) their vault collages.

The basic idea is to allow people to upload their JSON data via the ADN plugin, then share/view it online.

This would be like a photo gallery (with thumbnails and detailed view), except that it would be 'live', allowing zooming, dragging, inspecting, etc. (same functionality as the curren

[2015-02-09 12:35] dhowe opened #223 "Vault: allow users to delete an ad in their collage"
Thoughts?

[2015-02-09 12:36] dhowe opened #224 "Vault: allow users to filter by site (see all the ads for one site)"
Thoughts? We could do other filters as well, things like ad-network, color, size, etc...

[2015-02-10 08:37] dhowe opened #225 "Submit to addons.mozilla.org"
https://addons.mozilla.org/en-US/firefox/

[2015-02-10 10:51] MonoS commented on #164
Tried changing the min version and removing the ID, but i'm still getting "not compatible with PaleMoon 25.2.1"

[2015-02-11 12:11] dhowe opened #226 "Alternate mode of plugin that does NOT hide ads, but still clicks them"
Might be interesting to think about in terms of rhetoric... how does this change what we are saying  ?

[2015-02-13 19:09] CyrusSUEN commented on #215
Can't solve it yet.

marked function to be updated: importAds : function(theFile) from "lib/ff/uiman.js"
reference: https://developer.mozilla.org/en/docs/Reading_textual_data

[2015-02-13 19:59] CyrusSUEN commented on #182
![screen shot 2015-02-14 at 3 53 16 am](https://cloud.githubusercontent.com/assets/2461812/6194220/24a9a9fa-b3fd-11e4-90f6-7d51ed0a178f.png)
Firefox has a suggestion of default search engines as the above picture has shown.
Currently our text ads detection supports all those except Twitter and Wikipedia which do not have text Ad.

[2015-02-14 08:34] dhowe commented on #215
Committed a fix -- @CyrusSUEN please verify.

[2015-02-14 09:22] dhowe commented on #182
Sounds good

[2015-02-14 10:07] dhowe commented on #164
I found that string on line 66 here: https://github.com/MoonchildProductions/Pale-Moon/blob/5fb2e6e6e3fc432cd2f40197961f66de822ecfd5/browser/locales/en-US/chrome/browser/browser.properties

However, I don't see it being called from code anywhere, so I can't say for sure what's causing the error.  However, my guess is that its due to ADN using Australis components, which are not supported by PaleMo

[2015-02-14 11:36] dhowe opened #227 "Design: for privacy-policy"
http://adnauseam.io/privacy.html

just very simple design needed

[2015-02-14 11:37] dhowe commented on #225
Submitted:
1) resources/adnauseam/data/lib/jquery-1.10.2.min.js
Your add-on includes a JavaScript library file that doesn't match our checksums for known release versions. We require all add-ons to use unmodified release versions, obtained directly from the developer's website.

We accept JQuery/JQuery-UI libraries downloaded from 'ajax.googleapis.com', 'jquery.com' or  'jqueryui.com'; and used wi

[2015-02-14 19:32] MonoS commented on #164
Try asking https://github.com/wolfbeast him directly

[2015-02-15 05:04] dhowe opened #228 "Design for press page"
http://adnauseam.io/press.html

[2015-02-15 06:01] dhowe opened #229 "Website: Add links to press page"
On branch: gh-pages
Update AdNauseam/press.html to include links for each item (use the first entry as example)

http://localhost/jsw/AdNauseam/press.html

[2015-02-15 06:38] CyrusSUEN commented on #215
Just tested and problem has been fixed. Thanks!

[2015-02-15 06:40] #215 closed

[2015-02-15 08:08] CyrusSUEN commented on #229
fixed and able to merge
https://github.com/dhowe/AdNauseam/pull/230/files

[2015-02-15 09:12] dhowe opened #231 "Website: need link from homepage to press/privacy/install.html"

[2015-02-15 09:12] dhowe commented on #229
thanks

[2015-02-15 09:12] #229 closed

[2015-02-15 09:13] #202 closed

[2015-02-15 09:14] #167 closed

[2015-02-15 09:14] dhowe commented on #168
broke into separate issues, closing

[2015-02-15 09:14] #168 closed

[2015-02-15 09:18] dhowe commented on #178
fixed in v1.14

[2015-02-15 09:18] #178 closed

[2015-02-15 12:26] dhowe opened #232 "Website: add step-by-step installation instructions"

[2015-02-15 15:33] CyrusSUEN commented on #232
I'm not so sure what this means.
Do you mean we should give an instruction on how to install ADN?

[2015-02-15 19:59] abbiehoffmann opened #233 "Can't find ads on Firefox 35.0.1 OS X 10.9.5"
I've got the latest Ad Blocker, and AdNauseam. After visiting many pages with ads, Facebook, Google, Cafemom, TMZ, all of these sites show "No Ads on Page" in AdNauseam. The only page I can find that has ads in NYTimes.com, and only the subscription to the NYT ads appear in AdNausem. Thanks!

[2015-02-15 22:31] abbiehoffmann commented on #233
Just to confirm Adblock is blocking ads that AdNauseam is not seeing.

[2015-02-16 03:42] dhowe commented on #232
Correct -- a simple step-by-step (just include below)...

[2015-02-16 03:45] dhowe commented on #233
A bit more information would be helpful.First, the AdNauseam version (you can find this at the top of the Settings menu or in the log). Second, some example URLs (and/or screenshots) of pages you are visiting, where there are non-flash ads that AdNauseam is not finding.

[2015-02-16 04:18] abbiehoffmann commented on #233
Thanks so much.

It is version 1.11.

Some Url's:
http://www.thestranger.com
http://mediatakeout.com/
http://www.zam.com/

I will post images from the sites. The first image is with Adblock disabled. The second is with Adblock enabled (and ads removed), and AdNauseum opened showing that it is finding no ads.

![1stran_01](https://cloud.githubusercontent.com/assets/11020110/6207138/703175bc-b54f-11

[2015-02-16 06:17] CyrusSUEN commented on #232
1. Install Adblock Plus (if you haven't already) from https://adblockplus.org
2. Download <a href="http://rednoise.org/adnauseam/adnauseam.xpi">AdNauseam</a> from http://adnauseam.io/
3. Open Firefox to select and install the downloaded file from menu bar by 'File' > 'Open Files..' or press Ctrl + O on Windows or CMD + O on Mac

[2015-02-16 08:52] zingplex opened #234 "uBlock compatibility"
Could you make AdNauseam compatible with uBlock

[2015-02-16 12:48] dhowe commented on #234
Does uBlock export an interface, as AdBlock Plus does?

[2015-02-16 13:16] dhowe commented on #233
Looking into it, thanks for the documentation....

[2015-02-16 17:51] datamafia commented on #125
+1

[2015-02-18 07:53] CyrusSUEN commented on #216
Cannot be reproduced on the above URLs but http://www.nytimes.com
added test JSON file
https://github.com/CyrusSUEN/AdNauseam/commit/d37796eab43eea9b53875bc909aaacd4d6161e04

[2015-02-18 07:59] CyrusSUEN opened #236 "Unable to visit some Ads from nytimes"
http://www.nytimes.com
![screen shot 2015-02-18 at 3 44 39 pm](https://cloud.githubusercontent.com/assets/2461812/6243955/2a11721e-b787-11e4-908e-cc551797870b.png)

added test JSON file
https://github.com/CyrusSUEN/AdNauseam/commit/d37796eab43eea9b53875bc909aaacd4d6161e04

[2015-02-18 08:01] CyrusSUEN opened #237 "question: Should 'AdSense help' be viewed as an Ad?"
![screen shot 2015-02-18 at 3 55 39 pm](https://cloud.githubusercontent.com/assets/2461812/6243923/bf303386-b786-11e4-9e3c-b89c712d89c8.png)
This can be reproduced by visiting http://www.tomshardware.com

[2015-02-18 08:08] CyrusSUEN opened #238 "Clicked Ads counter not updating in realtime"
Should have been 'clicked 3 of the 5 ads detected'
it shows 'clicked 1 of the 5 ads detected' instead on http://www.theverge.com/
![screen shot 2015-02-18 at 4 05 54 pm](https://cloud.githubusercontent.com/assets/2461812/6244012/2b19fa9a-b788-11e4-852b-60a61a9a4d94.png)

[2015-02-18 08:10] CyrusSUEN commented on #218
fixed and created a pull request
https://github.com/dhowe/AdNauseam/pull/235

[2015-02-18 08:43] CyrusSUEN commented on #182
From comScore Top 50 Properties (Desktop Only) October 2014:

rank 5 AOL text Ad
http://search.aol.com/aol/search?s_it=topsearchbox.search&s_chn=prt_aol20&v_t=comsearch&q=money
rank 14 about.com text ad
http://search.about.com/?q=stock+&SUName=search
rank 26 ESPN
http://search.espn.go.com/alan-ball/
rank 31 Wed MB Health
http://www.webmd.com/search/search_results/default.aspx?query=luxury

[2015-02-18 08:57] CyrusSUEN commented on #143
Image Ads list:
(Turn off Adobe Flash in browser settings first)
http://www.reuters.com/
http://www.anandtech.com/
http://www.tomshardware.com/
http://www.dailytech.com/ one ad at the botton of the page
http://www.pcper.com/ scroll down and there are 2 more amazon ads
http://androidandme.com/
http://www.w3schools.com/html/default.asp one ad at the botton of the page
http://www.cultofmac.com/
http:

[2015-02-18 12:31] mushon opened #239 "AdNauseam vault is erased on browser crash"
Happened to me multiple times on ADN v1.11 / FF v.34.0.5

[2015-02-18 18:59] Wack0 commented on #125
+1

[2015-02-19 03:31] ShadowRi5ing commented on #125
+1

[2015-02-19 04:36] dhowe commented on #216
closing

[2015-02-19 04:36] #216 closed

[2015-02-19 04:37] dhowe commented on #238
Good bug

[2015-02-19 04:37] dhowe commented on #238
I think it is fixed now. Please verify

[2015-02-19 04:48] dhowe commented on #239
steps to recreate?

[2015-02-19 05:01] dhowe commented on #237
good ticket -- probably not

[2015-02-19 05:04] mushon commented on #239
Not sure… view a JODI piece?

[2015-02-19 05:05] dhowe commented on #239
:)

[2015-02-19 05:30] dhowe commented on #237
fixed, please verify

[2015-02-19 05:31] dhowe commented on #239
you might try killing the firefox process in the activity-monitor or event-viewer

[2015-02-19 06:05] dhowe opened #240 "Visits rejected without cookie"
NYTIMES redirects to this URL: https://myaccount.nytimes.com/auth/login?URI=http%3A%2F%2Fwww.nytimes.com%2F2015%2F02%2F02%2Fopinion%2Four-curse.html%3F_r%3D5&REFUSE_COOKIE_ERROR=SHOW_ERROR

Perhaps argues for default outgoing cookies to be enabled? Counter-argument is that this could leak actual page visits from the domain.

![no-cookie](https://cloud.githubusercontent.com/assets/737638/6262532/36

[2015-02-19 06:15] mushon commented on #240
What would be the downside of that?

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2015-02-19 06:16] dhowe commented on #240
See above...

[2015-02-19 06:55] dhowe commented on #240
Added test-file: https://github.com/dhowe/AdNauseam/blob/master/lib/test/nytimes-nocookie-rejected.json

[2015-02-19 06:57] dhowe opened #241 "Add mechanism for logging from menu/vault into adn-log"

[2015-02-19 07:00] dhowe commented on #50
Moving this to #222

[2015-02-19 07:00] #50 closed

[2015-02-19 08:13] dhowe opened #242 "Menu: alignment broken in settings panel"
Expected:
![screen shot 2015-02-19 at 4 15 33 pm](https://cloud.githubusercontent.com/assets/737638/6263437/b13ef934-b852-11e4-9e3c-9eecc9edce67.png)

Actual:
![screen shot 2015-02-19 at 4 10 22 pm](https://cloud.githubusercontent.com/assets/737638/6263413/3385fb28-b852-11e4-86ae-f4e26d3e71e0.png)

[2015-02-20 23:33] JosephRPalmer commented on #125
+1

[2015-02-21 06:12] dhowe commented on #204
and link added to home-page: http://adnauseam.io/

[2015-02-21 06:16] dhowe opened #243 "FirstRun: add version number in firstrun.html (so that users can easily verify upgrade)"

[2015-02-21 06:38] dhowe commented on #243
implemented -- leaving open in case you want to tweak the placement/design...

![screen shot 2015-02-21 at 2 37 59 pm](https://cloud.githubusercontent.com/assets/737638/6313125/451c6864-b9d7-11e4-9882-5af1d6ff853a.png)

[2015-02-22 01:20] amrod commented on #125
+1

[2015-02-22 11:40] dhowe opened #244 "AdNauseam for Firefox mobile"
Lets see what changes this will require...
https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/Mobile_development

[2015-02-23 08:19] mushon commented on #239
Just tested with v1.14, same case.
Steps to recreate:

- collect some ads in the vault
- force quit
- restart Firefox
- see? no ads…

Expected: ads should still be where we left them.

[2015-02-23 16:22] CyrusSUEN commented on #239
I can reproduce this too using the latest xpi and by force quiting Firefox.

[2015-02-23 16:34] CyrusSUEN commented on #238
Fixed and thanks!

[2015-02-23 16:46] CyrusSUEN opened #245 "Ads re-appearing when enabling ADN"
on http://www.tomshardware.com/
with the latest build of ADN and the latest filter from EasyList (and do not allow non-intrusive advertising settings) if I disable ADN there is no Ads on the webpage.

However if I enable ADN there is an ad appearing at the top and the middle of the webpage.
![screen shot 2015-02-24 at 12 43 53 am](https://cloud.githubusercontent.com/assets/2461812/6332099/585bf8e8

[2015-02-23 16:50] CyrusSUEN commented on #237
Fixed and thanks!

[2015-02-24 03:55] #238 closed

[2015-02-24 03:55] #237 closed

[2015-02-24 19:40] slambert commented on #175
Thanks for the fix! Just ran into the issue and re-installed AdNauseam from source. Just a little nudge to release this to the world!

[2015-02-25 02:31] dhowe commented on #175
Thanks @slambert -- V1.1 was released a while back (end of January), and included this fix. Let me know if you see the problem again...

[2015-02-25 14:26] dhowe commented on #239
This is right-click and force-quit?

[2015-02-25 14:28] dhowe opened #246 "Options: add option to hide found-on-page in advault (privacy)"
Thoughts?

[2015-02-25 15:05] mushon commented on #239
Yes

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2015-02-25 21:23] mushon commented on #246
For like porn ads?

[2015-02-25 22:33] slambert commented on #175
@dhowe Ah, you mean here - <https://dhowe.github.io/AdNauseam/>

I checked on [mozilla addons](https://addons.mozilla.org/en-US/firefox/search/?q=AdNauseam&appver=32.0.3&platform=Darwin) and on [the releases page of github](https://github.com/dhowe/AdNauseam/releases). It'd be cool to get it on mozilla add-ons so you can get auto-updates, right?

[2015-02-26 03:23] dhowe commented on #175
Yes, I submitted to mozilla a while back, but haven't heard anything as yet. In the meantime, I'll update the releases page...

[2015-02-26 03:28] dhowe commented on #246
From the vault, a users browsing history can be largely recreated (at least for all the sites visited that have ads).

A related question, if one clears the browser history, how should this affect the vault data? The options I see are to a) clear it automatically, b) prompt the user, and/or c) have an option setting.  But the current situation, where the vault remains, seems unacceptable/unintuiti

[2015-02-26 03:41] slambert commented on #175
Ah� from experience, with new addons it can take a very long time. Once you�ve been accepted they are usually much faster with updates. They post updates like this: https://blog.mozilla.org/addons/2015/02/25/add-ons-update-61/ Looks like it�s currently about 8 weeks.

When we update Add-Art, there seems to be a volunteer reviewer that has taken a liking to us and it gets reviewed within a day. So

[2015-02-26 07:03] dhowe commented on #239
Ok, closing...

[2015-02-26 07:40] mushon commented on #246
A prompt would make the most sense to me

[2015-02-26 08:16] dhowe commented on #245
Verified -- good one, Cyrus.

[2015-02-26 08:20] dhowe commented on #245
I see the ad shown above with AND without AdNauseam:

![screen shot 2015-02-26 at 4 19 41 pm](https://cloud.githubusercontent.com/assets/737638/6388304/64076990-bdd3-11e4-9992-05bde7f3f1ac.png)

[2015-02-26 08:30] CyrusSUEN commented on #245
I can see the Ad is gone when I disable ADN in Firefox's Add-on page.
![screen shot 2015-02-26 at 4 28 46 pm](https://cloud.githubusercontent.com/assets/2461812/6388419/b843d0c4-bdd4-11e4-9f4e-aef826aedffd.png)
![screen shot 2015-02-26 at 4 27 00 pm](https://cloud.githubusercontent.com/assets/2461812/6388420/bc264b9a-bdd4-11e4-8c69-d903be844ca7.png)

[2015-02-26 08:33] dhowe commented on #245
Correct, though it is still there if you click 'pause' in the ADN menu...

[2015-02-26 08:55] CyrusSUEN commented on #245
So is the bug verified?

[2015-02-26 09:01] dhowe commented on #245
verified

[2015-02-26 10:18] dhowe commented on #245
I've dug to the bottom of this one and found what represents a serious issue/question regarding script-loading.

One of the rule-types in ABP blocks scripts (generally javascripts that insert ads).  If we also block these (as in earlier versions of ADN), then we cannot get any info about the ad, as it is never loaded and thus cannot be processed by ADN (as example, this is the case for the ads on

[2015-02-26 10:25] mushon commented on #239
This is still happening with the latest XPI v1.152, even on quit (no crash needed). Reopening.
![screen shot 2015-02-26 at 12 25 22 pm](https://cloud.githubusercontent.com/assets/27123/6390151/94156680-bdb2-11e4-9b1f-67085495fba3.png)

[2015-02-26 10:31] dhowe commented on #239
Are you waiting at least 10 seconds from the last detected ad before quitting?

[2015-02-26 10:41] mushon commented on #239
Much more than that, and I’ve waited much more than 2 minutes before the previous crashes that leave no ads at all behind.

(I'm on Firefox 34.0.5. D/L an update now, though I doubt that's the case)

[2015-02-26 12:04] dhowe commented on #239
I am thinking that maybe your profile is corrupt...
Also, how are you launching the browser?

@CyrusSUEN Can you try to verify this -- I can't as yet...

[2015-02-26 12:37] mushon commented on #239
Ok, just tested with a test profile and the problem did not appear then and there.
If my profile is indeed corrupt (this is my main profile) how do I fix it?

[2015-02-27 04:34] CyrusSUEN commented on #239
Is it because @mushon was using AdBlock Edge instead of AdBlock Plus?

You can follow this https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles#w_removing-a-profile
to remove the old profile and create a new one.

[2015-02-27 04:48] dhowe commented on #239
@CyrusSUEN Can you attempt to recreate this with adblock-edge? Install both, load some ads, wait at least 10 seconds, then force-quite, then restart...

[2015-02-27 05:02] CyrusSUEN commented on #239
Made an XPI from the latest build.

I've tested many times on http://www.nytimes.com and @mushon was right.
No matter ADP or Adblock Edge if I waited for 10s and then force quited using Activity Manager, all the Ads in Ad Vault were lost.

[2015-02-27 07:44] mushon commented on #239
Actually I wasn’t able to recreate the problem with a new profile, ADN saves the ads through (controlled) crashes but now the vault is not showing anything (no error in the console):

[2015-02-27 12:00] dhowe commented on #245
@CyrusSUEN please recheck this with v1.16

[2015-02-27 12:01] dhowe commented on #239
@mushon please recheck with v1.16 xpi

[2015-02-27 13:47] CyrusSUEN commented on #239
Fixed in v1.16 xpi and I've tested with ADP and ADE.

[2015-02-28 04:43] CyrusSUEN commented on #245
Yes the Ad is hidden but I cannot see it in the Ad vault.

[2015-02-28 05:06] CyrusSUEN commented on #245
I think you've adopted the 1st option as you've mentioned.

If we can use the 2nd option to load all scripts and then hide it again within ADN (not ADP), we can <b>add an option</b> to let users to choose whether they want this kind of Ad to be detected by ADN.

[2015-02-28 07:56] dhowe commented on #245
I'm not sure how we would hide something with ADN -- all hiding depends on the rules defined in ABP

[2015-02-28 16:58] CyrusSUEN commented on #182
For about.com and ESPN, I cannot get the Ads from the HTML document when ADP is enabled.
Is it the same as #245 that those are pure JavaScript Ads?

@dhowe if you have time, can you inspect these 2 for the text Ad detection?
rank 14 about.com text ad
http://search.about.com/?q=stock+&SUName=search
rank 26 ESPN
http://search.espn.go.com/alan-ball/

[2015-02-28 19:10] erixtekila commented on #234
Would you mind show what is adblock+ interface source, please ?

[2015-03-01 05:52] #218 closed

[2015-03-01 08:16] mushon commented on #239
Fixed. Closing. Thanks!

[2015-03-01 08:16] #239 closed

[2015-03-01 12:48] dhowe commented on #234
This is what I was referring to: https://adblockplus.org/en/IAdblockPlus

(though this may not be necessary... would be good to chat with one of the uBlock devs)

[2015-03-01 14:23] dhowe commented on #119
From Cyrus:

"I have just finished the Firefox extension badge testing. Try cfx run and you can test with it. If you click on the extension toolbar icon, the badge number will increase by 1.

I've also add the 3rd party libraries to the local project (in the packages directory add-on's root). So that we don't have to configure the installation before using it.

You can inspect my code there in lib

[2015-03-01 16:11] erixtekila commented on #234
Here is the github repo : https://github.com/gorhill/uBlock
It seems that adblock or adblock+ would be able to let some content appears, depending of some commercial contracts…

[2015-03-01 16:18] CyrusSUEN commented on #234
@erixtekila Do you mean the option "Allow some non-intrusive advertising"?
Usually this means the text ads and we uncheck this to block and store the text ads in ADN's ad vault.

[2015-03-02 07:45] dhowe commented on #244
Research if there are alternative UI options...

[2015-03-02 08:35] dhowe commented on #182
about.com filter rules:
[code]

[2015-03-02 08:46] dhowe opened #248 "Test text-ad selectors with script"
... to check if any selectors have broken because of site updates... See my two first-takes at this in 'scripts' dir, one using jsdom and one using phantomjs.

[2015-03-03 06:05] CyrusSUEN commented on #182
ESPN filter rules

[code]

[2015-03-07 14:37] CyrusSUEN commented on #244
[Ghostery](https://addons.mozilla.org/en-us/firefox/addon/ghostery/) has some UI options for Firefox Mobile
It adds its Ghostery icon on the bottom right and its option in Firefox menu.
![screenshot_2015-03-07-22-28-10](https://cloud.githubusercontent.com/assets/2461812/6541703/8b5bbf66-c51a-11e4-8705-41f19d2d3f08.png)
![screenshot_2015-03-07-22-28-21](https://cloud.githubusercontent.com/assets/24

[2015-03-07 14:40] dhowe commented on #244
Ok -- please add links to the source here (if it is public), then put this ticket on hold for now...

[2015-03-08 06:47] CyrusSUEN commented on #244
I don't think they are public available.
Ghostery company's github URL is [here](https://github.com/ghostery) but it contains no "Ghostery" addon.
Also I cannot find "Home Button for firefox on android".

At least these serve as some FF Mobile UI inspiration.

[2015-03-08 06:48] dhowe commented on #244
Can you access the xpi on firefox? If so, unzip it and you have the source...

[2015-03-08 09:34] CyrusSUEN commented on #244
Yes. I can access the files now after unzipping them.
direct links to the XPIs:
[Ghostery](https://addons.mozilla.org/firefox/downloads/latest/9609/addon-9609-latest.xpi?src=dp-btn-primary)
[Home Button for Android](https://addons.mozilla.org/android/downloads/latest/533508/platform:7/addon-533508-latest.xpi?src=hp-dl-upandcoming)

[2015-03-08 09:40] dhowe commented on #244
Here is the full source for ghostry: http://rednoise.org/~dhowe/ftp/gff.zip

[2015-03-08 11:49] dhowe commented on #244
ok, lets put this on hold for now...

[2015-03-12 08:00] dhowe opened #249 "Convert inline HTML to jquery"
In data/menu.js, write a new version of the function createHtml() on line 70, that uses jquery, following the style in the function appendMetaTo(), in data/vault.js (line 195).

Be sure to test that the generated HTML is the same.

[2015-03-12 17:10] dhowe opened #250 "Add ability to delete specific ads from adview, or hide/filter/delete all broken images"
Often links to old ad images will die, and over time, this leaves the advault strewn with broken images (see below, though clearly an extreme case). We need some way for the user to delete, hide, or filter these broken ads.

Another case is where some private data (e.g., a page-visit to a health-care site) is revealed through vault ad data, and the user might then want to delete the single offendi

[2015-03-16 15:47] dhowe opened #251 "Add user actions to log"
e.g., open-log, open-vault, etc

[2015-03-17 22:20] willgearty commented on #125
+1

[2015-03-21 11:00] qrilka commented on #125
+1

[2015-03-21 20:47] dhowe commented on #249
Moving priority to critical.
Our review at Mozilla is waiting on this -- where do we stand, @CyrusSUEN ?

[2015-03-22 23:14] CyrusSUEN commented on #249
Still solving this..I cannot figure out a way to keep adding variables to 'html' variable during the for loop
Made a JSFiddle here https://jsfiddle.net/yuyhero/hc26szxb/

If no for-loop is needed, I can make it work:
https://jsfiddle.net/yuyhero/7by67gzu/

[2015-03-23 00:11] dhowe commented on #249
You should need an html variable -- see this (fiddle)[https://jsfiddle.net/93uLmajx/1/]

[2015-03-23 15:54] CyrusSUEN commented on #249
Thank you for your jsfiddle. Finally figure it out.

please verify
https://github.com/dhowe/AdNauseam/pull/252

[2015-03-24 08:53] dhowe commented on #249
This is obviously broken. I visit the new york times and see hundreds of duplicate ads in the menu. Did you test this?

[2015-03-24 14:59] CyrusSUEN commented on #249
So I’ve made another attemp to fix the problem.
Most importantly I added “$items.empty();” before running the for-loop so that the list won’t be keep adding whenver the menu is popped.
https://github.com/CyrusSUEN/AdNauseam/commit/e96411ba0b6a755b9871c9647778ac20a99a3c45
Please have a look

[2015-03-25 06:21] #249 closed

[2015-03-25 07:16] dhowe opened #254 "Strange behavior on www.nytimes.com"
One or two repeated ads appear rather than the ads that show without ADN. This doesn't appear to be a bug in the menu code, but something strange is going on. Please investigate.

Without ADN:
![screen shot 2015-03-25 at 3 14 14 pm](https://cloud.githubusercontent.com/assets/737638/6819785/9f4c92a8-d301-11e4-9472-d15c266a74ae.png)

With ADN:
![screen shot 2015-03-25 at 3 15 20 pm](https://cloud.gi

[2015-03-25 07:18] dhowe opened #255 "Check all Text Ad regex's still working"
Check this manually for now, but needs to be made into a script or travis-ci task.

[2015-03-25 08:02] CyrusSUEN commented on #254
Yes, this has nth to do with the change of menu.js' code that when I revert back the menu.js' code the problem persists.
Also tried is restoring ADP's filter list to 2 weeks ago, but the filter list has nth to do with that.

When ADN is enable not many Ad entries from EasyList are hit:
![screen shot 2015-03-25 at 3 55 51 pm](https://cloud.githubusercontent.com/assets/2461812/6820288/484dcbd2-d308-

[2015-03-25 08:17] CyrusSUEN commented on #255
## List of Text Ad
Google working
Duckduckgo NOT working
Yahoo working
Bing working
eBay NOT working
AOL working

fixing duckduckgo and eBay now

[2015-03-25 08:20] dhowe commented on #255
Please also document *why* they stopped working

[2015-03-25 10:09] CyrusSUEN opened #256 "Ad# always starts at 2 instead of 1"
![screen shot 2015-03-25 at 6 06 48 pm](https://cloud.githubusercontent.com/assets/2461812/6822337/dff78304-d319-11e4-98c2-7de2dd718b1f.png)
![screen shot 2015-03-25 at 6 06 58 pm](https://cloud.githubusercontent.com/assets/2461812/6822345/e3ac5254-d319-11e4-82f6-35501e33422f.png)

To reproduce:
clear all Ad within ADN and then start browsing
notice the first Ad#

[2015-03-25 10:59] CyrusSUEN commented on #255
PR: https://github.com/dhowe/AdNauseam/pull/257

#### Reason for failing:

duckduckgo:
The website's rule has changed.
The Ad container .sponsor class is gone and replaced with .result (or precisely div.result)

eBay:
rules unchanged
scripts blocked
<b>eBay text Ad cannot be fixed in elemhide.js</b>

AOL:
elemhide.js cannot tolerate any error due to warm() instead of console.warm() etc
I've change

[2015-03-25 11:42] dhowe commented on #255
I still don't see DDG text-ads -- what are you using to test?

[2015-03-25 11:52] dhowe commented on #256
fixed

[2015-03-25 11:52] #256 closed

[2015-03-25 23:47] jessieiswise commented on #125
+1

[2015-03-29 06:16] dhowe commented on #255
What is the status of this?

[2015-03-29 08:40] dhowe opened #258 "Vault: make 'detected-on' link in inspector clickable (same as target)"
![screen shot 2015-03-29 at 4 37 09 pm](https://cloud.githubusercontent.com/assets/737638/6884744/61f75350-d632-11e4-9bca-261e4373d0ee.png)

[2015-03-29 09:24] dhowe commented on #248
@CyrusSUEN please run each of the text-ad selectors using the phantom-regex.js script and record the results here

[2015-03-30 14:13] CyrusSUEN commented on #248
after changing the user-agent, #tads.c from google is working again

https://www.google.com/search?q=jewelry&ie=utf-8&oe=utf-8&rls=org.mozilla:en-US:official&client=firefox-a&channel=sb&gws_rd=cr&ei=qdCBVOvaGYLYmAXO2oKgDg
[code]

https://search.yahoo.com/yhs/search?p=prada&ei=UTF-8&hspart=mozilla&hsimp=yhs-001
[code]

http://www.bing.com/search?q=shopping&pc=MOZI&form=MOZSBR
Bing.com's search resu

[2015-03-30 14:29] dhowe commented on #248
Is that all of the text-ad regexs (I think there are more)?

[2015-03-30 14:31] CyrusSUEN commented on #248
I'm adding those into the regex. But I will ignore the Chinese ones: Sogou and Baidu for the moment.

[2015-03-30 15:23] CyrusSUEN commented on #248
http://www.ebay.com/sch/i.html?_odkw=shopping&mfe=search&clk_rvr_id=805883700840&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.Xasdfsdf.TRS0&_nkw=asdfsdf&_sacat=0
[code]

http://search.aol.com/aol/search?enabled_terms=&s_it=comsearch&q=fund&s_chn=prt_aol20
[code]

[2015-03-30 15:40] CyrusSUEN commented on #255
![screen shot 2015-03-30 at 11 39 15 pm](https://cloud.githubusercontent.com/assets/2461812/6899933/0df46a7c-d736-11e4-8e67-dc65206ca4e5.png)
I tested the text ads via the built-in search bar

[2015-03-30 21:32] dhowe commented on #248
Have you checked in the phantomjs code where you set the user-agent?

[2015-03-30 21:37] dhowe commented on #255
As above, please check each text-ad selector and post the results here (including the URL you used to test each).

[2015-03-31 07:37] dhowe commented on #248
So, for documentation, this user-agent fails:
"Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleWebKit/534.34 (KHTML, like Gecko) PhantomJS/1.9.7 Safari/534.34"

[2015-03-31 09:27] dhowe commented on #254
What is your theory as to what is happening (perhaps because of blocked scripts, or...) ?

[2015-03-31 09:32] dhowe commented on #223
@CyrusSUEN Can you verify this? Please check functionality with history slider...

[2015-03-31 13:36] CyrusSUEN commented on #254
I have no idea. And besides the problem seems gone because the Ads have changed.

It was similar to the problem on tomshardware.com
I think the reason might be reloading the Ads' related JavaScript and

[2015-03-31 13:51] CyrusSUEN commented on #255
#### Google
https://www.google.com.hk/search?q=shopping&ie=utf-8&oe=utf-8&gws_rd=cr&ei=uqQaVZvyH5Lj8AXt_oK4Bw
![screen shot 2015-03-31 at 9 44 32 pm](https://cloud.githubusercontent.com/assets/2461812/6920227/d68dfdd6-d7ef-11e4-9e67-daeaa2a94b74.png)

#### Yahoo
https://search.yahoo.com/yhs/search?p=shopping&ei=UTF-8&hspart=mozilla&hsimp=yhs-001
![screen shot 2015-03-31 at 9 44 55 pm](https://clou

[2015-03-31 14:12] dhowe commented on #255
Strange, eBay works ok for me. Are you using the current (github) source? Please try clearing your cookies, then reloading the page...

![screen shot 2015-03-31 at 10 11 32 pm](https://cloud.githubusercontent.com/assets/737638/6920766/0bc5a316-d7f3-11e4-9098-d77f787dd272.png)

[2015-03-31 14:16] dhowe commented on #254
Ok, closing.

[2015-03-31 14:16] #254 closed

[2015-03-31 14:16] CyrusSUEN commented on #223
Yes, I have no problem moving the history slider and displaying different Ads (according to the timeline) in the collage.

But I'm not sure how to actually delete an Ad from within.

[2015-03-31 14:18] dhowe commented on #223
Right-click, then select delete

[2015-03-31 14:36] CyrusSUEN commented on #223
It works but has a minor problem:
1. delete an Ad in the latest timeline
2. move the history slider from the rightmost area to where the Ad first appear, the deleted Ad reappears

Anyway, reloading the collage page (cmd+r) can solve this.

[2015-03-31 15:36] dhowe commented on #248
Next, modify the updated phantomjs script to run each of the tests/urls/selector in sequence (or in parallel, doesn't matter). Use CasperJS for this if you like...

[2015-03-31 15:41] CyrusSUEN commented on #248
I think Bing fails because of this [detecting browser sniffing](http://ariya.ofilabs.com/2011/10/detecting-browser-sniffing-2.html)

[2015-03-31 15:44] dhowe commented on #248
Test it with the solution they post there...

[2015-03-31 15:51] CyrusSUEN commented on #255
Thanks for that. It's working again.

[2015-03-31 17:17] esotericDisciple opened #260 "ublock support"
https://github.com/gorhill/ublock

I'm using this adblocker with firefox, but AdNauseam isn't decting the extension...

[2015-04-01 03:43] dhowe opened #261 "Support/help email address"
An email address on the site: help@adnauseam.io or the like... @mushon, what will this require?
Or a 'contact' form (which goes to email)?
thoughts? we should make it really easy to get in touch with us
 (and support those who don't have, or don't use, twitter)

[2015-04-01 03:44] dhowe commented on #260
AdNauseam currently works only with Adblock Plus and Adblock Edge. See ticket #234

[2015-04-01 08:06] CyrusSUEN commented on #258
You've already done this.
I've made another change about the target attribute and created a PR:
https://github.com/dhowe/AdNauseam/pull/262

[2015-04-01 08:11] #258 closed

[2015-04-01 08:13] dhowe commented on #258
Merged and closed.

[2015-04-01 16:09] dhowe commented on #255
closing, see #248

[2015-04-02 12:38] thykka commented on #260
+1

[2015-04-02 12:42] thykka commented on #234
+1

[2015-04-02 17:16] CyrusSUEN commented on #255
Finished casperjs unit testing and here is the PR:
https://github.com/dhowe/AdNauseam/pull/263

![screen shot 2015-04-03 at 1 14 01 am](https://cloud.githubusercontent.com/assets/2461812/6969139/cbfe1396-d99e-11e4-9400-9197b0b746b6.png)

To install: $ sudo npm install -g casperjs (prerequisite: phantomjs)
To run: $ casperjs test casperjs-test.js

[2015-04-04 10:24] #260 closed

[2015-04-08 11:54] dhowe commented on #223
Please re-verify

[2015-04-08 12:06] dhowe commented on #251
done

[2015-04-08 12:06] #251 closed

[2015-04-08 12:55] #248 closed

[2015-04-08 12:56] dhowe commented on #255
The point was not to copy/paste code like that, but to run the tests in a LOOP... See my [commit](https://github.com/dhowe/AdNauseam/blob/master/scripts/casperjs-test.js).

Also, any time you create a script that requires some external tool to run it, include usage instructions at top of the script...

Please verify, then create a .travis.yml (and badge)... and submit in new pr

[2015-04-08 15:14] CyrusSUEN commented on #223
fixed

[2015-04-08 15:19] #223 closed

[2015-04-10 07:36] dhowe commented on #125
a placeholder, in the meantime... [AdLiPo](https://chrome.google.com/webstore/detail/adlipo/pebnfdfoickfleegcnjefombjnnn), "Replacing ads with generative language...", now in the google chrome store

[2015-04-10 14:23] dhowe commented on #250
single-ad right-click delete implemented

[2015-04-10 14:24] dhowe opened #265 "Clear advault on browser 'clear history'"
make into user option...

[2015-04-10 18:34] dhowe commented on #265
done - please verify

[2015-04-10 18:35] dhowe commented on #225
Re-submitted... in queue

[2015-04-10 18:38] dhowe commented on #155
closed

[2015-04-10 18:38] #155 closed

[2015-04-10 18:45] dhowe opened #266 "Check Top 100 websites for ad detection"
Visit the homepage of each of the [top 100](http://en.wikipedia.org/wiki/List_of_most_popular_websites) websites with 3 separate browser profiles: AdNauseam+AdBlock Plus, AdBlock Plus Only, and No Extensions. Note the following:

1. the number of (visible) ads on each site,
2. any pages where AdNauseam does not find any ads at all
3. in such cases, categorize the missed ads (flash-ad, text-ad-w-no

[2015-04-11 10:55] dhowe opened #267 "JavaScript error on shutdown: "TypeError: Policy is null""
JavaScript error: resource://gre/modules/addons/XPIProvider.jsm -> jar:file:///Users/dhowe/code/ffprofs/current23/extensions/%7Bd10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d%7D.xpi!/bootstrap.js -> jar:file:///Users/dhowe/code/ffprofs/current23/extensions/%7Bd10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d%7D.xpi!/lib/contentPolicy.js, line 406: TypeError: Policy is null

Not sure if this has an negative affects, but

[2015-04-11 13:20] dhowe commented on #265
not ready quite yet...

[2015-04-11 14:36] dhowe commented on #265
New fix: added new boolean user option  -> "clearAdsWithHistory"

All ads are now cleared in two cases (assuming this option is set to true):

a.  when the user clicks the History->Clear-Recent-History menu option
b.  the browser quits with the "Clear history when Firefox closes" settings option enabled

please verify

[2015-04-11 14:39] dhowe commented on #242
@mushon, this should be a quickie...

[2015-04-11 14:40] #148 closed

[2015-04-11 14:40] dhowe commented on #250
please verify

[2015-04-13 01:07] Nickfost commented on #125
+1

[2015-04-13 01:36] #243 closed

[2015-04-13 10:03] dhowe commented on #266
Do the first 10, then change the priority back to LOW... then continue when you have time

[2015-04-13 12:53] dhowe commented on #245
Closing

[2015-04-13 12:53] #245 closed

[2015-04-13 14:36] dhowe opened #268 "Add delete (on right-click) to menu"

[2015-04-13 14:37] dhowe opened #269 "Menu: css animations flashing in menu (animations: attempting, just-visited, just-visited.failed)"
Can't get a screenshot, but the entire ad flashes white when it is animating... (seems to be a new problem, perhaps with updated Firefox, or even OS X). There is even sometimes a problem on simple scrolling of the menu...

Same problem in vault, see #332 ...

[2015-04-13 14:38] dhowe opened #270 "Placeholders for flash ads?"
Instead, perhaps we should give a notification to users strongly suggesting they turn off Flash in the browser (as Mozilla has done by default in new versions). It is a continually gaping security hole.

I will need to research how to determine whether the user has flash enable, meantime someone can work on design.

[2015-04-13 14:50] dhowe commented on #233
These should now be fixed (in version 1.19).

Please verify with [this xpi](http://rednoise.org/adnauseam/adnauseam-1.19.xpi).

[2015-04-13 14:51] dhowe commented on #236
Can you retest this?

[2015-04-13 14:54] dhowe opened #271 "Add counting badge for FF versions >= 36"
here: https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/ui_button_action

[2015-04-13 18:08] CyrusSUEN commented on #233
Looks good now on these 3 websites with v1.19

[2015-04-14 09:25] CyrusSUEN commented on #236
fixed the JSON file and created PR https://github.com/dhowe/AdNauseam/pull/272

Only Ad#44 still remain unable to visit, others ads can now be visited.

[2015-04-14 09:45] CyrusSUEN commented on #265
verified and closing

[2015-04-14 09:45] #265 closed

[2015-04-14 15:05] CyrusSUEN commented on #266
1.means vanilla Firefox 37.0.1 only
2.means 1 + Adblock Plus
3.means 2 + AdNauseam

List of top 10 sorted by ranking
* Google (https://www.google.com/)
Number of visible Ad(s): 0

* Facebook (https://www.facebook.com/)
Number of visible Ad(s): 0

* YouTube (https://www.youtube.com/)
Number of visible Ad(s): 1
Flash-ad banner Ad

* Baidu (http://www.baidu.com/)
Number of visible Ad(s): 0

* Yahoo!

[2015-04-15 03:23] #233 closed

[2015-04-15 03:24] #255 closed

[2015-04-15 03:26] dhowe opened #273 "CasperJS tests fail from some machines, succeed on others"
See this StackOverflow [question](http://stackoverflow.com/questions/29623541/casperjs-tests-fail-from-some-machines-succeed-on-others) for details... Lets start documenting the machines that work and don't work with the versions.sh script in the same directory as the casper tests (see below)

[2015-04-15 03:28] dhowe commented on #273
OS: Linux 2.6.32-71.el6.x86_64 x86_64
Node: v0.10.33
NPM: 1.3.6
Phantom 1.9.8
Casper 1.1.0-beta3

![screen shot 2015-04-15 at 11 27 14 am](https://cloud.githubusercontent.com/assets/737638/7151783/882c624e-e362-11e4-9928-482d9198a15c.png)

[2015-04-15 03:36] dhowe commented on #273
$ ./versions.sh
OS: Darwin 14.1.0 x86_64
Node: v0.12.2
NPM: 2.7.6
Phantom 1.9.8
Casper 1.1.0-beta3

![screen shot 2015-04-15 at 11 34 48 am](https://cloud.githubusercontent.com/assets/737638/7151865/8be6e200-e363-11e4-9717-eab1f947a4e3.png)

[2015-04-15 03:43] dhowe commented on #248
Closed this ticket, moved CasperJS issues to #273

[2015-04-15 12:43] dhowe commented on #273
$ ./versions.sh
OS: Darwin 12.6.0 x86_64
Node: v0.12.2
NPM: 2.7.4
Phantom 1.9.8
Casper 1.1.0-beta3

[2015-04-15 13:29] dhowe opened #274 "Duplicate ads on si.com (whitelisted)"

[2015-04-15 15:54] CyrusSUEN commented on #273
$ ./versions.sh
OS: Darwin 14.3.0 x86_64
Node: v0.12.0
NPM: 2.5.1
Phantom 1.9.8
Casper 1.1.0-beta3

![screen shot 2015-04-15 at 11 53 49 pm](https://cloud.githubusercontent.com/assets/2461812/7163095/b685e800-e3ca-11e4-8a6f-56d2c1e103a1.png)

[2015-04-15 15:55] paudley commented on #125
+1

[2015-04-15 16:16] CyrusSUEN commented on #273
$ ./versions.sh
OS: Windows Version 6.1 (Build 7601: Service Pack 1)
Node: v0.12.0
NPM: 2.5.1
Phantom 1.9.8
Casper 1.1.0-beta3
![capture](https://cloud.githubusercontent.com/assets/2461812/7163565/4f5a8da4-e3cd-11e4-9af2-ba170a95af88.PNG)

[2015-04-19 13:00] MichaelJCole commented on #125
+1

[2015-04-19 15:23] dhowe commented on #222
Note: in the upload option, we may, for the sake of privacy, want to provide a means for users to 'redact' their page-visit urls when uploading JSON data...

[2015-04-19 23:49] abbiehoffmann commented on #233
I still have this issue with the latest release.

[2015-04-20 02:56] dhowe commented on #233
@abbiehoffmann you tested with the release listed above (v1.19) and still don't see ads on the 3 listed sites?

[2015-04-20 03:06] abbiehoffmann commented on #233
With 1.20. Is there a compiled 1.19 I can try?

[2015-04-20 03:10] dhowe commented on #233
Should be linked a few comments above...

[2015-04-20 03:12] dhowe commented on #233
Here's what I see with v1.20:
![screen shot 2015-04-20 at 11 10 40 am](https://cloud.githubusercontent.com/assets/737638/7223076/f7cdf3e4-e74d-11e4-970c-1a4d835e2734.png)
![screen shot 2015-04-20 at 11 11 28 am](https://cloud.githubusercontent.com/assets/737638/7223079/052fc99a-e74e-11e4-8e34-aa3550a29528.png)
![screen shot 2015-04-20 at 11 12 02 am](https://cloud.githubusercontent.com/assets/7376

[2015-04-20 03:15] abbiehoffmann commented on #233
I have no ads with http://thestranger.com, http://www.mediatakeout.com, and two ads at zam.com on version 1.19. I don't get the same results as you do.

[2015-04-20 03:17] abbiehoffmann commented on #233
Got it. Had blur installed. Had to uninstall.

[2015-04-20 03:19] dhowe commented on #233
Ok, well I will leave this issues closed, but what is the problem with [Blur](https://addons.mozilla.org/en-us/firefox/addon/donottrackplus/) -- is there some conflict we should look into?

[2015-04-20 03:23] abbiehoffmann commented on #233
Also weird, went to 1.20 without Blur installed, then got no ads. Went back to 1.19 without Blur and got the ads back. The problem seems that if Blur is installed with 1.19 ads don't load based on my very limited testing.

[2015-04-20 03:28] abbiehoffmann commented on #233
...and ads are gone again in 1.19. Disabled all of my plugins and they are still gone Very erratic. Will do a clean reinstall of Firefox when I can.

[2015-04-21 18:36] dhowe commented on #84
Lets start on this: replacing all UI strings with their localized placeholders (do one file first, menu.js, then submit a PR for checking)

See: https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/l10n

[2015-04-21 18:42] dhowe commented on #266
Excellent. Next steps:

-- add yellow highlight in spreadsheets for all the sites we need to address (those with missing non-flash, non-local ads)

-- try fixing each of these by adding the site to the whitelistedScriptDomains array in lib/parser.js, then restarting (with cfx), and reloading the site (in the console you should see a message like:

    console.log: adnauseam: *** Allowing ABP-block

[2015-04-22 12:26] CyrusSUEN commented on #84
PR here: https://github.com/dhowe/AdNauseam/pull/275

[2015-04-22 12:31] eagleapex commented on #125
nice

[2015-04-22 12:42] dhowe commented on #125
For everyone interested in AdNauseam on chrome, we are currently waiting/hoping for uBlock support to make this happen. The tickets are [here](https://github.com/chrisaljoudi/uBlock/issues/798) and [here](https://github.com/chrisaljoudi/uBlock/issues/1247), in case anyone wants to comment, though one of the uBlock devs appears to have a philosophical issue with AdNauseam

[2015-04-22 13:49] ProGamerGov commented on #125
What is the status of an Android version of AsNauseam?

[2015-04-22 15:03] dhowe commented on #78
closed on favor of #244

[2015-04-22 15:03] #78 closed

[2015-04-22 15:06] dhowe commented on #125
On hold at moment, see #244

[2015-04-22 17:46] CyrusSUEN commented on #84
updated locale and the Chinese ones are working also included are locale update to firstrun.html and log.html
https://github.com/dhowe/AdNauseam/pull/277
I tested them by changing the zh- files to en-US.

But 2 places not translated and need to be noted:
1. ![1](https://cloud.githubusercontent.com/assets/2461812/7281166/5a0aa62a-e95a-11e4-83b0-4cbc099ea797.gif)
Need a redesign on the alert logo
2.

[2015-04-23 03:33] dhowe opened #278 "Menu shows 0 ads clicked when advault is open"
![screen shot 2015-04-23 at 11 32 20 am](https://cloud.githubusercontent.com/assets/737638/7290123/9b2a171a-e9ac-11e4-99e0-0663870ab00d.png)

[2015-04-23 03:37] dhowe commented on #84
Please see new critical bug -- I'm wondering if this is due to localization.

Also, you can use this to test locale switching: https://addons.mozilla.org/en-US/firefox/addon/quick-locale-switcher/

[2015-04-23 04:14] CyrusSUEN commented on #84
I will revert the commits and see if that is the problem.

[2015-04-23 04:20] dhowe commented on #278
This is intended behavior, though it is a little confusing. Although there are no ads detected on the current page (the advault), one sees recently found ads that HAVE been clicked, yet the count reads 0. Perhaps we need to change the language from:

    'Clicked X of the Y Ads Detected'

to something like:

    'Clicked X of the Y Ads Found On This Page'

[2015-04-23 04:26] dhowe commented on #269
@CyrusSUEN Can you verify that you see this as well?

[2015-04-23 04:28] dhowe commented on #242
@CyrusSUEN Please a) verify this bug, and b) try to fix it once verified

[2015-04-23 04:29] dhowe commented on #153
not sure this is needed

[2015-04-23 04:29] #153 closed

[2015-04-23 04:36] #236 closed

[2015-04-23 04:37] dhowe commented on #273
I'm a bit perplexed by this... On hold

[2015-04-23 04:45] dhowe opened #279 "whos.amung.us shows broken image and not-visited"
![screen shot 2015-04-23 at 12 44 24 pm](https://cloud.githubusercontent.com/assets/737638/7290718/837b7e56-e9b6-11e4-96b2-dcf76f0567ee.png)

[2015-04-23 05:09] dhowe commented on #84
Next, do the vault (including inspector)

[2015-04-23 08:07] CyrusSUEN commented on #278
Agreed.

making it even shorter

[2015-04-23 09:10] CyrusSUEN commented on #242
bug confirmed and fixed: https://github.com/dhowe/AdNauseam/pull/280
please verify

[2015-04-23 09:15] dhowe commented on #242
Great

[2015-04-23 09:15] #242 closed

[2015-04-23 09:20] CyrusSUEN commented on #269
Yes I can seen this bug on Mac but no problem on Windows. Perhaps a Firefox bug?

[2015-04-23 10:25] mushon commented on #242
@cyrussuen good job and thanks for picking up my slack.

[2015-04-23 10:40] mushon commented on #278
Another option:
Don't show ads on pages with no ads and instead present a message:

No ads on this page
[load previously detected ads]

I'm also completely fine with not presenting previous ads. I think right now this feature is more confusing than helpful as its compromising the consistency of the panel and is not really useful in any way.

[2015-04-23 11:02] dhowe commented on #278
The point of this feature we to address the "ADN isn't doing anything, it always shows 0 ads" complaint, which it does.

I lean toward the solution suggested by @CyrusSUEN:

![screen shot 2015-04-23 at 7 01 35 pm](https://cloud.githubusercontent.com/assets/737638/7295697/3f1fa8d8-e9eb-11e4-9100-4c3840632830.png)

[2015-04-23 11:30] mushon commented on #278
OK. I agree the change of wording makes sense.

Still, I think we should also address the the inconsistency problem.

[2015-04-23 18:09] CyrusSUEN commented on #84
ready to merge: https://github.com/dhowe/AdNauseam/pull/281

One place I didn't localize because I think in some languages 'ad' will be too long to fit in the area
![capture](https://cloud.githubusercontent.com/assets/2461812/7303978/cd37052c-ea26-11e4-8839-e1f320e8d79c.PNG)

[2015-04-23 18:11] CyrusSUEN commented on #242
@mushon Thank you!

[2015-04-23 18:24] CyrusSUEN commented on #269
Which part of the code does the animation job? Does it involve CSS?

[2015-04-24 05:28] dhowe commented on #212
fixed, please verify

[2015-04-24 06:33] dhowe commented on #269
See menu.css :: line 316
.ad-item.attempting,
.ad-item-text.attempting {
  animation: 200ms ease-in-out attempting infinite alternate;
}

[2015-04-24 06:38] dhowe commented on #269
@mushon do you see this as well on OS X?

[2015-04-24 07:14] CyrusSUEN commented on #212
Now it shows
![Uploading Capture.PNG . . .]()

recreated a PR here to remove unused locale props https://github.com/dhowe/AdNauseam/pull/282

[2015-04-24 07:25] CyrusSUEN opened #283 "Introduce cloud translate service crowdin to contributors"
add translation https://crowdin.com/project/adnauseam to README.md under https://github.com/dhowe/AdNauseam#can-i-contribute

and perhaps also include this in http://adnauseam.io/?

[2015-04-24 08:06] dhowe opened #284 "Advault should refresh with new ads on ad-import (or at least close)"

[2015-04-24 08:46] CyrusSUEN opened #285 "menu: broken text ad entry layout and detection"
affected URL: https://www.google.com.hk/search?q=gym&ie=utf-8&oe=utf-8&gws_rd=cr&ei=EwE6VfGEA4zj8AXxgYF4

![screen shot 2015-04-24 at 4 38 49 pm](https://cloud.githubusercontent.com/assets/2461812/7315495/8d286794-eaa0-11e4-84ff-e3de17b58786.png)

In ea8c99cb4845815b3d30e525a8e12478b00269ac
the menu is working properly (see the above screenshot)

![screen shot 2015-04-24 at 4 45 16 pm](https://clo

[2015-04-24 09:23] dhowe commented on #212
Is this verified?

[2015-04-24 09:24] dhowe commented on #222
Pages required:
  Thumbnail page
  AdVault-view page (same as in addon)
  Upload dialogue box: title, user-name, tags?

[2015-04-24 09:41] dhowe commented on #285
good find!

[2015-04-24 09:41] #285 closed

[2015-04-24 09:46] CyrusSUEN commented on #212
I think so. Don't think we can reproduce the situation in yellow circle.
![screen shot 2015-01-27 at 9 14 54 pm](https://cloud.githubusercontent.com/assets/737638/5918959/a00c6fca-a669-11e4-962a-dc5ac87af609.png)

[2015-04-24 09:54] #84 closed

[2015-04-24 17:11] CyrusSUEN commented on #269
Actually even scrolling the menu on Mac can sometimes make it flicker.
It is not becoming white but the element div #ad-list become transparent for a very brief moment showing the webpage content beneath it.

I've tried disabling all the menu.css properties except the following code (otherwise the menu cannot be scrolled) but the flicker still exist.
``
#ad-list {
  height: 350px;
  overflow-y: sc

[2015-04-25 09:03] #284 closed

[2015-04-25 09:04] dhowe commented on #271
Done. Please verify with versions before AND after 36

[2015-04-25 17:04] agilob commented on #234
If you want this feature, you should ask for it [here](https://github.com/gorhill/uBlock/issues/67)

[2015-04-27 08:00] dhowe commented on #119
see #271

[2015-04-27 08:00] #119 closed

[2015-04-27 08:01] mushon commented on #271
Default color for the badge should be: #0076FF
When all visit attempts were made switch to : #BD10E0
In the case of all ads failing switch to: #B80606

[2015-04-27 08:03] mushon commented on #125
Guys, we are very encouraged by all your :+1:s and we would love to get the Chrome version out soon, but what @dhowe and I would really appreciate are pull requests.

+ Just to clear any possible misunderstanding what's on hold is the Firefox Mobile version of AdNauseam (#244), not the Chrome version.

[2015-04-27 08:30] dhowe commented on #151
see #269

[2015-04-27 08:30] #151 closed

[2015-04-27 09:14] mushon opened #286 "Redesign the delete ad from vault option"
the option implemented in #250 as a right-click should get a new design for the next version

[2015-04-27 09:17] mushon commented on #250
this works but should be redesigned for next version - #286

[2015-04-27 09:24] mushon commented on #250
Actually @dhowe this is slightly buggy. While deleting works when the ads are all present, focusing on one ad gives buggy results. Right clicking (ctrl+click on MBP) zoomed out and didn't delete the ad. In another case it did delete the ad but froze the ad blob after deletion: http://prntscr.com/6yoqgn

[2015-04-27 09:33] dhowe commented on #250
you are saying that it doesn't work correctly when you are viewing an ad in the inspector?

[2015-04-27 09:55] mushon commented on #250
Yes,
right clicking selects the text on the contextual menu and sometimes zooms out the ad.
In other cases the button wasn’t clickable and in other cases when it was clickable the composition zoomed out weirdly with the dark overlay still on it. I had to refresh the page to exit that mode.

[2015-04-27 09:57] CyrusSUEN commented on #271
In popup menu, there is a statement  -- 'Clicked X of the Y Ads on this page'.
I think the badge number should represent the number Y. What do you guys think?

Right now the badge icon only shows the latest Y number from the latest tab.
Even if I switch back to a tab that has a different number Y, the badge number is still unchanged.
Or in case you open the Ad Vault, the badge number is confusing.

[2015-04-27 09:58] dhowe commented on #250
Then unless anyone disagrees, I will remove the context-menu functionality from the inspector and leave it only in the basic view

[2015-04-27 10:02] dhowe commented on #271
I agree on "setting to hide badge".

[2015-04-27 10:08] mushon commented on #271
I agree, Y should be updated per page refresh and per page tab switch.
That also means that switching back to a tab that previously detected ads should show that number again.

:+1: on option to hide badge

[2015-04-27 10:09] mushon commented on #250
I think it’s less usable in the basic view, but we will revisit the usability in the next version anyway.

[2015-04-27 10:11] dhowe commented on #271
My question above is where Y (not the badge) is currently being updated correctly?

[2015-04-27 10:25] CyrusSUEN commented on #271
Y is updated correctly on every page. I think you can use that value for displaying the badge number.

[2015-04-27 11:05] dhowe commented on #271
Actually it is not. Visit a page with ads, then open menu, then press command-T to open a new tab. Menu does not update.

[2015-04-27 11:11] CyrusSUEN commented on #271
But if we close the menu and open it again. It will update.

There should be an event listener to watch out for cmd + t when the menu is open.

[2015-04-27 11:12] #212 closed

[2015-04-27 11:17] dhowe commented on #271
Fixed, please check.

[2015-04-27 11:34] CyrusSUEN commented on #271
Looks all good right now.

Tested on FF37 and FF36 on both Mac and Windows. All can display the badge number.
FF35 on Windows does not display the badge but it is still working fine.

[2015-04-27 11:39] dhowe commented on #271
Ok, thanks. We can add colors and the settings option in the next release.

[2015-04-27 11:39] #271 closed

[2015-04-27 11:40] dhowe commented on #250
Fixed for now (to be revisited in next version). Please verify and close.

[2015-04-27 14:08] CyrusSUEN opened #287 "Vault: should NOT be able to right click while focusing an Ad"
![1](https://cloud.githubusercontent.com/assets/2461812/7349138/970cee0c-ed29-11e4-91ec-73c0166ba722.PNG)
click on an Ad and then right click in its white area

![2](https://cloud.githubusercontent.com/assets/2461812/7349140/97a5d518-ed29-11e4-949d-93f98ab8716a.PNG)
Result: the context menu for deleting the Ad still pops up and the collage is centered.

[2015-04-27 15:31] dhowe commented on #287
I do not see this behavior on OS X -- is this a windows only issue (and are you sure you have the newest code)?

[2015-04-27 16:09] CyrusSUEN commented on #287
https://github.com/dhowe/AdNauseam/pull/288

[2015-04-27 16:11] CyrusSUEN commented on #287
I have this problem on both my Mac (10.10.3) FF 37.0.2 and Windows 7 FF 37.0.2.
I'm using the trackpad on Mac.

[2015-04-27 18:31] #287 closed

[2015-04-27 18:38] CyrusSUEN commented on #250
verified and closing

[2015-04-27 18:38] #250 closed

[2015-04-28 10:10] CyrusSUEN opened #289 "Vault: collage layout occasionally rearranged after deleting an Ad"
Deleting the majority of the Ads from the collage will not cause a layout rearrangement but very few of them will do and the following is the code that triggers the phenomenon.

In data/vault-slider.js
[code]

if the condition is false in line 133, the collage layout will be rearranged.
[code]

Is it a condition we need to fix? If so I've created a PR of the testing json file: https://github.com/d

[2015-04-28 12:25] CyrusSUEN opened #291 "Vault: how to display large numbers of ads in inspector"
![1](https://cloud.githubusercontent.com/assets/2461812/7369383/4f9cb852-ede4-11e4-9672-111cfc675521.png)
The number is 98 from the View Ad Vault button in menu;
72 in the bottom left string from the Ad Vault page.

To reproduce this issue: import JSON file lib/test/vault-#291.json

PR: https://github.com/dhowe/AdNauseam/pull/290

[2015-04-28 12:42] dhowe commented on #291
verified

[2015-04-28 12:49] mushon opened #292 "Badge color should change after all ads were attempted"
The color should change to purple #BD10E0 or in the case where all ads failed change to red #B80606.
This expected action was not seen in version 1.20 RC4

[2015-04-28 14:47] dhowe commented on #269
@mushon if there is a quick fix to this for v1.2 that would be great -- perhaps pulsing the background color or even the text color, rather than the opacity (as this seems to be cause the problem)

[2015-04-28 15:21] dhowe commented on #291
This is indeed confusing, but expected behavior pending some redesign of the inspector, as the current design supports a max of 9 ads per AdSet. With some added logging, I see the following results in the console, which clearly demonstrates what happens to the missing ads:

console.log: adnauseam: Vault-Slider.createAdSets: 98 ads
console.log: adnauseam: AdSet#313 ignoring 14 ads (over limit of 9)

[2015-04-28 16:39] CyrusSUEN opened #293 "IO: Unable to export Ads when installed from XPI files"
No matter using the XPIs from
http://rednoise.org/adnauseam/adnauseam.xpi
or
https://github.com/dhowe/AdNauseam/releases/download/v1.20rc4/adnauseam-1.20rc4.xpi
Or using ```cfx xpi``` to build the XPI myself, the 'Export Ads' button do not generate a json file.

But when using cfx xpi -profile during the development, I can use the 'Export Ads' and successfully generate some json files.

Do you @dh

[2015-04-28 20:45] mushon commented on #291
I'm not sure why would the current design supports a max of 9 ads per AdSet.
What am I missing?

[2015-04-29 03:27] dhowe commented on #293
I do not.

[2015-04-29 03:28] dhowe commented on #291
You can see the (visual) problem here. I think that the max-number was a quick/dirty fix that we meant to come back to...

![screen shot 2015-04-29 at 11 26 15 am](https://cloud.githubusercontent.com/assets/737638/7384290/b02c2b5c-ee62-11e4-8328-1883af256583.png)

[2015-04-29 03:38] dhowe opened #294 "Cleanup and new pages for wiki"
https://github.com/dhowe/AdNauseam/wiki

Add 'installation' page
Add text and link to website on home page
Remove old stuff

[2015-04-29 06:52] mushon commented on #291
What do you think about replacing the circles with next/previous buttons?
Or rather do you have any other recommendations?

[2015-04-29 10:00] dhowe commented on #291
Not really -- I thought about it a bit last night and no good solution came to me...

[2015-04-29 10:51] dhowe commented on #269
@CyrusSUEN can you create a minimal jsfiddle for this (just a continual css animation on a simple web-page)?

[2015-04-29 12:29] CyrusSUEN commented on #269
Is this ok?
http://jsfiddle.net/a2Lv5w4t/3/

[2015-04-29 14:05] mushon commented on #269
Here’s a quick attempt to move the class to the child elements, I’m not sure it would help but it’s worth trying:
http://jsfiddle.net/jyd38oaf/

-- 
Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

On April 29, 2015 at 3:29:04 PM, Cyrus S (notifications@github.com) wrote:

@CyrusSUEN can you create a minimal jsfiddle for this (just a continual css animation on a simple web-page)?

Is this ok?
htt

[2015-04-29 14:17] dhowe commented on #269
In the meantime we have learned (thank to @CyrusSUEN) that it is not an html/css problem, as it only occurs inside Firefox

[2015-04-29 14:31] mushon commented on #269
So do we want to try solving it or report it to Firefox?

[2015-04-29 14:34] CyrusSUEN commented on #269
created a simple addon for this issue
https://drive.google.com/file/d/0BzHBWuszZv5_YWNfVkhwZE54WWc/view?usp=sharing
to Run
$ cd CSSFlashing
$ cfx run

[2015-04-29 14:50] dhowe commented on #269
Would be nice to find a workaround, as who know how long before it will be correctly fixed...

[2015-04-29 20:16] abbiehoffmann commented on #233
Still can't get 1.2 beta to work at all now even with no plugins but adblock plus and Adnauseum. Does it work better on Windows?

[2015-04-29 21:48] MeachamusPrime commented on #125
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-04-30 11:20] dhowe commented on #233
That is quite strange. A number of users, including most of the dev team, have been extensively using v1.2 on OSX. Is it possible that your Firefox profile has become corrupt? Can you try with a fresh profile (as described here: https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles)

[2015-05-01 03:40] abbiehoffmann commented on #233
Thanks much dhowe. I did that. Works on thestranger.com, and got 2 ads on zam.com. Nothing on media takeout, or a couple dozen main news sites that have lots of ads. Seemed to have helped, but still not working as expected. Is there a list of sites that definitely work with adnauseum?

[2015-05-01 04:58] dhowe opened #296 "Yahoo text-ads broken (ads visible on page)"
In version 1.20rc4 (osx)
![screen shot 2015-05-01 at 12 57 54 pm](https://cloud.githubusercontent.com/assets/737638/7426842/c0a66ba0-f001-11e4-8f3c-47f432b86b87.png)

[2015-05-01 05:01] dhowe opened #297 "List of sites/urls with detectable ads for testing"
http://www.si.com/
http://www.nytimes.com/
http://www.qq.com/
http://www.sohu.com/
http://mediatakeout.com/
http://www.thestranger.com/
http://www.zam.com/
https://www.google.com.hk/search?q=jewelry  (google-text-ads)
http://search.aol.com/aol/search?q=jewelry      (aol-text-ads)

[2015-05-01 05:02] dhowe commented on #233
I see one ad on mediatakeout.com (see below), but I think that a list is a good suggestion. I've started a ticket [here](https://github.com/dhowe/AdNauseam/issues/297) with several I thought of off the top of my head. Lets all contribute a few...

![screen shot 2015-05-01 at 12 48 41 pm](https://cloud.githubusercontent.com/assets/737638/7426785/6daca3de-f000-11e4-967a-acca75711c40.png)

[2015-05-01 05:07] abbiehoffmann commented on #297
This is glorious. I'm seeing most of these... now media takeout gives me 12 ads!

[2015-05-01 05:08] dhowe opened #298 "List of sites/urls on which we are not detecting any (non-Flash) ads"
http://computer.howstuffworks.com/

[2015-05-01 05:10] dhowe commented on #233
But, in any case, I think that a list is a good suggestion. I've started a ticket [here](https://github.com/dhowe/AdNauseam/issues/297) with several off the top of my head. I've also started a [ticket](https://github.com/dhowe/AdNauseam/issues/298) where we can list sites where (non-Flash) ads are NOT being detected. Let's all contribute a few!

[2015-05-01 05:11] dhowe commented on #274
Seems ok now

[2015-05-01 05:11] #274 closed

[2015-05-01 05:39] dhowe commented on #297
Glad to hear it. Maybe you can ad a few of the sites that you mention as not showing ads here:

https://github.com/dhowe/AdNauseam/issues/298

[2015-05-01 05:44] dhowe commented on #200
This is critically important for the long run.

[2015-05-01 05:55] abbiehoffmann commented on #297
http://www.infowars.com/
http://www.qq.com/
http://www.sohu.com/
http://www.163.com/
http://www.pcworld.com/
http://www.douban.com/

[2015-05-01 06:02] CyrusSUEN commented on #296
Is this the affected URL?
https://search.yahoo.com/search;_ylt=AmQVefNv4n8M4laSHulQ6nKbvZx4?p=jewelry&toggle=1&cop=mss&ei=UTF-8&fr=yfp-t-700&fp=1

Problem is that AdBlock Plus rule do not block these. I've tried this with a Firefox had only ADP installed and the text ads are still there.
I am going to report to EasyList

[2015-05-01 06:02] dhowe commented on #292
Also, I don't think this correctly matches the behavior of ads in the vault, where ad outline color is potentially updated continuously, as each ad is attempted, rather than only after all are attempted.

[2015-05-01 06:03] dhowe commented on #23
Closing in favor of #200

[2015-05-01 06:03] #23 closed

[2015-05-01 06:04] dhowe commented on #296
great

[2015-05-01 06:08] CyrusSUEN commented on #296
Submitted to EasyList forum. https://forums.lanik.us/viewforum.php?f=62
Will be visible after the moderator approval.

[2015-05-01 06:12] mushon commented on #292
@dhowe so do you want to flash it each time with the latest ad attempt result? It might get a bit distracting, no?

[2015-05-01 06:17] dhowe commented on #292
I don't mean flash it -- I just mean that the color in the vault potentially updates after each visit attempt (the logic is different)

[2015-05-01 09:14] mushon commented on #292
That can make sense, let’s try it and see if it works well for us.

[2015-05-01 10:12] dhowe commented on #291
Any further thoughts on this? Is there some way to do a fixed-size menu, say, with a max of 6 or 7 vertical items, that sort of scrolls to show all the options as they are selected?

[2015-05-01 10:30] dhowe commented on #291
Note: we also need this same animation for the vault, however this (unlike the menu) is currently disabled...

[2015-05-01 11:43] dhowe opened #299 "Clicking inspected ad in vault does not close it (as expected)"

[2015-05-01 14:07] dhowe commented on #299
@CyrusSUEN this bug was caused by the following code from your recent PR:

	$(document).mousedown(function(event) {

		if (event.which == 1) {

			lightboxMode(false);
		}
	});

Can you tell me why it was needed?

[2015-05-01 14:15] dhowe commented on #299
Fixed, pending Cyrus' verification...

[2015-05-01 14:16] dhowe commented on #289
Fixed, please verify

[2015-05-01 14:17] #268 closed

[2015-05-01 14:18] #296 closed

[2015-05-01 15:20] dhowe commented on #266
@CyrusSUEN please add these as well:
- http://www.ebizmba.com/articles/sports-websites
- http://www.ebizmba.com/articles/media-websites
- http://www.ebizmba.com/articles/ebusiness-websites

[2015-05-03 15:15] cqx931 commented on #222
A html mock-up.
I have kind of combined the thumbnail and AdVault-view in the current design. And the user can either close the thumbnail on the right or open it. And the side thumbnail bar should be a vertical slide bar(currently with no sliding function).
The main AdVault should be zoomable like in the view page, but currently I just used an image
http://sweb.cityu.edu.hk/qianxchen2/AdVaultGalle

[2015-05-04 06:19] CyrusSUEN commented on #289
verified and closed

[2015-05-04 06:19] #289 closed

[2015-05-04 06:25] CyrusSUEN commented on #299
I should have added a comment there:
[code]

Because before my fix, even in lightbox mode (after we clicked an Ad), right clicking will exit the mode and make a delete-menu popup in the center of the Ad Vault which is an unwanted behavior.

jQuery reference:
event.which also normalizes button presses (mousedown and mouseupevents), reporting 1 for left button, 2 for middle, and 3 for right. Use eve

[2015-05-04 06:31] dhowe commented on #299
I removed this line as it caused the above bug. Do you have a proposed solution?

[2015-05-04 06:31] CyrusSUEN commented on #299
The current fix is so weird that only clicking the lightboxed area can the user exit from lightbox mode.
I was unable to find out this and resorted to refreshing this page to exit the mode.

[2015-05-04 06:33] dhowe commented on #299
I don't understand. Clicking anywhere (on or off the inspected ad) should exit lightbox mode. Refreshing the page is not an option.

[2015-05-04 11:16] CyrusSUEN commented on #279
Can I have the affected URL?
I don't see any ads on http://whos.amung.us/

[2015-05-04 11:25] dhowe commented on #279
http://www.drakulastream.eu/

[2015-05-05 05:48] dhowe opened #300 "Should delete log on browser 'clear history'"

[2015-05-06 04:49] dhowe commented on #200
#### TEST CASES

-- [Simple iFrame](http://rednoise.org/adntest/iframe.html)
-- [Crossdomain iFrame](http://rednoise.org/adntest/iframe-crossdomain.html)

[2015-05-06 08:37] dhowe opened #301 "qq.com elem-hide appears to be failing"
specifically the waitFor regex:   "div.l_qq_com > a"

[2015-05-06 08:45] dhowe opened #302 "Add domains to each of the elemhide rules"
See my examples for rednoise, qq, sohu, google (notice this one uses a regex), etc.

Then add those that are missing.

Then test all the sites to be sure they still work

[2015-05-06 09:20] CyrusSUEN commented on #302
* Google: https://www.google.com.hk/search?q=fitness&ie=utf-8&oe=utf-8&gws_rd=cr&ei=VtxJVerDHoO7mQWopIHQAw ok
* Yahoo: https://search.yahoo.com/yhs/search?p=fitness&ei=UTF-8&hspart=mozilla&hsimp=yhs-001 ok

[2015-05-06 12:54] dhowe commented on #200
I have committed a fix to this -- please check it on the ads you have identified

[2015-05-06 13:36] CyrusSUEN commented on #299
Yes. Hitting escape key can exit lightbox mode.
But I tested on both my Mac and Windows that clicking off the inspected ad area cannot exit the lightmode.

[2015-05-06 13:38] dhowe commented on #299
It appears to works for me. Can you document the exact steps needed to recreate the problem?

[2015-05-06 15:28] CyrusSUEN commented on #299
When in lightbox mode (inspecting a single ad)
![capture](https://cloud.githubusercontent.com/assets/2461812/7496570/65e2262e-f447-11e4-8a16-3874d6dbe214.PNG)
only clicking the area in the screenshot can I exit from the mode (both Win and Mac)
The longer the URL, the wider the area.

[2015-05-06 15:35] CyrusSUEN opened #304 "badge: 'clear ads now' should reset badge number to 0 immediately"
Currently clearing ads from the menu do not reset the badge number to 0 unless switch between tabs (this will call onActivateTab() ).

![clipboard02](https://cloud.githubusercontent.com/assets/2461812/7496786/e8e79710-f448-11e4-8f96-6a6939a92eff.png)

[2015-05-07 03:30] dhowe commented on #299
fixed, please verify

[2015-05-07 03:34] dhowe commented on #304
verified -- good bug @CyrusSUEN

[2015-05-07 03:34] dhowe commented on #304
fixed, please verify

[2015-05-07 04:03] dhowe opened #305 "Add option to hide badge display"

[2015-05-07 07:50] CyrusSUEN commented on #299
verified and closed

[2015-05-07 08:00] CyrusSUEN commented on #304
verified and closed

[2015-05-07 08:00] #304 closed

[2015-05-07 12:39] CyrusSUEN commented on #301
"clear ads now" restart browser and I can see 3 ads on www.qq.com
duckduckgo ads are the same:
* duckduckgo: https://duckduckgo.com/?q=fitness&t=ffsb&ia=about

#### Others sites in elemhide.js that are not passing:

* ebay: http://www.ebay.com/sch/i.html?_odkw=android&_from=R40&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.Xasdfasdf.TRS0&_nkw=asdfasdf&_sacat=0
* aol: http://search.ao

[2015-05-07 12:40] CyrusSUEN commented on #302
domains added and discuss the failed rules at https://github.com/dhowe/AdNauseam/issues/301

[2015-05-07 12:40] #302 closed

[2015-05-07 13:18] CyrusSUEN commented on #279
The number of ads shown in menu increases over time and I don't think they should be included.

[2015-05-07 14:01] dhowe commented on #305
done, please verify

[2015-05-07 14:18] CyrusSUEN commented on #305
verified and updated locale files: https://github.com/dhowe/AdNauseam/pull/306

[2015-05-07 14:24] #305 closed

[2015-05-07 15:51] CyrusSUEN commented on #266
Most of them are of Google Ad Choice or Google DoubleClick, especially the top 15 sports, media and sports sites. Do you think we should create a new ticket for detecting Google Ads?

[2015-05-07 16:20] dhowe commented on #266
yes,  sounds good...  include the iframe structure in the ticket

On May 7, 2015 11:51:48 PM GMT+08:00, Cyrus S <notifications@github.com> wrote:

[mobile]

[2015-05-07 16:49] CyrusSUEN commented on #298
http://archive.hkgolden.com/topics.aspx?type=BW
http://archive.hkgolden.com/topics.aspx?type=BW

[2015-05-07 17:15] dhowe commented on #299
please check again

[2015-05-07 17:35] CyrusSUEN opened #307 "Google Ads detections not working"
At the bottom of the [spreadsheet](https://docs.zoho.com/sheet/ropen.do?rid=fc48x64b6bc4d9e534532b322c52876ee8cf1) is the list of the websites using Google Ads.

On http://www.cnet.com/
[code]

On http://www.zdnet.com/
[code]
Webmaster placed a div for displaying an ad followed by inline script to generate a [ div > iframe ]

[2015-05-07 17:45] CyrusSUEN commented on #299
verified and closed

[2015-05-07 17:45] #299 closed

[2015-05-08 09:25] dhowe commented on #307
So what is the structure here?

[2015-05-08 09:57] CyrusSUEN commented on #307
Yes. It's JS-generated iframe (and script blocked) that after I added the domain to parser.js I can see the structure from developer console.

[2015-05-08 09:58] dhowe commented on #307
Can you write an elem-hide rule for it?

[2015-05-08 10:23] CyrusSUEN commented on #307
Yes, I'm trying.

BTW do you encounter error msgs in terminal on www.cnet.com?
[code]

[2015-05-08 10:35] dhowe commented on #307
No, I get no such error either with or without allowing scripts to run.

FYI, this is probably the hiding rule we should focus on:

    ElemHide: iframe[id^="google_ads_iframe"]

[2015-05-09 09:08] dhowe commented on #278
current impl. doesn't bother, but feel free to open a new ticket for it...

[2015-05-09 09:08] #278 closed

[2015-05-09 09:09] dhowe commented on #269
@cyrus, please link the stackoverflow question and mozilla bug report here

[2015-05-10 10:28] dhowe opened #310 "Canonical Google ad in IFRAME"
https://gigaom.com/

[2015-05-10 13:57] dhowe commented on #310
working ok now

[2015-05-10 13:57] #310 closed

[2015-05-10 13:58] dhowe commented on #300
done

[2015-05-10 13:58] #300 closed

[2015-05-11 05:08] CyrusSUEN commented on #269
[Stackoverflow](http://stackoverflow.com/questions/29972371/firefox-addon-element-abnormally-flashing-using-css-animation-on-mac)
[Mozilla bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1160448)

[2015-05-11 05:50] dhowe commented on #189
good for now

[2015-05-11 05:50] #189 closed

[2015-05-11 06:04] dhowe commented on #279
Can no longer recreate this...

[2015-05-11 06:04] #279 closed

[2015-05-11 10:37] mushon commented on #269
@CyrusSUEN @dhowe I tried a few tricks, none worked. It seems like any animation will be causing these flickers. I did manage to minimize the problem by limiting the animation to the .thumb and img elements, but they still flicker (it's just not as severe as with the whole li element). [Check it here](https://dl.dropboxusercontent.com/u/2040562/drop/CSSFlashing.zip)
Say, did you try to do the anim

[2015-05-11 11:32] CyrusSUEN commented on #301
AOL text has been fixed.

[2015-05-11 13:13] CyrusSUEN commented on #298
Now that the ad can be detected but it only shows AdSense help.

[2015-05-11 13:15] CyrusSUEN commented on #307
Now that ads from http://www.zdnet.com/ and http://www.cnet.com/ can be detected. Closed.

[2015-05-11 13:15] #307 closed

[2015-05-11 13:41] CyrusSUEN opened #311 "menu: new ads detected but showing 'No ads on this page' on duckduckgo.com"
steps to reproduce:

1. Go to https://duckduckgo.com/?q=credit+card&t=ffsb&ia=about 2 ads shall be correctly identified.
![1](https://cloud.githubusercontent.com/assets/2461812/7565922/7c58ea2c-f826-11e4-8915-86383f4734e4.png)

2. search for keyword e.g. 'gym' from duckduckgo search bar from the website in current tab
New ad is detected but Menu shows 'No ads on this page'
![2](https://cloud.githu

[2015-05-11 13:59] dhowe commented on #311
verified

[2015-05-11 14:38] CyrusSUEN commented on #298
http://www.vulture.com/
https://gigaom.com/
http://www.sportingnews.com/

[2015-05-11 15:43] CyrusSUEN opened #312 "Lack of regex for Google Ad text Ad in some sites"
The Google Ad of the following sites sometimes shows text ad instead of image ad.
In case of showing text ads, ADN cannot identify them.

http://www.foxsports.com/
http://www.pcworld.com/
http://www.dailymotion.com/tw

e.g. on foxsports
![3](https://cloud.githubusercontent.com/assets/2461812/7568782/54e3c4b0-f837-11e4-85c1-a22140118c0f.png)
title selector: .rh10c
text selector: .rh11c
site selecto

[2015-05-11 22:23] dhowe opened #313 "http://www.cbssports.com/ shows blank page"

[2015-05-12 07:28] dhowe opened #314 "Java/selenium code for testing page-counts"
Clone this project into eclipse: https://github.com/dhowe/AddonTestHarness

Then run:  ath.adnauseam.AdNauseamPageVisitor.java

Then add the 3 top-15 lists to TEST_URLS array at the top (45 total) and post the results...

[2015-05-12 09:29] CyrusSUEN commented on #314
Top 15 media
RESULTS:
[{"count":2,"url":"http://www.ew.com/"},{"count":0,"url":"http://www.hollywoodreporter.com/"},{"count":10,"url":"http://variety.com/"},{"count":6,"url":"http://deadline.com/"},{"count":0,"url":"http://www.adweek.com/"},{"count":0,"url":"http://www.thewrap.com/"},{"count":0,"url":"http://www.mediaite.com/"},{"count":2,"url":"http://www.mediabistro.com/"},{"count":0,"url":"http

[2015-05-12 09:33] dhowe commented on #314
now we can add the other 30, then add the counts to the spreadsheet

[2015-05-12 09:37] dhowe commented on #314
pull the java code first, I've added arguments and a maven plugin, so you can run it with:
mvn exec:java
OR
mvn exec:java -Dexec.args="PROFILE_NAME"

[2015-05-12 10:58] CyrusSUEN commented on #314
No count for url: http://www.cnet.com/
{ count: 0, url: http://www.cnet.com/ }
No count for url: http://www.mashable.com/
{ count: 0, url: http://www.mashable.com/ }
No count for url: http://www.techcrunch.com/
{ count: 0, url: http://www.techcrunch.com/ }
{ count: 0, url: http://www.wired.com/ }
No count for url: http://www.zdnet.com/
{ count: 0, url: http://www.zdnet.com/ }
{ count: 0, url: http

[2015-05-12 11:22] CyrusSUEN commented on #314
updated and added a col 'Adn-Count (Script)'

[2015-05-12 14:58] #301 closed

[2015-05-12 19:56] dhowe commented on #269
Do you mean switching between css classes with javascript?

[2015-05-12 20:40] mushon commented on #269
No. I mean switching the opacity using a JS loop. Like it used to be done in the olden days, before CSS transitions: http://www.w3schools.com/jquery/jquery_fade.asp

[2015-05-13 04:37] dhowe commented on #314
Why are we getting so many zeros for pages that show ads when visited manually?

[2015-05-13 08:13] mushon commented on #222
Sorry for jumping in late to this discussion, but I wonder what would be the use case that would get users to want to do that? I feel there's a part of it that goes against the story we're telling in which none of this data is collected by **us**. I think we should hold off on this feature until we define a more ambitious version of that that actually sends my ads (anonymously) into a larger pool

[2015-05-13 08:21] mushon commented on #291
Resuggesting my idea for replacing the circles with next/previous buttons. It might have accidentally slipped under the radar, or it was dismissed without discussion…
Another option which could be interesting is to break into a grid based on the ad's height. That way the 24 ad bullets in the ad above would look something like this:
[code]
What say you?

[2015-05-13 08:38] mushon commented on #283
For the reasons I mentioned in my discussion with @dhowe I suggest to push this to the "possible futures" milestone

[2015-05-13 08:44] CyrusSUEN commented on #291
I think it's good @mushon. But I am afraid it still has a upper limit. In case of reaching the upper limit, how should it be handled?

Perhaps we can combine that with:

[2015-05-13 09:00] mushon commented on #291
It doesn't really have an upper limit as the lightbox mode is scrollable. but I guess we could impose an upper limit like this:
[code]

[2015-05-13 11:03] dhowe commented on #269
Same problem

[2015-05-13 11:22] mushon commented on #269
So should we go with the less glitchy .thumb animation I proposed instead and follow up with Firefox on fixing the bug?

[2015-05-13 11:26] dhowe commented on #269
Doesn't seem any less glitchy to me... just covering a smaller area.
Is there another property we might animate, besides 'opacity'?

[2015-05-13 11:28] CyrusSUEN opened #315 "Sites where ads re-appear with ADN enabled"
http://www.webpronews.com/

With ABP only
![2](https://cloud.githubusercontent.com/assets/2461812/7609966/51126c72-f9ab-11e4-8998-71067d729d0c.PNG)

With ABP + ADN
![1](https://cloud.githubusercontent.com/assets/2461812/7609978/5d2df544-f9ab-11e4-8c1f-daaa6c7ae62a.PNG)

Pause ADN from the ADN menu does not 'fix' the problem.
Even ADN is paused before visiting the site, the problem persists when th

[2015-05-13 11:51] mushon commented on #269
I've already tried. It glitches on any type of animation. I guess it has something to do with redrawing of the pixels. :(

[2015-05-13 11:56] dhowe commented on #269
ok, so lets go with the .thumb animation for now

[2015-05-13 11:58] dhowe commented on #313
can no longer recreate -- closing

[2015-05-13 11:58] #313 closed

[2015-05-13 13:00] dhowe opened #316 "Side-effects when paused via menu-button"
see http://www.webpronews.com for a test
Pause ADN from the ADN menu and ads still appear that don't with only ABP.
Only workaround is to disable it from Firefox addon page.

[2015-05-13 13:03] dhowe commented on #316
please verfy that view is the same no matter how ADN is disabled (via addon-manager or via adn-menu)

[2015-05-13 13:03] dhowe commented on #315
fixed please verify

[2015-05-13 13:04] dhowe opened #317 "Menu should empty when ADN is disabled (and badge should disappear)"
and should remain empty if re-opened

but should refill with ads when ADN is unpaused

![screen shot 2015-05-13 at 9 05 36 pm](https://cloud.githubusercontent.com/assets/737638/7611020/f4680852-f9b3-11e4-8f1f-fbcbf0a34eaa.png)

[2015-05-13 13:13] CyrusSUEN commented on #315
verified and closed

[2015-05-13 13:21] CyrusSUEN commented on #316
I think this ticket and #315 are 2 of a kind.
Cannot verify this when all I have is just one site/url for testing.

Closed for now

[2015-05-13 13:35] #316 closed

[2015-05-13 15:03] CyrusSUEN commented on #314
When the badge number is 0 or 1, the program reports 0.
Starting at number 2, the program reports it correctly.

[2015-05-13 16:08] dhowe commented on #315
fixed: please re-verify

[2015-05-13 16:49] CyrusSUEN commented on #315
Looks good now but there are some error on the terminal
[code]

[2015-05-14 07:35] dhowe commented on #315
Where did you see this error?

[code]

[2015-05-14 07:42] CyrusSUEN commented on #315
I cannot reproduce the error anymore. It should have happened when I launch Firefox with ADN and on http://www.webpronews.com/.

Guess this is another issue and it was not related to this fix.

[2015-05-14 09:36] dhowe commented on #317
please verify

[2015-05-14 11:29] CyrusSUEN commented on #317
Verified.

But I think the badge of 'VIEW AD VAULT' button should be gone or keep the original count number instead of showing 0.
What do you think?

[2015-05-14 13:38] dhowe commented on #317
Or perhaps grayed-out...

[2015-05-14 16:19] CyrusSUEN commented on #317
I think it's better to keep the original count number.
Because we are to "pause ADN" not disable ADN.
Like pausing a video, a viewer can still keep staring at the latest frame. After pause ADN a user can still check out the latest Ad Vault.

change line 253 of menu.js to the following should do the job
[code]

[2015-05-15 04:27] dhowe opened #318 "Incorrect title being parsed from text-ads"
Incorrectly includes this placeholder text ("Your browser indicates if you've visited this link")-- regex needs to be adjusted in elemhide.js

![screen shot 2015-05-15 at 12 26 55 pm](https://cloud.githubusercontent.com/assets/737638/7646937/4020e32c-fafe-11e4-80c4-57cf736d5851.png)

[2015-05-15 10:26] CyrusSUEN commented on #318
PR: https://github.com/dhowe/AdNauseam/pull/319
please verify

[2015-05-15 10:48] dhowe commented on #318
good job

[2015-05-15 10:48] #318 closed

[2015-05-15 13:12] CyrusSUEN commented on #311
fix verified

[2015-05-15 16:20] CyrusSUEN commented on #199
Problem no longer exists. Closed

[2015-05-15 16:20] #199 closed

[2015-05-15 16:55] CyrusSUEN commented on #200
added rules for finding ask.com text ad
https://github.com/CyrusSUEN/AdNauseam/commit/dc3bf1de8f2d7a1e22058273a9d0567c8d5e49d9
URL for testing: http://www.ask.com/web?qsrc=1&o=0&l=dir&q=credit+cards&qo=serpSearchTopBox

But still cannot find text ad in ask.com for the moment
[code]

[2015-05-15 17:14] CyrusSUEN commented on #314
I took some time to look at the code. But I can't figure out why 1 ad count will be reported as 0 ads.

[2015-05-15 17:14] dhowe opened #321 "Automated ad-count inserter fails on pages with one ad"
Moved from #314

@cyrussuen: "When the badge number is 0 or 1, the program reports 0. Starting at number 2, the program reports it correctly."

[2015-05-15 17:15] dhowe commented on #314
Created a separate issue for the problem cited aboce (#321)

[2015-05-15 17:19] CyrusSUEN commented on #314
Should we close this one then?

[2015-05-15 17:20] dhowe commented on #314
are you finished with adding all the URLs to the java class?

[2015-05-15 17:22] dhowe commented on #314
if so, close for now, until #321 (assigned to me) is fixed...

[2015-05-15 17:23] CyrusSUEN commented on #314
OK. I will be adding the remaining new lists at the meantime.

[2015-05-15 17:23] #314 closed

[2015-05-15 17:25] dhowe commented on #314
"I took some time to look at the code. But I couldn't figure out why 1 ad count will be reported as 0 ads.
I think the problems lies in ADN itself."

Do you understand how the automated tests work? Simple question: where does the java access the ad-count for a given page?

[2015-05-15 17:38] CyrusSUEN commented on #314
It guess it's the following
receiver
[code]

sender
data/count-inserter.js

[2015-05-15 17:56] CyrusSUEN commented on #312
Luckily there are similarities among the text ads sites
the text ad following has been found on http://www.dailymotion.com/tw
[code]
It has the same pattern as the one on http://www.foxsports.com/
![clipboard02](https://cloud.githubusercontent.com/assets/2461812/7658629/5a8d8a7e-fb6e-11e4-8ea1-9fc51630eb08.png)

But I think we should resort to this https://github.com/dhowe/AdNauseam/issues/27 when

[2015-05-15 22:22] dhowe commented on #317
But what happens when user goes to the next page? ADN is paused, so it does not know the number of ads on this page; it can either show the previous count (now incorrect), or show zero, or nothing. Perhaps best to hide the numbers altogether when ADN is paused...

[2015-05-15 22:23] dhowe commented on #314
right, so what does count-inserter.js actually do?

[2015-05-15 22:30] dhowe commented on #312
Why do you suggest this? Are you talking about "importing" or parsing text-ads? Why not just create a rule that covers all cases like the above?

[2015-05-17 11:47] dhowe opened #322 "Similar Ads on BoingBoing"
http://boingboing.net/2010/05/09/use-rust-particles-t.html
![screen shot 2015-05-17 at 7 47 24 pm](https://cloud.githubusercontent.com/assets/737638/7670192/9b2b26e4-fccd-11e4-83e1-7d8ff1953cbe.png)

[2015-05-17 12:31] dhowe commented on #321
please verify

[2015-05-18 10:02] CyrusSUEN commented on #321
[code]

[2015-05-18 10:05] dhowe commented on #321
Did you make sure the updated ADN code is in your firefox profile (i doubt it) ?

[2015-05-18 10:07] CyrusSUEN commented on #321
I updated both the Java program and ADN.

I also launched Firefox with ADN profile once before running the Java program.

[2015-05-18 10:14] CyrusSUEN commented on #321
Update: now it works. I launched the ADN just by loading the profile name from Firefox instead of ```cfx run -profile```.

After ```cfx run -profile```, it works correctly.

[2015-05-18 10:15] #321 closed

[2015-05-18 18:15] CyrusSUEN commented on #269
Updated menu.css and vault.css by limiting the animation to the .thumb and img elements: https://github.com/dhowe/AdNauseam/pull/323

[2015-05-18 18:22] CyrusSUEN commented on #317
![screen shot 2015-05-19 at 2 21 03 am](https://cloud.githubusercontent.com/assets/2461812/7687156/cbbd51aa-fdcd-11e4-8bdb-6865d7ee380d.png)
What about this? I think this is better than showing 0.

[2015-05-18 18:26] dhowe commented on #269
Did you test this? It appears that the animation no longer stops after visit

[2015-05-18 18:28] CyrusSUEN commented on #269
Sorry. Fixing that.

[2015-05-18 18:30] dhowe commented on #269
And did you add the same fix to vault.css? I don't see it...

[2015-05-18 19:24] CyrusSUEN opened #325 "Addontest: wrong count number or crashes on http://www.zdnet.com/"
On http://www.zdnet.com/
Sometimes it will report ad count is 0 (instead of the actual number 2 showing on the ADN badge).
Sometimes it crashes with the following error:

[code]

Website screenshot:
![screen shot 2015-05-18 at 7 59 42 pm](https://cloud.githubusercontent.com/assets/2461812/7680410/d905435c-fd98-11e4-9519-78ccb44c6f60.png)

[2015-05-18 19:34] CyrusSUEN commented on #269
I'm still fixing this. Perhaps I need to change setCurrent() in vault.js.
But I don't think the Ad Vault page (vault.css) has flickering issue nor requiring a fix.

[2015-05-19 03:42] dhowe commented on #325
This no longer seems the correct error (after commit "Fix to AddonTestHarness #3 take 2"). I see:

[code]

[2015-05-19 11:26] CyrusSUEN commented on #269
fix here: https://github.com/dhowe/AdNauseam/pull/326

[2015-05-19 11:49] CyrusSUEN commented on #325
Me too.
At least it will not halt the program running the remaining URLs.

[2015-05-19 11:52] CyrusSUEN commented on #317
OK. Closed.

[2015-05-19 11:52] #317 closed

[2015-05-19 13:20] dhowe commented on #325
I'll leave this open for now, but no longer assigned to you...

[2015-05-19 13:44] CyrusSUEN opened #327 "Vault: slow to open when more than a certain number of ads"
To open this Ad Vault:
![screen shot 2015-05-19 at 9 41 57 pm](https://cloud.githubusercontent.com/assets/2461812/7704301/252dc560-fe70-11e4-861b-f26818566fb0.png)

It prompts a warning:
![screen shot 2015-05-19 at 9 41 24 pm](https://cloud.githubusercontent.com/assets/2461812/7704299/20c2ab76-fe70-11e4-9df7-759f2c6db22c.png)

terminal log:
[code]

To test import the JSON file ```vault-#327-slow-t

[2015-05-19 14:15] dhowe commented on #269
We need to do the same for the 'just-visited' animation. I modified the relevant css rules but it only works for text-ads, not image-ads. Relevant css is below (from menu.css). Please investigate...

[code]

[2015-05-19 16:54] CyrusSUEN commented on #269
Do you want the the purplish effect on ('.ad-item.just-visited img') for 1500ms?
I think the problem is that the background-color of an image is covered by the image itself.
[code]
Unlike text which has plenty empty space to show its background color.

[2015-05-19 17:38] dhowe commented on #269
Not sure. I was thinking the background would fade in purple color from 0 to 1.0 opacity, then show the image... But I'm not sure.

[2015-05-19 18:07] CyrusSUEN commented on #269
PR for this: https://github.com/dhowe/AdNauseam/pull/329

Another way is to apply a purplish layer with opacity on top of ('.ad-item.just-visited img') and I was look for this implementation on the Internet.

[2015-05-19 18:19] mushon commented on #269
Would that help us avoid the flicker bug?

[2015-05-20 06:44] CyrusSUEN opened #330 "UnableToVisit ads"
http://unwire.hk/2014/10/17/pc_to_yosemite/tips-2/
Got an unable to visit ad from this site last night and exported the ad as ```#330-unable-to-visit.json```
However, right now I do not receive any unable to visit ads from the above URL.

Once imported, the ad can be clicked from the menu and will be directed to http://www.successfn.com/tc/

PR: https://github.com/dhowe/AdNauseam/pull/331

[2015-05-20 15:04] dhowe commented on #291
static html/css ?

[2015-05-20 15:07] #241 closed

[2015-05-20 15:08] #182 closed

[2015-05-20 15:12] dhowe commented on #292
This is the current logic (in the vault):
visited:   if any have been visited
failed:     if all are failed or pending
pending: if all are pending.

[2015-05-20 15:26] dhowe commented on #292
This is done but doesn't look very good in my opinion -- others?

[2015-05-20 15:26] #266 closed

[2015-05-20 15:29] #221 closed

[2015-05-21 09:36] CyrusSUEN commented on #292
Sometimes the color of the badge does not change even if all the ads are visited.
Will be changed if clicked on the menu icon.

[2015-05-21 09:37] dhowe commented on #292
Do you mean that it stays blue?

[2015-05-21 09:38] CyrusSUEN commented on #292
Yes

[2015-05-21 09:41] dhowe commented on #292
fixed. please retest

[2015-05-21 09:43] dhowe opened #332 "Vault: css animations flashing in vault (animations: attempting, just-visited, just-failed)"
Due to the the fact that opacity animation are currently buggy in FF/Mac at least... See #269.

[2015-05-21 09:51] CyrusSUEN commented on #292
Looks good now

[2015-05-21 09:52] mushon commented on #332
Maybe for now we should use some kind of preloading animation. Should I look into that?

[2015-05-21 10:00] CyrusSUEN opened #333 "Vault: prevent Firefox from launching"
If "Show my windows and tabs from last time" is set from Firefox > Options > General,
leaving only the Ad Vault tab open will result in Firefox getting automatically closed next time Firefox starts.

[2015-05-21 10:25] #292 closed

[2015-05-21 11:58] CyrusSUEN commented on #312
I've added the rule to elemhide.js but I'm not sure if it will work. Just like https://github.com/dhowe/AdNauseam/issues/200 we have rules but it fails to load the text ad.

[2015-05-21 12:34] CyrusSUEN commented on #333
I think in the above case, we should open a blank tab before closing the only remaining tab.

[2015-05-21 12:40] dhowe commented on #333
Verified.

[2015-05-21 12:43] dhowe commented on #332
Sure

[2015-05-21 12:44] dhowe commented on #330
What does PR 331 add?

[2015-05-21 13:04] CyrusSUEN commented on #333
PR: https://github.com/dhowe/AdNauseam/pull/334

[2015-05-21 16:42] CyrusSUEN commented on #330
Just a new file ```lib/test/#330-unable-to-visit.json``` of the unable-to-visit ad.

[2015-05-22 02:36] dhowe commented on #333
Still incorrectly closes the last FF window in some cases, e.g., when clearing all ads

[2015-05-22 02:36] dhowe commented on #333
Fixed in most recent commit.
Please verify.

[2015-05-22 02:46] dhowe opened #335 "Vault: need preloading animation when opening vault with many ads"
Probably some kind of progress meter, something like: http://creative-punch.net/2014/03/make-animated-image-gallery-percentage-preloader-css-jquery/

[2015-05-22 06:28] CyrusSUEN commented on #333
Fix verified. Closed

[2015-05-22 06:28] #333 closed

[2015-05-22 07:53] mushon commented on #269
ok, I am trying another approach - an APNG that covers the whole ``.li.attempting`` and animates between opacities of black. Hopefully this will do the trick and allow us to avoid the proposed #355 compromise. @dhowe & @CyrusSUEN please pull, compile, check and let me know what you think.

[2015-05-22 07:57] dhowe commented on #269
#335 is a separate issue concerned with the fact that a very large ad-vault sometimes take several seconds to load (before images appear)... so seems we could use a some kind "...loading, please wait..." animation

[2015-05-22 07:58] dhowe commented on #269
So what exactly are we look at here -- the just-visited animation in the vault?

[2015-05-22 08:01] mushon commented on #269
Yes, this is addressing the ``.attempting`` bug. Sorry #335 is indeed separate. Will address it separately.

[2015-05-22 08:06] dhowe commented on #269
the just-visited animation in the vault looks good to me (has it changed?) I still see no 'attempting' animation in the vault

[2015-05-22 08:19] mushon commented on #269
The fix I submitted only addresses the .attempting bug in the menu. It has nothing to do w the .just-visited or the vault

[2015-05-22 08:23] dhowe commented on #269
Note that the same bug exists for the just-visited and just-failed animations in the menu.

[2015-05-22 08:30] dhowe commented on #232
@mushon can you find a place for this on the website, or a button that links to this entry in the FAQ?

[2015-05-22 08:32] dhowe commented on #330
Perhaps we want to special case this situation, where an ad goes to doubleclick, with a redirect embedded in the url? E.g., http://adclick.g.doubleclick.net/pcs/click?xai=AKAOjstTaqQFW_iWggoHMeXJyWz0k_SyoLnxtshOJd8ZiQJ845IuEslzkb99Kf72zJ4qsKjp4gLT0sd9LPyV-bMQk5YI-CBAJtzDDlK5nHkiazyhIQl3_zfH39fTN0mPs56j&sig=Cg0ArKJSzG0AIoKSQmzh&adurl=http://adclick.g.doubleclick.net/aclk%3Fsa%3DL%26ai%3DCsALz33hbVc

[2015-05-22 08:32] #330 closed

[2015-05-22 08:52] mushon commented on #269
Let's confirm that this solution is good for us and if so I can create similar solutions for that.

[2015-05-22 08:54] dhowe commented on #325
@CyrusSUEN Using my test-class [here](https://github.com/dhowe/AddonTestHarness/blob/master/src/main/java/ath/adnauseum/issues/ZDNetTest.java), see if you can get this error to occur without AdNauseam. The very simplest case (as coded) does not show the error we need.

[2015-05-22 08:57] dhowe commented on #269
It seems quite subtle (not very noticeable) to me... Perhaps it is too slow (is it pulsing only every 1500ms)?

[2015-05-22 09:08] mushon commented on #269
it is currently set in CSS on ``opacity: 0.5;`` you can extend it to make the animation less subtle. I find the 0.5 satisfactory, but feel free to suggest otherwise

[2015-05-22 09:21] dhowe commented on #269
Sorry, I wasn't fully updated. I now see that its animating the full width of the menu (rather than just the image), and the flashing problem looks as bad as before.

[2015-05-22 09:28] mushon commented on #269
really? I haven't seen the flashing persist with this solution… Are you sure you're updated and there isn't any other CSS or JS animation causing the flashing?

[2015-05-22 09:32] dhowe commented on #269
Yes, though less frequently than before, for sure. It actually even happens with text-ads, but very very infrequently...

[2015-05-22 09:35] mushon commented on #335
how bout this one (pushed to img):
![preloader](https://cloud.githubusercontent.com/assets/27123/7767904/947d813c-0076-11e5-8012-581b365a9c61.gif)

[2015-05-22 09:50] mushon commented on #335
corrected frames (pushed)
![preloader](https://cloud.githubusercontent.com/assets/27123/7768159/b8bd9486-0078-11e5-890e-3080a45590ba.gif)

[2015-05-22 09:51] dhowe commented on #335
how do I see this?

[2015-05-22 09:52] mushon commented on #335
huh?

[2015-05-22 09:53] dhowe commented on #335
did you commit the working feature, or just the image?

[2015-05-22 10:00] mushon commented on #335
Just the image, I think it needs some JS to take the image (or background image) disappear when the Packery composition loads

[2015-05-22 10:02] dhowe commented on #335
So, no progress bar or percentage?

[2015-05-22 10:13] mushon commented on #335
No, the percentage based progress bar died a long time ago with Shockwave Flash ;)

[2015-05-22 10:20] dhowe commented on #335
If the user has to wait several seconds for a large set of ads to load, a repeating gif animation doesn't tell them anything -- the page will still appear to be hung

[2015-05-22 10:28] CyrusSUEN commented on #325
Error happened when running this java

[code]

[2015-05-22 10:32] dhowe commented on #325
but that is a different error. the point is to get the error we were getting in our code

[2015-05-22 10:42] mushon commented on #335
The role of a loader animation is to say:
Yes, we know you’re not seeing what you’re expecting to see just yet, but it would load shortly

Loading bars are frustrating as they build expectations (for loading speed) they never meet. That’s why you don’t see them anymore.

[2015-05-22 11:06] CyrusSUEN commented on #269
Flashing problem is much less severe than before sometimes.
However sometimes the problem is as bad as before.
Open two tabs at the same time (http://us.yahoo.com and nytimes.com), the flashing problem is as serious as before in one of the tabs.

[2015-05-22 11:13] CyrusSUEN commented on #269
I think the key to workaround this Firefox bug is to minimize the exposure of the length of any kind of CSS animation.
The layer (from Firefox add on SDK) is not stable enough to render dynamic effect.

[2015-05-22 11:15] mushon commented on #269
It seems like every attempt to rapidly re-render pixels (aka animation) would lead to some level of flickering.
Have we heard anything from Mozilla about this issue? Are they looking into it?

[2015-05-22 11:19] CyrusSUEN commented on #269
Even scrolling the page will make it flicker.

Never heard back from Firefox. Don't think they are aware of this issue.

[2015-05-22 11:29] dhowe commented on #269
Another option, rather than pulsing the text-rectangle or image, would be to add a small indicator/visual-clue which is layered atop the ad (perhaps a small circle that can be animated to flash or pulse -- the smaller the pulsing item, the less bad this bug looks)...

[2015-05-22 11:45] mushon commented on #269
I just pushed another option which I think shouldn’t glitch as much (and when it would it would be hardly noticeable), would you guys give it a spin?

[2015-05-22 12:05] dhowe commented on #269
I like it. Though I would consider putting it on both sides of the menu (or perhaps just on the right?)

[2015-05-22 12:19] dhowe commented on #335
added some basic js for the preloader... please adjust css for the size/location you want. selector is: $('loading-img')

[2015-05-22 13:52] mushon commented on #269
Putting it in both sides would trigger the flickering again. I tried putting it on the right, it didn't look good. But you can try by simply giving it a ``right: 0``

[2015-05-22 15:03] mushon commented on #335
done ada10bedef04e3e5e63bffe262b9ac42340ce345

[2015-05-22 15:10] dhowe commented on #335
does this work for you? in my view it seems to show only one frame of the gif, then waits for all the other images to load (no animation)... note that I removed the redundant inline styles for the div

[2015-05-22 15:42] mushon commented on #335
Maybe add a slight delay for the loading so it doesn’t appear with every repack. I think a 2000ms delay would do the trick 

[2015-05-22 15:45] CyrusSUEN commented on #269
I hardly notice any flashing problem on the bar @keyframes border-ani.
Right now the selector ```.ad-item.just-visited``` in line 312 of menu.css is causing the culprit of most of the flashing problem.

[2015-05-22 16:51] mushon commented on #269
ok, I just posted a redesign to .just-visited (fb80c04de6ebb164ed6547a63b7c0ca67c0fa332) that doesn't cause flickering and actually looks better than the previous design IMO. If you guys like it we might finally be able to close this endless thread…

[2015-05-22 17:08] CyrusSUEN commented on #269
I think the new animation is very good. And most importantly the flashing problem is gone. Thanks a lot!

[2015-05-22 18:00] CyrusSUEN commented on #325
That was me not specifying the Firefox profile. After setting a profile name of 'vanilla' I can finally test with the class.

[code]

[2015-05-22 18:13] CyrusSUEN commented on #325
The element '#yad-widget-2' from the [class](https://github.com/dhowe/AddonTestHarness/blob/master/src/main/java/ath/adnauseum/issues/ZDNetTest.java) is actually in zdnet.com but the default Firefox inspector cannot search for it.
Google Chrome's inspector can find it inside and iframe and after installing Firebug for Firefox I can find it as well.

[2015-05-23 07:32] dhowe commented on #269
Excellent

[2015-05-23 07:35] #269 closed

[2015-05-23 07:36] dhowe commented on #332
Can we use a similar animation as in #269?

[2015-05-23 07:47] mushon commented on #332
Wait. Since when is the animation flashing in the vault? I thought it only flashes in the popup

[2015-05-23 07:52] dhowe commented on #332
The ''attempting' animation flash problem was actually so bad in the vault that we disabled it. I will turn it back on so you can see...

[2015-05-24 06:11] mushon opened #336 "Remove previous attempt state class from vault ads when new attempt is made on them"
currently the ``.just-visited`` is removed from an ``.item`` only when and if a new item is attempting, but this causes a case that if an ad appears twice and is attempted in the vault right after its previous successful attempt, the ``.just-visited`` is maintained and a possible ``.just-failed`` class might be ignored.
I recommend removing any state class (``.just-visited`` ``.just-failed`` ``.at

[2015-05-24 06:11] mushon commented on #332
done in 0d29a3a4211d5c2467f0bbc2866df0b74466d689 please close if done + also note #336

[2015-05-24 07:27] dhowe commented on #336
fixed -- please verify

[2015-05-24 07:32] dhowe commented on #332
I don't see the commit above... Can you make sure you pushed it?

[2015-05-24 07:59] mushon commented on #332
try now

[2015-05-24 08:00] mushon commented on #291
added css to address this in 891be01be6d5b4af74c2c49464fe15bd4112ac19. Please add this (pseudocode):
``.bullets ul { height: [ad_height];}``

[2015-05-24 08:13] mushon commented on #336
done.

[2015-05-24 08:13] #336 closed

[2015-05-24 08:27] dhowe commented on #291
you intend 'height'  to be an array?

[2015-05-24 08:51] mushon commented on #291
no, don't take my pseudo-code too literally. I meant it as ``$('.ad').height()``

[2015-05-24 11:04] dhowe commented on #291
Implemented.. still some spacing issues

![screen shot 2015-05-24 at 7 01 02 pm](https://cloud.githubusercontent.com/assets/737638/7787614/9e4fab68-0247-11e5-8282-b21d5ed41e65.png)

[2015-05-24 11:09] mushon commented on #291
There has to be some sort of mistake in your code.
Note how in this image the banner ad is 125px yet the size set is 28px:
![screen shot 2015-05-24 at 2 07 27 pm](https://cloud.githubusercontent.com/assets/27123/7787627/e2373454-0215-11e5-8425-d52c20caf307.png)

[2015-05-25 01:16] dhowe commented on #291
give this a try (still not sure its correct in all cases)

[2015-05-25 06:18] mushon commented on #291
Nope…
still assigning incorrect size to the ``ul`` element.
In general I think we should save banner ads dimensions in the log, it would help us build a composition of ads even if not all ads have been loaded and possibly construct the packery composition faster allowing more gradual loading of the ads (and still representing ads that are no longer available). Coming to think about it, didn’t we h

[2015-05-25 23:08] dhowe commented on #297
@CyrusSUEN please update this list with all (positive) entries from the 2 spreadsheets (re-testing them first via selenium

[2015-05-25 23:10] dhowe commented on #291
can you give me a screenshot of a failed case (w' correct image height) ... or better yet, an exported json file

[2015-05-26 13:30] mushon commented on #291
It works with some of them but not with others. Could it be that it tries to calculate the height before the image loaded or something?

![screen shot 2015-05-26 at 4 27 31 pm](https://cloud.githubusercontent.com/assets/27123/7813478/37af273e-03c4-11e5-9165-61b112a08c5a.png)

Gist here:  https://gist.github.com/mushon/dc42add368d64e0f9f05

[2015-05-26 17:37] CyrusSUEN commented on #297
From top-100 sites
http://www.amazon.com/
http://www.qq.com/
http://weibo.com/
http://hao123.com/
http://reddit.com/
http://amazon.co.jp/
http://sohu.com/
http://xvideos.com/
http://imdb.com/
http://fc2.com/
http://amazon.de/
http://163.com/
http://bbc.co.uk/
http://amazon.co.uk/
http://nicovideo.jp/
http://cnn.com/
http://youku.com/
http://uol.com.br/
http://huffingtonpost.com/

Terminal output:

[2015-05-26 17:50] CyrusSUEN commented on #298
From top-15 list
http://www.niemanlab.org/
http://www.mashable.com/
http://www.techcrunch.com/
http://www.zdnet.com/
http://www.thenextweb.com/
http://www.searchengineland.com/
http://www.sports.yahoo.com/
http://www.espn.com/
http://www.cbssports.com/
http://www.si.com/
http://www.rantsports.com/
http://www.sportingnews.com/
http://www.fansided.com/
http://www.tmz.com/
http://mashable.com/
http:/

[2015-05-26 18:01] CyrusSUEN commented on #315
Reopen
issue on http://www.tomshardware.com/
![1](https://cloud.githubusercontent.com/assets/2461812/7819422/429c7976-0414-11e5-949e-89770cf38b03.PNG)

Pausing ADN from its menu or disabling addon and the ad will go away.

Perhaps we need a blacklist mechanism as you've mentioned before?

[2015-05-26 18:21] CyrusSUEN commented on #335
Even if I comment out
[code]

[code]
from repack() in vault.js, the first iteration of the animation is still laggy when I open vault page.

Unless I also commented out
[code]
from line 40 in vault.js

[2015-05-26 19:27] dhowe commented on #335
so the order we want is:
1) start gif animation
2) create-slider
3) show images
is this correct?

[2015-05-26 19:36] CyrusSUEN commented on #335
I think so. Preferably there is a worker or a thread to avoid overloading just one CPU core.
https://blog.mozilla.org/addons/2011/01/18/threads-n-workers-in-firefox-4/
http://stackoverflow.com/questions/9502281/concurrency-and-multi-threading-in-firefox-extensions

[2015-05-26 19:49] mushon commented on #335
If nothing works, try keeping the gif img element always there and hiding it by giving it a ``alpha: 0`` (not sure it would help, but it's worth trying)

[2015-05-26 19:55] dhowe commented on #335
thats how it works now

[2015-05-26 19:58] CyrusSUEN commented on #335
I think the current implementation of the animation is correct and the animation should have been playing and looping.

But right now when we open the vault page some functions such as createSlider() use too much CPU resource that other elements and the page are not responsive.
Right after the createSlider() finishes and the CPU become free, the gif animation has been called to go away.

I think i

[2015-05-26 20:34] mushon commented on #335
4) alpha:0 gif animation

And on repack:

1) alpha:1 gif animation
2) repack

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2015-05-26 22:29] dhowe commented on #315
see lib/parser.js::line 36
try adding the url above to 'blockablePageDomains'

[2015-05-27 03:11] cqx931 commented on #228
![adnauseampress_mockup](https://cloud.githubusercontent.com/assets/3056154/7828024/8d14b3d2-0460-11e5-9476-35f21f46e8e6.png)

[2015-05-27 03:53] dhowe commented on #228
Looks great... can you commit it a pull-request to the 'gh-pages' branch?

[2015-05-27 05:35] CyrusSUEN commented on #315
added but still unable to detect any ads from http://www.tomshardware.com/

[2015-05-27 05:46] mushon commented on #228
Yes, this is good.
We can start with this and later maybe use Isotype to do the language based filtering 

Thanks @cqx931 !

[2015-05-27 17:27] CyrusSUEN commented on #293
Found a way to log the console messages:
http://stackoverflow.com/questions/12893981/logging-to-console-from-firefox-extension?rq=1

[2015-05-27 18:45] CyrusSUEN commented on #335
In order not to freeze UI while running the time consuming function createSlider() in vault.js
I tried to make something like;;
```var worker = new Worker("chrome://AdNauseam/data/vault-slider.js");```
and replace all ```createSlider(true);``` with ```worker.createSlider(true);``` in vault.js.

But I have difficulty implementing the worker in the addon.
Here is the reference I studied:
http://stac

[2015-05-28 03:21] dhowe commented on #335
except for the occasional update messages from the addon, this page is just a web page
no need for anything firefox/addon specific

[2015-05-28 03:26] dhowe commented on #293
those are already enabled in my env and I don't see any messages for this error -- do you?

[2015-05-28 03:27] dhowe commented on #315
are any elemhide rules firing?

[2015-05-28 08:58] CyrusSUEN commented on #293
Yes, I can see the logs.
![1](https://cloud.githubusercontent.com/assets/2461812/7856285/91e6aa6e-055a-11e5-9daa-e30b161661dc.png)

Make sure you have done the following:
* in about:config of Firefox, right click and add a new String "extensions.sdk.console.logLevel" and give it the value "all"
* restart Firefox

[2015-05-28 09:55] CyrusSUEN commented on #293
Bug fixed: https://github.com/dhowe/AdNauseam/pull/339
Please verify.

[2015-05-28 10:59] CyrusSUEN commented on #335
I cannot run that in test mode.
I guess that is because of line 24 of vault.js ```var locale = self.options && self.options.locale; // for localization```

[2015-05-28 16:42] CyrusSUEN commented on #315
Yes

[code]

This URL is already included in https://github.com/dhowe/AdNauseam/issues/298

[2015-05-28 17:46] dhowe commented on #315
then let's add a regex rule

On May 28, 2015 12:42:47 PM EDT, Cyrus S <notifications@github.com> wrote:

[mobile]

[2015-05-29 01:58] cqx931 commented on #227
![Uploading Privacy.png…]()

[2015-05-29 02:29] dhowe commented on #228
Please commit the html/css to the gh-pages branch...

[2015-05-29 15:30] CyrusSUEN commented on #315
added the rules https://github.com/CyrusSUEN/AdNauseam/commit/88271b8dc0755ceffeab19239f9e509d4f9a7f4f
But still has problem targeting the img ads from tomshardware

```console.log: adnauseam: ElemHide: .bomAd```
Under .bomAd there is an iframe from Google

[2015-05-29 17:05] CyrusSUEN opened #341 "Menu: need layout fix for Spanish locale"
English version:
![english](https://cloud.githubusercontent.com/assets/2461812/7887934/49c0cdb0-0667-11e5-9e3c-78f4dee0448f.png)
Spanish version:
![spainish](https://cloud.githubusercontent.com/assets/2461812/7887935/4b72a35e-0667-11e5-9fc4-963b88c13e15.png)

The string "CLICKED 0 OF THE 0 ADS ON THIS PAGE" is too long for some languages. Perhaps we can place it a bit higher.

[2015-05-29 18:57] dhowe commented on #335
Does the problem exist when running in test-mode??
If so, then it has nothing to do with addon workers...

[2015-05-29 18:59] CyrusSUEN commented on #335
When running in test mode, the vault page finishes so quickly that the animation doesn't have time to finish.

[2015-05-29 19:29] dhowe commented on #335
do you mean that the images load so quickly...?
have you tried with a huge json file?

[2015-05-31 00:58] cqx931 commented on #228
https://github.com/cqx931/AdNauseam/commit/45b5cf443a2225faf550d66df3e2c7054d5dcf6a

[2015-06-01 17:39] CyrusSUEN commented on #341
Adjust the layout a bit.
English UI in the new version:
![1](https://cloud.githubusercontent.com/assets/2461812/7918974/ba2bb92c-08c7-11e5-9a8f-a71074797056.png)
Spanish UI in the new version:
![2](https://cloud.githubusercontent.com/assets/2461812/7918981/c2a0a450-08c7-11e5-8a48-4ca0d859e6c1.png)

https://github.com/CyrusSUEN/AdNauseam/commit/7e7fa3d6bf2ec3673cc429d04b4bb124bd163f86

[2015-06-02 16:15] CyrusSUEN commented on #38
Tested about memory according to this method: https://github.com/gorhill/uBlock/wiki/Firefox-version:-benchmarking-memory-footprint
and generated

#### Setup

1. clean and default Firefox settings with Shockwave Flash Flash disabled
1. Select the following filter lists in the benchmarked blockers:
    - EasyList China+EasyList
    - Adblock Warning Removal List
    - ABP-specifics: _"Acceptable ad

[2015-06-02 16:28] CyrusSUEN commented on #193
Don't think I can recreate this problem
I was testing the ad vault using the data from ```lib/test/test-ad-data.json```

But dragging the date filter can sometimes mess up the layout:
![1](https://cloud.githubusercontent.com/assets/2461812/7941055/3e884f9a-0987-11e5-81a0-5def39606f23.PNG)

[2015-06-02 16:46] dhowe commented on #193
i think the advault needs to be rewritten

[2015-06-02 17:28] CyrusSUEN opened #343 "toolbar icon missing in Private Window mode"
Other extensions such as AdBlock Plus still works in Private Window by default.

ADN is still shown as enabled in ```about:addons``` page. But the toolbar icon is nowhere to be found.
And no new ads to be found from the toolbar icon of the normal window even after visiting some sites with ads.

To reproduce: simply open a New Private Window (cmd + shift + p)

[2015-06-02 17:30] CyrusSUEN commented on #246
To do so we should also eliminate the found-on-page entry from exported json files because the the browsing history can also be traced back from the files.

But do we need this? I think inspecting the ad vault is just like viewing the browsing history. If there is no need to protect the browsing history, there is no need to put extra protection on ad vault page.

This brings a new question: does i

[2015-06-02 17:57] CyrusSUEN commented on #298
http://www.ask.com/web?q=credit+card&qsrc=0&o=0&l=dir&qo=homepageSearchBox

[2015-06-02 20:44] dhowe commented on #343
Please be specific about what is happening. Are the ads blocked? Is AdNauseam running? According to previous discussions, ads should be blocked, but AdNauseam should not be running.

[2015-06-02 21:34] dhowe commented on #283
Please add all finished translations to source-code

[2015-06-02 21:35] dhowe opened #344 "Add new key to crowdin translations"
adn.menu.alert.private
(also, please update Chinese files)

[2015-06-03 11:35] CyrusSUEN commented on #343
The message reverts to "No ads on this page" if you Clear Ads from the Private Window.

[2015-06-03 14:02] dhowe commented on #225
done.

[2015-06-03 14:02] #225 closed

[2015-06-03 14:09] dhowe commented on #228
seem to be some alignment problems -- @cqx931 can you take a look? http://adnauseam.io/press.html

also, we need the same for the privacy page: http://adnauseam.io/privacy.html

thanks!

[2015-06-03 14:49] sepans commented on #193
sure @dhowe I will play with it to see what is best.

[2015-06-03 14:56] CyrusSUEN commented on #283
Added in the pending PR

[2015-06-03 14:56] CyrusSUEN commented on #344
OK. Updated https://github.com/CyrusSUEN/AdNauseam/commit/6b5ab8e4a7a14de188ddd827d481a1eb538c6494

[2015-06-03 18:15] CyrusSUEN commented on #343
Also when the ad count is 0, open a private window and it still shows "No ads on this page" instead of "Disabled in private-browsing mode". I think this is the problem.

[2015-06-03 18:28] CyrusSUEN commented on #343
attempted fix here: https://github.com/CyrusSUEN/AdNauseam/commit/abb18ce724d092e293a46485b1b48cdac6107016

please verify

[2015-06-03 19:42] dhowe commented on #343
I don't see the problem you mention:

![screen shot 2015-06-03 at 3 40 14 pm](https://cloud.githubusercontent.com/assets/737638/7969753/117b9964-0a07-11e5-88a8-baa5a494eaa1.jpg)

[2015-06-04 06:23] CyrusSUEN commented on #341
PR: https://github.com/dhowe/AdNauseam/pull/345

[2015-06-04 06:25] CyrusSUEN commented on #344
Done and close

[2015-06-04 06:25] #344 closed

[2015-06-04 08:14] cqx931 commented on #228
Do you mean the alignment problem for the language section title? I have fixed that one, if you mean something else please include a screen shot, so that I can know the exact problem you mean.

https://github.com/cqx931/AdNauseam/commit/cc39039b9a43faa80ffbafb10f90149f6174f552

[2015-06-04 09:24] CyrusSUEN commented on #298
http://www.tomshardware.com/

added the rules https://github.com/CyrusSUEN/AdNauseam/commit/88271b8dc0755ceffeab19239f9e509d4f9a7f4f
But still has problem targeting the img ads from tomshardware

```console.log: adnauseam: ElemHide: .bomAd```
Under .bomAd there is an iframe from Google

[2015-06-04 09:24] CyrusSUEN commented on #315
Closed in favor of https://github.com/dhowe/AdNauseam/issues/298

[2015-06-04 09:24] #315 closed

[2015-06-04 10:53] CyrusSUEN commented on #298
#### List after manual screening:

http://www.niemanlab.org/
http://thenextweb.com/
http://www.sportingnews.com/
http://www.thedailybeast.com/
http://kotaku.com/
http://www.edmunds.com/
http://www.cargurus.com/ (no ads detected by AdBlock Plus)
http://www.carmax.com/ (no ads detected by AdBlock Plus)
http://www.carfax.com/ (no ads detected by AdBlock Plus)
http://www.tomshardware.com/

[2015-06-05 03:09] dhowe commented on #343
Cannot re-create -- please include screenshots...

[2015-06-05 03:40] dhowe commented on #228
Still looks a bit funky to me.... If we consider 'english' to be centered, then neither 'AdNauseam' nor the languages are centered. Also I think 'Press and Links' looks strange off to the side like that. Perhaps center in white above the logo?

![screen shot 2015-06-04 at 11 35 53 pm](https://cloud.githubusercontent.com/assets/737638/7998998/cc701630-0b12-11e5-95d9-4845e9a45775.jpg)

[2015-06-05 03:46] dhowe commented on #228
Also, we will need two more 'icons' on the home page, one for "press" and one for "privacy policy". Do you want to try a simple mockup including these?

[2015-06-05 03:52] cqx931 commented on #228
Got it, I will do this later today.

[2015-06-05 09:38] CyrusSUEN commented on #343
This was the problem:
![screen shot 2015-06-05 at 5 30 34 pm](https://cloud.githubusercontent.com/assets/2461812/8003299/d5220d10-0ba8-11e5-90fd-c65b8c17e437.png)
Should show "Disabled in private-browsing mode" in private browsing mode.

To recreate the problem:
1. ```git checkout 6b5ab8e4a7a14de188ddd827d481a1eb538c6494``` (the commit right before the fix)
2. launch Firefox and do _"Clear Ads Now

[2015-06-05 16:31] CyrusSUEN opened #348 ""302 found" showing instead of title"
from nytimes page:
![screen shot 2015-05-24 at 1 55 45 am](https://cloud.githubusercontent.com/assets/737638/7785216/0972ad18-01b8-11e5-82d2-44c99967fcc8.png)

[2015-06-05 17:04] CyrusSUEN commented on #348
I can't reproduce this problem.

On http://www.nytimes.com/:
![3](https://cloud.githubusercontent.com/assets/2461812/8011016/c70e74cc-0be7-11e5-864c-a2306f544ae7.png)

On http://www.nytimes.com/2015/06/05/opinion/hillary-clinton-voting-rights-and-the-2016-election.html:
![4](https://cloud.githubusercontent.com/assets/2461812/8011036/f03525e4-0be7-11e5-9dcb-5ca5d2815a83.png)

Can you?

[2015-06-05 17:08] dhowe commented on #343
I am going to assume that this was fixed. But please verify that the blank menu problem is also fixed.

[2015-06-05 17:39] CyrusSUEN opened #349 "Menu: Page becomes blank with multiple instances of Firefox windows"
To reproduce:
1. open a Private Browsing window and click on the menu icon
2. close the Private Browsing window and open it again
3. click on the menu icon on Private Browsing window

Now it should be blank.

[2015-06-05 17:40] CyrusSUEN commented on #343
Thought I had fixed the blank menu problem as well.
Turns out I was fixing another blank problem caused by my fix for this ticket.

Close and move to https://github.com/dhowe/AdNauseam/issues/349

[2015-06-05 17:41] #343 closed

[2015-06-05 17:46] dhowe commented on #349
Confirmed.

![screen shot 2015-06-05 at 1 43 48 pm](https://cloud.githubusercontent.com/assets/737638/8011728/1f1efb46-0b89-11e5-8de9-d301d5ea6a09.png)

[2015-06-05 18:15] CyrusSUEN commented on #349
Thank you. This is a very good question.

Can reproduce the blank menu problem even without touching Private Browsing mode:
1. Open 2 windows of Firefox (cmd + n) and display them side by side
2. Click on ADN icon on either one of the windows and keep it open
3. Click on another ADN icon on another window

[2015-06-06 08:29] cqx931 commented on #228
![mockup](https://cloud.githubusercontent.com/assets/3056154/8018963/2006e6be-0c69-11e5-9121-686e89b2344d.png)

[2015-06-06 13:15] mushon commented on #228
Looking good, thanks @cqx931!

[2015-06-06 18:29] dhowe commented on #228
Please commit css/html to gh-pages branch...

[2015-06-06 18:31] dhowe commented on #228
@cqx931, can you also redo the FAQ image to make it more readable/obvious? A couple of people have mentioned not being able to find it...

[2015-06-10 05:18] #341 closed

[2015-06-10 05:19] #332 closed

[2015-06-10 05:19] dhowe commented on #293
ok

[2015-06-10 05:19] #293 closed

[2015-06-10 05:19] #283 closed

[2015-06-10 05:20] #177 closed

[2015-06-10 18:17] CyrusSUEN commented on #20
adopted the easier way: open scrolled to bottom
Please verify: https://github.com/dhowe/AdNauseam/pull/352

[2015-06-11 16:51] CyrusSUEN commented on #19
How often should it be?
What about do a page refresh every 60s or so?

[2015-06-11 16:58] dhowe commented on #19
lets do every 3 seconds while the log is open

[2015-06-11 17:04] dhowe commented on #20
good

[2015-06-11 17:04] #20 closed

[2015-06-11 19:05] CyrusSUEN commented on #19
I think 3 seconds is too short especially when the size of log file is huge. It may needs a few seconds to reload the page.
How about we emit a page refresh whenever Logger writes something?

BTW here is another PR that limit the number of log tab can be open to 1.

[2015-06-11 19:53] dhowe commented on #19
ok, but no more frequent than every 1 second (it should never refresh twice in the same second, even if the log is updated multiple times)

[2015-06-12 08:36] mushon commented on #294
I've edited the wiki home a bit but haven't found a way to hide pages from the sidebar. I wonder if there's another way that wouldn't require deleting them.

[2015-06-12 09:21] mushon commented on #232
done. please check

[2015-06-12 11:54] CyrusSUEN commented on #19
Tried and still too laggy when the log file is huge. Toggling the options is not smooth if I enable such a feature (because involving refreshing the huge log file).

Think we should simply make a periodically refresh every 30s or 60s.

[2015-06-12 16:35] dhowe commented on #19
How about only showing the last 50-100 lines, with a link at the bottom that says 'show full log'. When 100 lines are showing, we update whenever the log is updated (no more than 1/sec); when the full-log is showing, we don't update it.

[2015-06-12 16:52] CyrusSUEN commented on #19
Right now we are showing a txt log file in the browser.
To only show the last 50-100 lines we can create a temp JSON object recording only the latest 100 entries in the memory and to show the last 100 lines of log by rendering the JSON.

Is this what you mean?

[2015-06-12 17:17] dhowe commented on #19
that's fine,  but doesn't need to be json ... either way is fine

On June 12, 2015 12:52:24 PM EDT, Cyrus S <notifications@github.com> wrote:

[mobile]

[2015-06-16 20:25] sepans commented on #193
I am working on this branch: https://github.com/dhowe/AdNauseam/tree/crossfilter-sepans adding crossfiltering by different criteria.
Still working on features and fixing bugs but any feedback would be very useful.

[2015-06-19 13:50] dhowe commented on #193
I'm playing with it now (sorry for the slow reply). So I've loaded a new .json file with a few hundred ads and I'm trying the cross-filtering, and the filters seem to update correctly as I play with them, however the ad display does not...  For example, whenever I use the date-filter, I see no ads at all. But maybe this isn't implemented yet -- can you give me a sense of which parts I should be lo

[2015-06-19 14:41] sepans commented on #193
No I am still working on that part. Sorry I forgot to mention that in this thread. Mostly UI/UX and how it looks with different json files was something that I wanted to know your opinion about.

[2015-06-20 01:56] dhowe commented on #193
I quite like the functionality, but I wonder if we can be more efficient with the space, perhaps showing the additional sliders in some kind of overlay, so that they only take up space for the (advanced) users who choose to activate them...